@section Style {
    <link rel="stylesheet" href="~/static/css/animate.min.css">
    <style>
        .middle-box {
            max-width: 400px;
            margin: 0 auto;
            padding-top: 40px;
            text-align: center;
        }
        h1 {
            font-size: 170px;
        }
        h3 {
            font-weight: bold;
        }
    </style>
}
<div class="middle-box animated fadeInDown">
    <h1>500</h1>
    <h3>服务器内部错误</h3>
    <div>
        服务器好像出错了...
        <br />您可以返回主页看看
        <br />
        <br /><a href="/" class="layui-btn">主页</a>
    </div>
</div>