@section Style {
    <link rel="stylesheet" href="~/static/css/animate.min.css">
    <link rel="stylesheet" href="~/static/css/style.min.css">
}
<div class="middle-box animated fadeInDown" style="text-align:center;">
    <h1>500</h1>
    <h3 class="font-bold">服务器内部错误</h3>
    <div class="error-desc">
        服务器好像出错了...
        <br />您可以返回主页看看
        <br />
        <br /><a href="/" class="layui-btn">主页</a>
    </div>
</div>