@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.SystemName</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="~/static/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="~/static/easyui/themes/icon.css">
    <style>
        .header{height:55px;background-color:#2d3e50;color:#fff;border:none;}
        .footer{height:30px;background-color:#f2f2f2;}
        .sysTitle{font-size:26px;font-weight:bold;line-height:50px;padding-left:10px;}
        .welcomeInfo{line-height:28px;padding-left:10px;float:left;}
        .copyright{line-height:28px;padding-right:10px;float:right;}
        .panel-body{overflow:hidden;}
    </style>
</head>
<body class="easyui-layout">
    <div class="header" data-options="region:'north'">
        <div class="sysTitle">Known管理系统</div>
    </div>
    <div data-options="region:'west',title:'导航',split:true" style="width:200px;">
        <div class="easyui-accordion" style="height:100%;border:none;">
            <div title="About easyui" iconCls="icon-reload" style="padding:10px;">
                easyui help you build your web page easily
            </div>
            <div title="系统管理" iconCls="icon-reload" selected="true">
                <ul id="tt1" class="easyui-tree"></ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center'" style="border:none;">
        <div id="tt" class="easyui-tabs" style="height:100%;">
            <div title="Home">
            </div>
        </div>
    </div>
    <div class="footer" data-options="region:'south'">
        <div class="welcomeInfo">欢迎您！</div>
        <div class="copyright">&copy; Known</div>
    </div>

    <script src="~/static/easyui/jquery.min.js"></script>
    <script src="~/static/easyui/jquery.easyui.min.js"></script>

    <script>
        function addTab(title, url) {
            console.log([title,url]);
            if ($('#tt').tabs('exists', title)) {
                $('#tt').tabs('select', title);
            } else {
                var content = '<iframe scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:100%;"></iframe>';
                $('#tt').tabs('add', {
                    title: title,
                    content: content,
                    closable: true
                });
            }
        }

        $('#tt1').tree({
            data: [
                {
                    text: '功能管理',
                    state: 'open',
                    children: [
                        {
                            text: '常用网站',
                            children: [
                                {
                                    text: '百度',
                                    url: 'http://www.baidu.com'
                                },
                                {
                                    text: '博客园',
                                    url: 'http://www.cnblogs.com'
                                },
                                {
                                    text: '开源中国',
                                    url: 'http://www.oschina.com'
                                }
                            ]
                        },
                        {
                            text: 'Item12'
                        }
                    ]
                },
                {
                    text: 'Item2'
                }
            ],
            onClick: function (node) {
                console.log(node);
                if (node.url) {
                    addTab(node.text, node.url);
                }
            }
        });
    </script>
</body>
</html>