@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Known开发框架 - 主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/static/css/iconfont.css" media="all">
    <link rel="stylesheet" href="~/static/css/index.css" media="all">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Known开发框架</div>
            <ul class="layui-nav layui-layout-left" lay-filter="topMenu"></ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;" class="top-right" data-type="fullScreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="~/static/img/face.jpg" class="layui-nav-img">
                        管理员
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="top-right" data-type="userInfo">个人中心</a></dd>
                        <dd><a href="javascript:;" class="top-right" data-type="logout">安全退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="leftMenu"></ul>
            </div>
        </div>

        <div class="layui-body">
            <div class="layui-tab layui-tab-brief" lay-filter="tabMenu" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="1"><i class="layui-icon layui-icon-home"></i> 主页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src="/Home/Welcome" frameborder="0" class="layui-tab-iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer">© 2019-2020 - Known</div>
    </div>

    <div class="my-dblclick-box none">
        <table class="layui-tab dblclick-tab">
            <tr class="card-refresh">
                <td><i class="layui-icon">&#x1002;</i>刷新当前标签</td>
            </tr>
            <tr class="card-close">
                <td><i class="layui-icon">&#x1006;</i>关闭当前标签</td>
            </tr>
            <tr class="card-close-all">
                <td><i class="layui-icon">&#x1006;</i>关闭所有标签</td>
            </tr>
        </table>
    </div>

    <script src="~/static/layui/layui.js"></script>
    <script>layui.config({ base: '/static/js/' }).extend({ index: 'index' }).use('index');</script>
</body>
</html>
