@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.AppName</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/static/css/index.css" media="all">
</head>
<body class="layui-layout-body">
    <div class="loader"><div class="loader-inner"></div></div>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">
                <span class="mini-logo">K</span>
                <span class="full-logo">@ViewBag.AppName</span>
            </div>
            <ul class="layui-nav layui-layout-left" lay-filter="topMenu"></ul>
            <ul class="layui-nav layui-layout-right toolbar-right">
                <li class="layui-nav-item" title="刷新页面">
                    <a href="javascript:;" class="top-right" data-type="refresh">
                        <i class="layui-icon layui-icon-refresh"></i>
                    </a>
                </li>
                <li class="layui-nav-item" title="分享系统">
                    <a href="javascript:;" class="top-right" data-type="share">
                        <i class="layui-icon layui-icon-share"></i>
                    </a>
                </li>
                <li class="layui-nav-item" title="清理服务端缓存">
                    <a href="javascript:;" class="top-right" data-type="cache">
                        <i class="layui-icon layui-icon-delete"></i>
                    </a>
                </li>
                <li class="layui-nav-item" title="全屏切换">
                    <a href="javascript:;" class="top-right" data-type="fullScreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="~/static/img/face.jpg" class="layui-nav-img">
                        <span id="userName" style="margin-right:5px;"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" class="top-right" data-type="userInfo">
                                <i class="layui-icon layui-icon-username"></i> 个人中心
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="top-right" data-type="logout">
                                <i class="layui-icon layui-icon-logout"></i> 安全退出
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-tool">
            <i title="展开" class="toggleMenu layui-icon layui-icon-shrink-right" data-side="1"></i>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="leftMenu"></ul>
            </div>
        </div>
        <div class="layui-body">
            <div class="layui-tab layui-tab-brief" lay-filter="tabMenu" lay-allowclose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="1"><i class="layui-icon layui-icon-home"></i> 主页</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe id="ifmWelcome" frameborder="0" class="layui-tab-iframe"></iframe>
                    </div>
                </div>
                <div class="layui-tab-left layui-icon layui-icon-left"></div>
                <div class="layui-tab-right layui-icon layui-icon-right"></div>
            </div>
            <ul class="layui-tab-context layui-nav-child">
                <li><a href="javascript:;" tab-close="current"><i class="layui-icon layui-icon-close"></i> 关闭当前</a></li>
                <li><a href="javascript:;" tab-close="other"><i class="layui-icon layui-icon-close"></i> 关闭其他</a></li>
                <li><a href="javascript:;" tab-close="all"><i class="layui-icon layui-icon-close"></i> 关闭全部</a></li>
            </ul>
        </div>
        <div class="layui-footer">© 2019-2020 - Known</div>
    </div>
    <script src="~/static/layui/layui.all.js"></script>
    <script src="~/static/js/index.js"></script>
    <script>
        layui.use('admin', function () {
            var $ = layui.$, admin = layui.admin;
            admin.show({
                url: {
                    Welcome: '/Home/Welcome',
                    GetUserMenus: '/Home/GetUserMenus',
                    RefreshCache: '/Home/RefreshCache',
                    UserInfo: '/Home/UserInfo',
                    SignOut: '/signout'
                },
                callback: function (data) {
                    $('#userName').html(data.user.Name);
                }
            });
        });
    </script>
</body>
</html>
