@section Style {
    <link rel="stylesheet" href="~/static/css/animate.min.css">
    <link rel="stylesheet" href="~/static/css/style.min.css">
}
<div class="middle-box animated fadeInDown" style="text-align:center;">
    <h1>404</h1>
    <h3 class="font-bold">页面未找到！</h3>
    <div class="error-desc">
        抱歉，页面好像去火星了~
    </div>
</div>