@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error</title>
    <link rel="stylesheet" href="~/static/css/animate.min.css">
    <style>
        .middle-box {
            max-width: 400px;
            margin: 0 auto;
            padding-top: 40px;
            text-align: center;
        }
        h1 {font-size:30px;margin:0;padding:0;}
        h3 {font-weight:bold;margin:0;padding:0;}
    </style>
</head>
<body>
    <div class="middle-box animated fadeInDown">
        <h1>软件未授权</h1>
        <h3>服务器内部错误</h3>
        <div>
            服务器好像出错了...
        </div>
    </div>
</body>
</html>