<style>
    .layui-carousel-ind {
        position: absolute;
        top: -41px;
        text-align: right;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">待办事项</li>
                        <li>公司动态</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <table id="todoList"></table>
                        </div>
                        <div class="layui-tab-item">
                            <table id="companyNews"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">数据概览</div>
                <div class="layui-card-body">
                    <div class="layui-carousel" data-anim="fade" lay-filter="dataView">
                        <div carousel-item id="dataView">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">快捷方式</div>
                <div class="layui-card-body">
                    <div class="layui-carousel">
                        <div carousel-item>
                            <ul class="layui-row layui-col-space10">
                                <li class="layui-col-xs3">
                                    <a lay-href="home/homepage1.html">
                                        <i class="layui-icon layui-icon-console"></i>
                                        <cite>主页一</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="home/homepage2.html">
                                        <i class="layui-icon layui-icon-chart"></i>
                                        <cite>主页二</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="component/layer/list.html">
                                        <i class="layui-icon layui-icon-template-1"></i>
                                        <cite>弹层</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a kadmin-event="im">
                                        <i class="layui-icon layui-icon-chat"></i>
                                        <cite>聊天</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="component/progress/index.html">
                                        <i class="layui-icon layui-icon-find-fill"></i>
                                        <cite>进度条</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="app/workorder/list.html">
                                        <i class="layui-icon layui-icon-survey"></i>
                                        <cite>工单</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="user/user/list.html">
                                        <i class="layui-icon layui-icon-user"></i>
                                        <cite>用户</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/system/website.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>设置</cite>
                                    </a>
                                </li>
                            </ul>
                            <ul class="layui-row layui-col-space10">
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a lay-href="set/user/info.html">
                                        <i class="layui-icon layui-icon-set"></i>
                                        <cite>我的资料</cite>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['echarts', 'frame'], function () {
        var url = {
            GetTodoLists: '/Home/GetTodoLists',
            GetCompanyNews: '/Home/GetCompanyNews',
            GetDataView: '/static/data/chart.json',
            GetShortCuts: '/Home/GetShortCuts'
        };

        var $ = layui.jquery,
            carousel = layui.carousel,
            echarts = layui.echarts,
            frame = layui.frame,
            device = layui.device();

        //init carousel
        $('.layui-carousel').each(function () {
            var a = $(this);
            carousel.render({
                elem: this,
                width: '100%',
                arrow: 'none',
                interval: a.data('interval'),
                autoplay: a.data('autoplay') === !0,
                trigger: device.ios || device.android ? 'click' : 'hover',
                anim: a.data('anim')
            })
        });

        //init charts
        var divs = $('#dataView').children('div');
        var charts = [];
        var data = [];
        $.get(url.GetDataView, function (res) {
            data = res;
            initCharts(0);
        });
        
        function initCharts(index) {
            charts[index] = echarts.init(divs[index], layui.echartsTheme);
            charts[index].setOption(data[index]);
        }

        carousel.on('change(dataView)', function (e) {
            initCharts(e.index);
        });

        //init table
        frame.grid({
            name: 'todoList',
            config: {
                url: url.GetTodoLists, height: 200,
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    {
                        sort: true, field: 'Name', title: '任务名称', minWidth: 400,
                        templet: '<div><a href="" target="_blank" class="layui-table-link">{{d.Name}}</div>'
                    },
                    { sort: true, field: 'Qty', title: '待办数量', minWidth: 80 }
                ]]
            }
        });
        frame.grid({
            name: 'companyNews',
            config: {
                url: url.GetCompanyNews, height: 200,
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    {
                        sort: true, field: 'Title', title: '标题', minWidth: 280,
                        templet: '<div><a href="https://www.baidu.com/s?wd={{d.Id}}" target="_blank" class="layui-table-link">{{d.Title}}</div>'
                    },
                    { sort: true, field: 'CreateBy', title: '发布人', minWidth: 80 },
                    { sort: true, field: 'CreateTime', title: '发布时间', minWidth: 120 }
                ]]
            }
        });
    });
</script>