<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="test" value="测试"/>
    <add key="vint" value="1"/>
    <add key="vbool" value="true"/>
    <add key="ServiceName" value="Known主调服务"/>
    <add key="Server" value="Known"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" 
         connectionString="Data Source=.\SQLEXPRESS;Database=Known;User Id=sa;Password=1234;" 
         providerName="System.Data.SqlClient"/>
    <add name="Oracle"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xxx.xxx.xxx.xxx)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User ID=xxx;Password=xxx;"
         providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="MySql" 
         connectionString="Data Source=localhost;port=3306;Initial Catalog=xxx;user id=xxx;password=xxx;Charset=utf8;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client"/>
      <add name="Oracle Data Provider" 
           invariant="Oracle.DataAccess.Client" 
           description=".NET Framework Data Provider for Oracle."
           type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" 
           invariant="MySql.Data.MySqlClient" 
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.19.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" 
           invariant="Oracle.ManagedDataAccess.Client" 
           description="Oracle Data Provider for .NET, Managed Driver"
           type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
</configuration>
