<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="test" value="测试"/>
    <add key="vint" value="1"/>
    <add key="vbool" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Database=xxx;User Id=xx;Password=xxx;" providerName="System.Data.SqlClient"/>
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xxx.xxx.xxx.xxx)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User ID=xxx;Password=xxx;" providerName="Oracle.DataAccess.Client"/>
    <add name="MySql" connectionString="Data Source=localhost;port=3306;Initial Catalog=xxx;user id=xxx;password=xxx;Charset=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client"/>
      <add name="Oracle Data Provider" invariant="Oracle.DataAccess.Client" description=".NET Framework Data Provider for Oracle." type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
