<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="test" value="测试"/>
    <add key="vint" value="1"/>
    <add key="vbool" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SQLEXPRESS;Database=SnsLite;User Id=sa;Password=123;" providerName="SqlServer"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>