@inherits AdminPage

<div class="kui-layout">
    <div class="kui-header">
        <div class="nav">
            <div class="toggleMenu"></div>
        </div>
    </div>
    <div class="kui-sider">
        <div class="logo"><img src="img/logo.png" /></div>
    </div>
    <div class="kui-body">
        @if (Context.UserSetting.MultiTab)
        {
        }
        else
        {
        }
    </div>
</div>

@code {

}