*{margin:0;padding:0;}
body{font-size:14px;font-family:'Microsoft YaHei',Verdana,sans-serif;margin:0;padding:0;}
ul{list-style-type:none;margin:0;padding:0;}
a{text-decoration:none;color:#333;}
a:hover{color:#f60;}
img{display:block;border:none;}
table{border-collapse:collapse;width:100%;}

.hide{display:none;}
.center{text-align:center;}
.red{color:#f00;}
.container{width:1000px;margin:0 auto;}
.clear-fix:after{content:' ';display:block;height:0;visibility:hidden;clear:both;}
.clear-fix{zoom:1;}
.area:hover{background-color:#f1f1f1;}

.page{height:35px;line-height:35px;color:#2f96b4;}
.page a{color:#2f96b4;}
.page a:hover{color:#f60;}

#header{background-color:#fff;padding:10px 0;border-bottom:1px solid #e8e8e8;}
#header .container{margin:0 auto;}
#header .logo{float:left;}
#header .nav{float:left;margin-left:70px;padding:10px 0;}
#header .nav li{float:left;text-align:center;font-size:18px;height:30px;line-height:30px;padding:0 20px;}
#header .nav li a{display:block;padding:0 2px;}
#header .nav li a:hover,#header .nav li a.current{color:#f60;border-bottom:2px solid #f60;}
#header .btn{float:right;padding:10px 0;}
#header .btn li{float:left;text-align:center;font-size:16px;height:30px;line-height:30px;}
#header .btn li a{display:block;padding:0 20px;margin-left:10px;color:#fff;background-color:#49afcd;}
#header .btn li a:hover{color:#fff;background-color:#2f96b4;}

#footer{background-color:#f1f1f1;padding-top:20px;padding-bottom:20px;}
#footer .content{width:960px;margin:0 auto 20px auto;}
#footer .column{float:left;margin-right:100px;}
#footer .column1{float:right;}
#footer h4{height:30px;line-height:30px;margin-bottom:10px;}
#footer ul li{height:30px;line-height:30px;}
#footer .copyright{text-align:center;color:#999;}
#footer .copyright a{color:#999;}
#footer .links{width:200px;}
#footer .links a{margin-right:5px;}

/*default*/
#slider{margin:0 auto 10px auto;width:100%;height:380px;overflow:hidden;position:relative;}
#slider .content li{height:380px;float:left;}
#slider .trigger{position:absolute;bottom:5px;text-align:center;width:100%;text-align:center;}
#slider .trigger li{display:inline;margin:0 10px 0 10px;color:#333;font-size:48px;line-height:18px;overflow:hidden;cursor:pointer;}
#slider .trigger li.current{color:red;}

/*login & register*/
form{margin:30px auto;}
form p{height:45px;line-height:45px;font-size:16px;margin:0 auto;padding:0;text-align:left;}
form p label{width:100px;font-size:16px;display:inline-block;}
form p input{padding:5px;font-size:16px;border:1px solid #ccc;width:200px;}
form p button{width:212px;height:35px;line-height:35px;background-color:#5bb75b;border:none;margin-top:10px;font-size:16px;font-weight:bold;cursor:pointer;color:#fff;}
form p button:hover{background-color:#51a351;}

/*about*/
.about-nav{float:left;width:120px;background-color:#f1f1f1;margin:10px 10px 10px 0;padding:10px 0;}
.about-nav li{height:35px;line-height:35px;padding-left:10px;font-size:16px;}
.about-nav li a:hover{font-weight:bold;}
.about-nav li a.current{font-weight:bold;color:#f60;}
.about-content{float:right;width:830px;margin:10px 0 10px 0;}
.about-content h3{margin:5px 0;}
.about-content li{list-style:circle;margin-left:45px;height:25px;line-height:25px;}
.about-content p{text-indent:2em;line-height:25px;}
#map{height:350px;border:1px solid gray;}

/*submitorder*/
#submitorder p{padding-left:10px;}
#submitorder p.title{font-weight:bold;border-bottom:1px dashed #2f96b4;margin-bottom:8px;}
#submitorder p .btn{border:1px solid #f70;padding:3px 10px 4px 10px;cursor:pointer;margin:2px 0 0 10px;}
#submitorder p .btn:hover{background-color:#fa0;color:#fff;}

/*myorder*/
#myorder{height:50px;line-height:50px;background-color:#f1f1f1;font-size:16px;}
#myorder label{font-size:16px;display:inline-block;padding:0 10px 0 10px;}
#myorder input{padding:5px;font-size:16px;border:1px solid #ccc;width:200px;}
#myorder select{padding:3px;font-size:16px;border:1px solid #ccc;}
#myorder button{height:28px;line-height:28px;background-color:#5bb75b;border:none;font-size:16px;cursor:pointer;color:#fff;padding:0 20px;margin-left:10px;}
#myorder button:hover{background-color:#51a351;}
.order-category{font-weight:bold;padding:5px;height:28px;line-height:28px;}
.order-category label{display:inline-block;text-align:center;}
.order-info{border:1px solid #ccc;background-color:#fff;margin-top:10px;}
.order-info:hover{border-color:#f60;}
.order-info h3{font-size:16px;height:28px;line-height:28px;padding-left:15px;background-color:#f1f1f1;border-bottom:1px solid #eee;}
.order-info h3 .no{font-size:14px;font-weight:normal;margin-left:20px;}
.order-info p{padding:7px 6px;}
.order-info p label{display:inline-block;}
.goods{width:25%;}
.from{width:25%;}
.to{width:25%;}
.money{width:10%;text-align:center;}
.status{width:5%;text-align:center;}
.action{width:10%;text-align:center;}


.box-address h3{border-bottom:1px solid #ccc;font-size:16px;height:30px;line-height:30px;}
.box-address p{border-bottom:1px solid #ccc;cursor:pointer;font-size:14px;}
.box-address p:hover{background-color:#f1f1f1;}
.box-address p span{display:block;line-height:25px;padding-left:10px;}
.box-address p .name{font-size:16px;}