@page "/home"
@inherits BasePage

<PageTitle>Home</PageTitle>

<div class="kui-card" style="padding:20px">
    <h1 style="font-size:2rem;font-weight:bold">Hello, world!</h1>

    Welcome to your new app.
</div>

@if (Context.HasButton(nameof(New)))
{
    <Button>新增</Button>
}
@if (Context.HasButton(nameof(Edit)))
{
    <Button>编辑</Button>
}
@if (Context.HasButton(nameof(TestItem)))
{
    <Button>TestItem</Button>
}

@code {
    [Action] public void New() { }
    [Action] public void Edit() { }
    [Action] public void TestItem() { }
}