@page "/"
@inherits BasePage

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
        <Button OnClick="Logout" Text="退出" />

        <div>
            <Menu Style="menu" Column="2" TextIcon="true" Items="menus" OnChanged="OnMenuChanged" />
        </div>
    </Authorized>
</AuthorizeView>
<div class="kui-header"></div>

@code {
    private MenuItem[] menus;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        menus = Client.GetMenus(CurrentUser);
    }

    private void OnMenuChanged(MenuItem menu)
    {
        if (string.IsNullOrWhiteSpace(menu.Id))
            return;

        Navigation.NavigateTo(menu.Id);
    }

    private void OnLogin()
    {
        Navigation.NavigateTo("login");
    }

    private async Task Logout()
    {
        await AuthProvider.UpdateAuthenticationState(null);
        Navigation.NavigateTo("/", true);
    }
}
