<div id="gridModule" class="mini-datagrid" style="width:100%;height:100%;">
    <div property="toolbar">
        <table style="width:100%;">
            <tr>
                <td id="tbModule">
                    <a class="mini-button" plain="true" id="add" iconCls="fa-plus">新增</a>
                    <a class="mini-button" plain="true" id="edit" iconCls="fa-pencil">编辑</a>
                    <a class="mini-button" plain="true" id="import" iconCls="fa-sign-in">导入</a>
                    <a class="mini-menubutton" plain="true" iconCls="fa-bars" menu="#menuBatch">批量</a>
                    <ul id="menuBatch" class="mini-menu" style="display:none;">
                        <li id="delete" iconCls="fa-minus">删除</li>
                    </ul>
                </td>
                <td id="queryModule" style="text-align:right;">
                    <input class="mini-hidden" id="pid" name="pid" />
                    <input class="mini-buttonedit searchbox" id="key" name="key" style="width:150px;" emptyText="请输入关键字" />
                </td>
            </tr>
        </table>
    </div>
    <div property="columns">
        <div type="indexcolumn"></div>
        <div type="checkcolumn"></div>
        <div name="Name" field="Name" width="150">名称</div>
        <div name="Url" field="Url" width="100%">Url</div>
        <div name="Sort" field="Sort" width="100" headerAlign="center" align="center">顺序</div>
        <div type="checkboxcolumn" name="Enabled" field="Enabled" width="60">可用</div>
    </div>
</div>

<script>
    var ModuleGrid = {

        option: null,
        grid: null,
        pid: '0',

        show: function (option) {
            if (option.node) {
                this.pid = option.node.id;
            }
            this.option = option;
            this.grid = new Grid('Module', {
                url: '/api/Module/QueryModules',
                idField: 'Id',
                multiSelect: true,
                showToolbar: true,
                query: { pid: this.pid }
            });
            this.grid.on('drawcell', this.onModuleDrawCell);

            Toolbar.bind('tbModule', this);

            this.grid.load();
        },

        //grid
        onModuleDrawCell: function (e) {
            if (e.field === "Name") {
                e.cellHtml = '<span class="fa ' + e.record.Icon + '"></span>' + e.value;
            }
        },

        //toolbar
        add: function () {
            this.showForm({ Id: '', ParentId: this.pid, Enabled: true });
        },

        edit: function () {
            var _this = this;
            this.grid.checkSelect(function (row) {
                _this.showForm(row);
            });
        },

        import: function () {

        },

        delete: function () {

        },

        //private
        showForm: function (data) {
            var _this = this;
            Dialog.show({
                title: '模块管理', width: 600, height: 300,
                url: '/System/Partials/ModuleForm',
                callback: function () {
                    ModuleForm.show({
                        data: data,
                        callback: function () {
                            _this.grid.reload();
                            _this.option.callback && _this.option.callback();
                        }
                    });
                }
            });
        }

    };
</script>
