@model Known.Web.ViewModels.TreeGridViewModel


<div id="treegrid1" class="mini-pagertree" style="width:100%;height:100%;">
    <div property="columns">
        
    </div>
</div>



@section Foot {
    @Html.MinScript("static/modules/frame/" + Model.JsPath + "/index.min.js")
}