<ul class="kui-app-tab">
    @if (Items != null && Items.Count > 0)
    {
        foreach (var item in Items)
        {
            <li @onclick="e=>OnItemClick(item)" class="@(current == item.Id ? "active" : "")">
                <Icon Type="@item.Icon" Theme="outline" />
                <span>@item.Name</span>
            </li>
        }
    }
</ul>

@code {
    private string current;

    [Parameter] public List<Known.MenuItem> Items { get; set; }
    [Parameter] public Action<Known.MenuItem> OnClick { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        current = Items?.FirstOrDefault()?.Id;
    }

    private void OnItemClick(Known.MenuItem item)
    {
        current = item.Id;
        OnClick?.Invoke(item);
    }
}