<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="site_path" value="/kweb/"/>
        <add key="admin_path" value="/kweb/manage/"/>
    </appSettings>
    <connectionStrings>
        <add name="Default" connectionString="Data Source=.;Database=Known;User Id=sa;Password=dcjet;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <customErrors mode="Off" />
        <pages validateRequest="false">
            <namespaces>
                <add namespace="Known"/>
                <add namespace="Known.Web"/>
                <add namespace="Known.Models"/>
                <add namespace="Known.SLite"/>
            </namespaces>
        </pages>
        <httpModules>
            <add name="known_rewriter" type="Known.Web.UrlRewriter,Known"/>
        </httpModules>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="known_rewriter" type="Known.Web.UrlRewriter,Known"/>
        </modules>
        <handlers>
            <add name="html-2.0" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
            <add name="html-2.0_64bit" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
            <add name="html-4.0" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
            <add name="html-4.0_64bit" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
        </handlers>
    </system.webServer>
</configuration>
