@import "common.css";

/*Index*/
.kui-header {
    position:absolute;top:0;left:180px;right:0;height:50px;
    background-color:var(--theme-color);color:#fff;
}
.kui-sider {
    position:absolute;top:0;left:0;bottom:0;width:180px;background-color:var(--side-color);
    /*background:linear-gradient(#1c66b9, #1c66b9);*/color:#fff;overflow:hidden;
}
.kui-scroll {position:absolute;top:50px;left:0;bottom:0;width:190px;overflow-x:hidden;}
.kui-body {position:absolute;top:50px;left:180px;right:0;bottom:0;overflow:hidden;background-color:#f1f1f1;}
.kui-sider .fa {width:16px;height:16px;margin-right:2px;text-align:center;}

/*header*/
.toggleMenu, .appName, .logo {height:50px;line-height:50px;}
.toggleMenu {float:left;text-align:center;width:50px;cursor:pointer;}
.appName {float:left;font-size:1.2rem;margin-left:10px;}
.logo {overflow:hidden;opacity:0.9;}
.logo img {width:auto;}
.logo .icon, .logo .text {display:block;font-size:2rem;font-weight:bold;color:#fff;text-align:center;}
.logo .icon {display:none;}
.logo:before {margin-right:15px;}
.topMenu {float:left;height:50px;padding:5px 10px 0 10px;}
.topMenu li {display:inline-block;height:43px;text-align:center;padding:0 15px;cursor:pointer;}
.topMenu li .icon {display:block;font-size:1.5rem;}
.topMenu li .name {display:block;font-size:0.8rem;}
.topMenu li.active {border-bottom:3px solid #1c66b9;}
.nav {box-sizing:border-box;padding-right:10px;}
.nav-item {position:relative;cursor:pointer;}
.nav .nav-item:before {font-size:1.2rem;}
.nav .nav-item {display:inline-block;line-height:49px;padding:0 10px;}
.nav .nav-item .text {font-size:1rem;}
.nav .nav-item .badge-top {top:5px;}
.nav .nav-item:hover {-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity=80);}
.nav .nav-item.text:hover {background-color:inherit;}
.nav-child {display:none;top:50px;right:5px;-webkit-transition:all .3s;transition:all .3s;}
.nav-child.show {display:block;}

/*sider*/
.side-user {text-align:center;padding-top:20px;}
.side-user img {width:60px;height:60px;margin:0 auto;}
.side-user .name {display:block;font-size:1rem;font-weight:bold;}

.leftMenu {padding:20px 0;}
.leftMenu li {cursor:pointer;height:60px;line-height:60px;padding:0 20px;font-weight:bold;}
.leftMenu li .icon {display:inline-block;font-size:1.5rem;}
.leftMenu li .name {display:inline-block;font-size:1.2rem;margin-left:15px;}
.leftMenu li.active {background-color:#fff;color:#000;}

.nav-tree {width:180px;}
.nav-tree .nav-child dd {padding-left:26px;}
.nav-tree .nav-item {position:relative;line-height:45px;}
.nav-tree .nav-title {padding:0 12px;}
.nav-tree .nav-item span.fa {position:absolute;top:13px;right:10px;-webkit-transition:all .3s;transition:all .3s;}
.nav-tree .nav-title,.nav-tree .nav-child dd {border-left:3px solid transparent;}
.nav-tree .nav-title:hover,.nav-tree .nav-child dd:hover {
    border-left-color:#5FB878;-webkit-transition:all .3s;transition:all .3s;
}
.nav-tree .nav-title.active,.nav-tree .nav-child dd.active {border-left-color:#5FB878;background-color:#2fb2e8;}

/*body*/
.kui-tips-tr {position:absolute;top:10px;right:10px;font-weight:bold;z-index:9999;line-height:40px;}
.kui-tips-bl {position:absolute;left:10px;bottom:10px;font-weight:bold;z-index:9999;}

.kui-tabs .tab.header {
    height:45px;overflow:hidden;background-color:#fff;
    border-bottom:1px solid #ccc;box-shadow:0 1px 1px 0 #eee;
}
.kui-tabs .tab li {margin:0;padding:10px 20px;font-size:1rem;position:relative;}
.kui-tabs .tab li .close {top:5px;right:0;color:#ccc;}
.kui-tabs .tab li .close:hover {color:#d9534f;}

.kui-content {position:absolute;top:40px;}
.kui-tabs .tab-body.top {top:57px;}
.kui-content, .kui-tabs .tab-body.top {
    left:10px;bottom:10px;right:10px;overflow:hidden;padding:10px;
    border-top:3px solid var(--line-color);background-color:#fff;
}

/*mini side*/
.kui-mini .kui-sider {width:50px !important;}
.kui-mini .kui-scroll {width:60px !important;}
.kui-mini .kui-header,
.kui-mini .kui-body,
.kui-mini .kui-footer {left:50px !important;}
.kui-mini .nav-tree .nav-child dd {padding-left:12px;}
.kui-mini .nav-tree span {display:none;}
.kui-mini .logo .icon {display:block;}
.kui-mini .logo .text {display:none;}

@media screen and (max-width:768px) {
    .kui-sider,
    .kui-scroll {width:50px !important;}
    .kui-body,
    .kui-footer {left:50px !important;}
    .kui-side .nav-tree .nav-child dd {padding-left:12px;}
    .kui-side .nav-tree span {display:none;}
}

#qvSysSetting {width:300px;}
#qvSysSetting .form-label {width:80px;}
#qvSysSetting .form-input {display:inline-block;}

/*view*/
.left-view {position:absolute;left:10px;top:10px;bottom:10px;overflow:auto;width:220px;}
.kui-content .grid-view, .tab-body .grid-view, .dlg-content .grid-view,
.kui-content .form-page, .tab-body .form-page,
.tab-body .left-view, .tab-body .grid-view, .tab-body .form-page {top:10px;}
.tab-body .grid-view.form-grid {bottom:60px;}

.left-tree {left:232px;top:0;bottom:8px;}
.left-tree .grid {top:40px;}
.grid-view.left-tree, .tab-body .grid-view.left-tree {left:240px;}

/*form*/
label.required:before, th.required:before {content:'*';color:#f00;padding-right:2px;}
button, .button, input, select, .form-input .text, .form-input .unit,
.form-label, .form-text, .form-radio, .form-tips {height:30px;line-height:30px;}
.form-input .icon, .form-input .unit, .form-input .btn, .search-box .icon {height:28px;line-height:29px;}
.inline .form-item, .inline .form-label, .inline .form-text, .inline .form-input, .inline .form-tips {display:inline-block;}
.module .tool {position:absolute;top:-50px;right:0;}

/*Install*/
.install {position:absolute;top:50%;left:50%;width:500px;height:540px;margin-left:-250px;margin-top:-300px;}
.install .title {margin:50px 0 20px 0;font-size:2rem;font-weight:bold;text-align:center;}
.install .form-body {border:none;}
.install .form-label {width:120px;text-align:right;}
.install .form-input {width:250px;display:inline-block;}
.install button {padding:0 35px;height:40px;line-height:40px;}

/*Login*/
.login {
    position:absolute;top:50%;left:50%;background-color:#fff;
    width:800px;height:400px;margin-left:-400px;margin-top:-200px;
    -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
}
.login-left {position:absolute;top:70px;left:90px;width:320px;height:250px;border-right:1px solid #ccc;}
.login .slogan {position:absolute;top:0;left:0;width:260px;text-align:center;color:#333;font-size:1.3rem;font-weight:bold;}
.login .image {position:absolute;top:50px;left:0;width:260px;height:180px;}
.login-form {position:absolute;left:410px;right:0;top:0;bottom:0;padding:50px;}
.login-form .title {padding-left:0;margin-bottom:20px;}
.login-title {font-size:1.3rem;font-weight:bold;margin-bottom:20px;text-align:center;}
.login .form-input {margin-bottom:20px;}
.login .form-input .icon {
    z-index:900;left:10px;top:10px;right:unset;color:#d2d2d2;font-size:1.3rem;
    height:auto;line-height:normal;background-color:#fff;
}
.login .form-input .fa-lock {left:11px;top:9px;font-size:1.6rem;}
.login .form-input input {height:40px;padding-left:40px;background-color:#fff;}
.login .form-radio input {height:20px;line-height:20px;}
.login button {width:100%;height:40px;margin-left:0;}
.login-msg {color:#d9534f;text-align:center;}

/*SysSystem*/
.ss-system {padding:10px 60px;}
.ss-terms .text {position:absolute;top:0;left:195px;}
.ss-form {position:absolute;top:0;left:10px;right:10px;bottom:10px;}
.tab-body .ss-form {top:10px;}
.ss-form .leftBar {position:absolute;left:0;top:0;bottom:0;width:180px;text-align:center;padding:0;}
.ss-form .form {position:absolute;top:0;left:191px;right:0;bottom:0;padding:50px;}
.ss-form .form-body {border-top:none;}
.ss-form .leftBar img {width:100px;height:100px;margin-top:40px;}
.ss-form .tab {position:absolute;left:0;top:180px;bottom:0;right:0;height:auto;border-right-width:0;}
.ss-form .tab li {text-align:center;}
.ss-form .userMessage {position:absolute;top:0;left:191px;right:0;bottom:0;}
.userMessage .grid-view {top:0;left:0;right:0;bottom:0;}

.ss-form .avatar {position:absolute;top:70px;right:150px;}
.ss-form .avatar .icon {
    font-size:7rem;width:150px;height:150px;line-height:150px;text-align:center;
    border:1px solid #ccc;background-color:#f1f1f1;color:#337ab7;
}
.ss-form .form-label {width:150px;padding-right:15px;text-align:right;}
.ss-form .form-input {display:inline-block;}
.ss-form .form-button {padding-left:195px;text-align:left;}
.ss-form .userMessage .form-label {width:auto;}
.ss-form .userMessage .form {margin-top:10px;}
.ss-form .userMessage .form-button {padding:10px;text-align:center;}
.ss-form .userMessage .noread {font-weight:bold;color:#000;}

/*SysDic*/
.form th.dic-extend {text-align:left;line-height:30px;}

/*SysRole*/
.role .form-button {width:40%;}
.role-module {position:absolute;left:41%;top:0;right:180px;bottom:0;overflow:auto;padding:10px;background-color:#f1f1f1;}
.role-button, .role-column {position:absolute;top:0;bottom:0;overflow:auto;padding:10px;background-color:#f3f3f3;width:160px;}
.role-button .form-radio, .role-column .form-radio {display:block;}
.role-button {right:161px;}
.role-column {right:1px;background-color:#f5f5f5;}