@inherits BaseComponent

<div>
    <Button Type="@ButtonType.Link" Disabled="!CanPrevious" Icon="left-circle" OnClick="OnPreviousAsync" Style="width:45px;" />
    <span>@Criteria.PageIndex / @PageCount</span>
    <Button Type="@ButtonType.Link" Disabled="!CanNext" Icon="right-circle" OnClick="OnNextAsync" Style="width:45px;" />
</div>