@inherits BaseComponent

<ul class="kui-app-tab">
    @if (Items != null && Items.Count > 0)
    {
        foreach (var item in Items)
        {
            if (!CheckItem(item))
                continue;

            <li @onclick="e=>OnItemClick(item)" class="@(current == item.Id ? "ant-btn-link" : "")">
                <Icon Type="@item.Icon" Theme="IconThemeType.Outline" />
                <span>@Language.GetString(item)</span>
            </li>
        }
    }
</ul>