@inherits BaseComponent

<ul class="kui-app-tab">
    @if (Items != null && Items.Count > 0)
    {
        foreach (var item in Items)
        {
            if (!item.Visible)
                continue;

            <li @onclick="e=>OnItemClick(item)" class="@(current == item.Id ? "active" : "")">
                <Icon Type="@item.Icon" Theme="IconThemeType.Outline" />
                <span>@item.Name</span>
            </li>
        }
    }
</ul>