@inherits BaseComponent

<ReloadContainer @ref="container">
    <div class="kui-code @Class">
        <div class="action ant-btn-link">
            <KIcon Icon="copy" Title="复制代码" OnClick="this.Callback<MouseEventArgs>(OnCopy)" />
            <KIcon Icon="download" Title="下载代码" OnClick="this.Callback<MouseEventArgs>(OnDownload)" />
        </div>
        <pre class="highlight">
            <code class="language-@Lang">@Code</code>
        </pre>
    </div>
</ReloadContainer>