@inherits BaseComponent

<div class="kui-edit-input">
    @if (isEdit)
    {
        <AntInput @bind-Value="Value" />
        <span class="kui-link" @onclick="e=>OnSaveClick()">@Language.OK</span>
        <span class="kui-link" @onclick="e=>isEdit=false">@Language.Cancel</span>
    }
    else
    {
        <span>@Value</span>
        <span class="kui-link" @onclick="e=>isEdit=true">@Language.Edit</span>
    }
</div>