<div>
    <span>&copy;2020-@($"{DateTime.Now:yyyy}")</span>
    <span>Powered By</span>
    <KAnchor Name="Known" Href="@Config.SiteUrl" Target="_blank" />
</div>
<div style="margin-top:10px;">
    <KAnchor Name="GITEE" Href="@Config.GiteeUrl" Target="_blank" />
    <span>&sdot;</span>
    <KAnchor Name="GITHUB" Href="@Config.GithubUrl" Target="_blank" />
</div>