@inherits BaseComponent

<div class="@ClassName">
    <div class="action ant-btn-link">
        <Tooltip Title="@Language[Title]">
            <div class="button" @onclick="OnFullScreenAsync">
                <Icon Type="@Icon" />
                @if (ShowIconName)
                {
                    <span style="margin-left:5px;">@Title</span>
                }
            </div>
        </Tooltip>
    </div>
    @ChildContent
</div>