@inherits BaseComponent

<div class="@ClassName">
    @if (!isFullScreen)
    {
        <div class="action ant-btn-link">
            <Tooltip Title="@Language[Title]">
                <Icon Type="@Icon" OnClick="OnFullScreenAsync" />
            </Tooltip>
        </div>
    }
    @ChildContent
</div>