<div class="kui-group-box">
    <label class="legend">@Title</label>
    <div class="body">@ChildContent</div>
</div>

@code {
    /// <summary>
    /// 取得或设置分组框标题。
    /// </summary>
    [Parameter] public string Title { get; set; }

    /// <summary>
    /// 取得或设置分组框子内容。
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }
}