@if (!string.IsNullOrWhiteSpace(Icon))
{
    if (Icon.StartsWith("fa"))
    {
        <span class="@Icon" @onclick="e=>OnClick?.InvokeAsync(e)"></span>
    }
    else
    {
        <Icon Type="@Icon" OnClick="e=>OnClick?.InvokeAsync(e)" />
    }
}

@code {
    /// <summary>
    /// 取得或设置图标。
    /// </summary>
    [Parameter] public string Icon { get; set; }

    /// <summary>
    /// 取得或设置图标单击事件。
    /// </summary>
    [Parameter] public EventCallback<MouseEventArgs>? OnClick { get; set; }
}