@inherits BaseComponent

<div id="@Id" style="@Style"></div>

@code {
    //PDF查看组件类，配置参考pdfobject.js。

    /// <summary>
    /// 取得或设置PDF组件样式字符串。
    /// </summary>
    [Parameter] public string Style { get; set; }

    /// <summary>
    /// 异步显示PDF文件。
    /// </summary>
    /// <param name="stream">PDF文件流。</param>
    /// <returns></returns>
    public async Task ShowAsync(Stream stream)
    {
        if (stream == null)
            return;

        await JS.ShowPdfAsync(Id, stream);
    }

    /// <summary>
    /// 异步显示PDF文件。
    /// </summary>
    /// <param name="pdfFile">PDF文件名或URL。</param>
    /// <returns></returns>
    public async Task ShowAsync(string pdfFile)
    {
        if (string.IsNullOrWhiteSpace(pdfFile))
            return;

        if (IsServerMode)
        {
            if (File.Exists(pdfFile))
            {
                var bytes = await File.ReadAllBytesAsync(pdfFile);
                var stream = new MemoryStream(bytes);
                await ShowAsync(stream);
                return;
            }
        }

        await JS.ShowPdfAsync(Id, pdfFile);
    }
}