@inherits BaseComponent

<div class="@ClassName">
    <div class="kui-strength-bar">
        <div class="kui-strength-inner">@Text</div>
    </div>
    <div class="kui-strength-text">@Tips</div>
</div>