@inherits BaseComponent

@if (Visible)
{
    <div class="kui-title">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(Text))
            {
                <span>@Language[Text]</span>
            }
            if (!string.IsNullOrWhiteSpace(SubText))
            {
                <KLink Class="kui-sub-title">@Language[SubText]</KLink>
            }
        }
    </div>
}