<div class="kui-title">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Text))
        {
            <span>@Text</span>
        }
        if (!string.IsNullOrWhiteSpace(SubText))
        {
            <span class="kui-sub-title">@SubText</span>
        }
    }
</div>

@code {
    /// <summary>
    /// 取得或设置组件标题文本。
    /// </summary>
    [Parameter] public string Text { get; set; }

    /// <summary>
    /// 取得或设置组件子标题文本。
    /// </summary>
    [Parameter] public string SubText { get; set; }

    /// <summary>
    /// 取得或设置标题组件子内容。
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }
}