<div class="kui-title">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Text))
        {
            <span>@Text</span>
        }
        if (!string.IsNullOrWhiteSpace(SubText))
        {
            <span class="kui-sub-title">@SubText</span>
        }
    }
</div>