@inherits BaseComponent

@if (Context.IsEditMode && CanEdit)
{
    <div class="@ClassName">
        <div class="name">@Name</div>
        <div class="action">
            @if (Draggable)
            {
                <span draggable ondragover="event.preventDefault()">
                    <KIcon Icon="drag" />
                </span>
            }
            <AntDropdown Model="model" />
        </div>
        @ChildContent
    </div>
}
else
{
    @ChildContent
}