@inherits BaseComponent

<div class="kui-query">
    <QueryForm Model="Query" />
</div>

<div class="kui-table">
    <Tabs Animated @bind-ActiveKey="@activeKey">
        <TabBarExtraContentLeft>
            <KTitle Text="@PageName" />
        </TabBarExtraContentLeft>
        <ChildContent>
            @TabContent
        </ChildContent>
        <TabBarExtraContentRight>
            @TabRight
        </TabBarExtraContentRight>
    </Tabs>
    @TabBottom
</div>