<template>
    <div class="layui-fit">
        <div class="fit-col">
            <table id="gridUser" class="layui-hide" lay-filter="gridUser"></table>
        </div>
    </div>
    <script type="text/html" id="tbUser">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">
                <i class="layui-icon layui-icon-addition"></i>新增
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="edit">
                <i class="layui-icon layui-icon-edit"></i>编辑
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="remove">
                <i class="layui-icon layui-icon-delete"></i>删除
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="imports">
                <i class="layui-icon layui-icon-add-1"></i>导入
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="role">
                <i class="layui-icon layui-icon-group"></i>角色
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="setPwd">
                <i class="layui-icon layui-icon-refresh"></i>重置密码
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="enable">
                <i class="layui-icon layui-icon-ok-circle"></i>启用
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="disable">
                <i class="layui-icon layui-icon-reduce-circle"></i>停用
            </button>
        </div>
    </script>
    <script type="text/html" id="dialogUser">
        <table class="layui-form form" lay-filter="formUser">
            <tr>
                <th style="width:80px;">用户名</th>
                <td>
                    <input type="hidden" name="Id">
                    <input type="text" name="UserName" lay-verify="required" placeholder="" readonly autocomplete="off" class="layui-input">
                </td>
                <th style="width:80px;">姓名</th>
                <td>
                    <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </td>
                <th style="width:80px;">英文名</th>
                <td>
                    <input type="text" name="EnglishName" placeholder="" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <th>座机</th>
                <td>
                    <input type="text" name="Phone" lay-verify="phone" placeholder="" autocomplete="off" class="layui-input">
                </td>
                <th>手机</th>
                <td>
                    <input type="text" name="Mobile" lay-verify="phone" placeholder="" autocomplete="off" class="layui-input">
                </td>
                <th>邮箱</th>
                <td>
                    <input type="text" name="Email" lay-verify="email" placeholder="" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <th>性别</th>
                <td>
                    <input type="radio" name="Gender" value="男" title="男">
                    <input type="radio" name="Gender" value="女" title="女" checked>
                </td>
                <th>状态</th>
                <td colspan="3">
                    <input type="checkbox" name="Enabled" lay-skin="switch" lay-text="启用|停用" value="1">
                </td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="5">
                    <textarea name="Note" placeholder="" class="layui-textarea"></textarea>
                </td>
            </tr>
        </table>
    </script>
</template>

<script>
    layui.define('helper', function (exports) {
        var url = {
            QueryUsers: '~/System/QueryUsers',
            DeleteUsers: '~/System/DeleteUsers',
            ImportUsers: '~/System/ImportUsers',
            SetUserPwds: '~/System/SetUserPwds',
            EnableUsers: '~/System/EnableUsers',
            GetUser: '~/System/GetUser',
            SaveUser: '~/System/SaveUser',
            GetUserRoles: '~/System/GetUserRoles',
            SaveUserRoles: '~/System/SaveUserRoles',
        };

        var $ = layui.jquery,
            layer = layui.layer,
            helper = layui.helper;

        var form = helper.form({
            name: 'formUser',
            defData: { Id: '', Enabled: 1 },
            config: {
                area: ['750px', '290px'],
                content: $('#dialogUser').html(),
                init: function (e) {
                    var userName = e.form.getField('UserName');
                    userName.attr('readonly', 'readonly');
                    if (e.data.Id === '') {
                        userName.removeAttr('readonly');
                    }
                }
            },
            toolbar: [{
                text: '保存', handler: function (e) {
                    var data = e.form.getData();
                    $.post(url.SaveUser, {
                        data: JSON.stringify(data)
                    }, function (result) {
                        layer.msg(result.message);
                        if (result.ok) {
                            data.Id = result.data;
                            e.form.setData(data);
                            e.form.close();
                            grid.reload();
                        }
                    });
                }
            }]
        });

        var grid = helper.grid({
            name: 'gridUser',
            config: {
                url: url.QueryUsers, toolbar: '#tbUser', height: 'full-25',
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { type: 'checkbox', fixed: 'left' },
                    { sort: true, title: '用户名', field: 'UserName', width: 100 },
                    { sort: true, title: '姓名', field: 'Name', width: 100 },
                    { sort: true, title: '英文名', field: 'EnglishName', width: 100 },
                    {
                        sort: true, title: '性别', field: 'Gender', width: 80, align: 'center', templet: function (d) {
                            if (d.Gender === '男') return '男';
                            return '<span style="color: #F581B1;">女</span>';
                        }
                    },
                    { sort: true, title: '座机', field: 'Phone', width: 120 },
                    { sort: true, title: '手机', field: 'Mobile', width: 120, align: 'center' },
                    { sort: true, title: '邮箱', field: 'Email', width: 150 },
                    {
                        sort: true, title: '状态', field: 'Enabled', width: 100, templet: function (d) {
                            var checked = d.Enabled ? ' checked' : '';
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|停用" disabled' + checked + '>';
                        }
                    },
                    { sort: true, title: '首次登录时间', field: 'FirstLoginTime', width: 150, align: 'center' },
                    { sort: true, title: '首次登录IP', field: 'FirstLoginIP', width: 100, align: 'center' },
                    { sort: true, title: '上次登录时间', field: 'LastLoginTime', width: 150, align: 'center' },
                    { sort: true, title: '上次登录IP', field: 'LastLoginIP', width: 100, align: 'center' }
                ]]
            },
            toolbar: {
                add: function (e) { form.show(); },
                edit: function (e) { e.editRow(form); },
                remove: function (e) { e.deleteRows(url.DeleteUsers); },
                imports: function (e) { },
                role: function (e) { setUserRoles(e); },
                setPwd: function (e) {
                    e.selectRows(function (e) {
                        layer.confirm('确定要将所选用户密码重置为默认密码？', function (index) {
                            layer.close(index);
                            $.post(url.SetUserPwds, {
                                data: JSON.stringify(e.ids)
                            }, function (result) {
                                layer.msg(result.message);
                                if (result.ok) {
                                    e.grid.reload();
                                }
                            });
                        });
                    });
                },
                enable: function (e) { enableUsers(e, 1); },
                disable: function (e) { enableUsers(e, 0); }
            }
        });

        function setUserRoles(e) {
            e.selectRow(function (e) {
                $.get(url.GetUserRoles, {
                    userId: e.row.Id
                }, function (res) {
                    selectRole({
                        user: e.row, roles: res.roles, value: res.value
                    }, function (data) {
                        layer.alert(JSON.stringify(data));
                    });
                });
            });
        }

        function selectRole(data, callback) {
            var transfer = layui.transfer;
            var userInfo = data.user.Name + '(' + data.user.UserName + ')';
            layer.open({
                type: 1, title: '设置角色 - ' + userInfo,
                area: ['450px', '300px'],
                content: '<div id="transUserRole"></div>',
                btn: ['确定', '关闭'],
                yes: function () {
                    layer.close(layer.index);
                    var data = transfer.getData('transUserRole');
                    callback && callback(data);
                },
                btn2: function () {
                    layer.close(layer.index);
                },
                success: function (layero, index) {
                    transfer.render({
                        id: 'transUserRole',
                        elem: '#transUserRole',
                        title: ['未选角色', '已选角色'],
                        data: data.roles,
                        value: data.value,
                        width: 180, height: 205
                    })
                }
            });
        }

        function enableUsers(e, enable) {
            var msg = enable === 1 ? '启用' : '停用';
            e.selectRows(function (e) {
                layer.confirm('确定要' + msg + '所选用户？', function (index) {
                    layer.close(index);
                    $.post(url.EnableUsers, {
                        data: JSON.stringify(e.ids), enable: enable
                    }, function (result) {
                        layer.msg(result.message);
                        if (result.ok) {
                            e.grid.reload();
                        }
                    });
                });
            });
        }

        exports('System_UserView', {});
    });
</script>