<template>
    <div class="layui-fit">
        <div class="fit-col">
            <table id="gridUser" class="layui-hide" lay-filter="gridUser"></table>
        </div>
    </div>

    <script type="text/html" id="tbUser">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">
                <i class="layui-icon layui-icon-addition"></i>添加
            </button>
            <button class="layui-btn layui-btn-sm" lay-event="remove">
                <i class="layui-icon layui-icon-delete"></i>删除
            </button>
        </div>
    </script>
    <script type="text/html" id="tbrUser">
        <a class="layui-btn layui-btn-xs" lay-event="right">角色</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="dialogUser">
        <table class="layui-form form" lay-filter="formUser">
            <tr>
                <th style="width:80px;">名称</th>
                <td>
                    <input type="hidden" name="Id">
                    <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </td>
            </tr>
            <tr>
                <th>选项</th>
                <td>
                    <input type="checkbox" name="Enabled" lay-skin="switch" lay-text="启用|禁用" value="1">
                </td>
            </tr>
            <tr>
                <th>备注</th>
                <td colspan="3">
                    <textarea name="Note" placeholder="" class="layui-textarea"></textarea>
                </td>
            </tr>
        </table>
    </script>
</template>

<script>
    layui.config({ base: '~/static/js/' }).define('index', function (exports) {
        var url = {
            QueryUsers: '~/System/QueryUsers',
            DeleteUsers: '~/System/DeleteUsers',
            GetUser: '~/System/GetUser',
            SaveUser: '~/System/SaveUser'
        };

        var $ = layui.jquery,
            layer = layui.layer,
            helper = layui.helper;

        var form = helper.form({
            name: 'formUser',
            title: '角色管理',
            defData: { Id: '', Enabled: 1 },
            config: {
                area: ['450px', '250px'],
                content: $('#dialogUser').html()
            },
            toolbar: [{
                text: '保存', handler: function (e) {
                    var data = e.form.getData();
                    $.post(url.SaveUser, {
                        data: JSON.stringify(data)
                    }, function (result) {
                        layer.msg(result.message);
                        if (result.ok) {
                            data.Id = result.data;
                            e.form.setData(data);
                            grid.reload();
                        }
                    });
                }
            }]
        });

        var grid = helper.grid({
            name: 'gridUser',
            config: {
                url: url.QueryUsers, toolbar: '#tbUser',
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { type: 'checkbox', fixed: 'left' },
                    { sort: true, title: '名称', field: 'Name', width: 100 },
                    {
                        sort: true, title: '状态', field: 'Enabled', width: 100, templet: function (d) {
                            var checked = d.Enabled ? ' checked' : '';
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|禁用" disabled' + checked + '>';
                        }
                    },
                    { sort: true, title: '备注', field: 'Note', width: 250 },
                    { fixed: 'right', title: '操作', toolbar: '#tbrUser', width: 150, align: 'center' }
                ]]
            },
            toolbar: {
                add: function (e) { form.show(); },
                remove: function (e) { deleteUsers(e.grid, e.rows); },
                right: function (e) { form.show(e.row); },
                edit: function (e) { form.show(e.row); },
                del: function (e) { deleteUsers(e.grid, [e.row]); }
            }
        });

        function deleteUsers(grid, rows) {
            grid.deleteRows(rows, function (data) {
                $.post(url.DeleteUsers, { data: data }, function (result) {
                    layer.msg(result.message);
                    grid.reload();
                });
            });
        }

        exports('System_UserView', {});
    });
</script>