:root {
    --bs-border-radius: 5px;
    --bs-btn-border-radius: 5px;
}

.layout-header .layout-header-bar {position:absolute;margin:9px 14px;}
.layout-header .kui-header {background-color:#17a2b8;color:#fff;padding-left:60px;height:50px;line-height:50px;}
.layout-side {background-color:#f5f8fa;color:#dcdfe6;height:100%;border-right:1px solid #dcdfe6;}
.layout-main {background-color:#f0f2f5;}
.layout-main > .tabs {border:none;}
.layout-main > .tabs.tabs-border-card {background-color:#f0f2f5;}
.layout-main > .tabs > .tabs-body {padding:0 10px 10px 10px;}
.layout-main > .tabs.tabs-border-card > .tabs-header .tabs-item.active {background-color:#f0f2f5;}
.layout-footer {background-color:#f0f2f5;padding:10px;}
.layout-menu .arrow, .node-icon, .fa-solid {font:normal normal normal 14px/1 FontAwesome;}

.menu.is-vertical:not(.is-collapsed) {width:200px;}
.menu .text, .menu .menu-icon, .menu .arrow {color:#3f4254;}
.menu > .submenu > li > .submenu > li {padding-left:20px;}

.boot-banner {display:flex;align-items:center;background-color:#702cf8;height:50px;font-size:1.5rem;}
.boot-banner .kui-logo {width:100%;}
.boot-nav-right {list-style:none;display:flex;}
.boot-nav-right li {padding:0 10px;}

.boot-content {padding:10px;}
.boot-query, .boot-query .item {display:flex;}
.boot-query .item label {padding:.375rem .75rem;}
.boot-content .tree .tree-item {display:block;}

.boot-row {margin:0;padding:0;margin-bottom:20px;}
.boot-col {display:flex;margin:0;padding:0;}
.boot-col > .form-label {width:200px;text-align:right;padding:10px 10px 0 0;}
.boot-col > .form-control {width:calc(100% - 200px);padding:0 5px;}

/*Login*/
.login-right .boot-row .fa {padding-top:10px;}