@typeparam TItem where TItem : class, new()

<div class="page-top">
    <QueryForm TItem="TItem" Model="Model" OnSearch="OnSearchAsync" />
    <Toolbar Items="Model.Tools" OnItemClick="Model.OnToolClick" />
</div>
<div class="page-table">
    <Table @ref="table" TItem="TItem" IsPagination IsBordered>
        <TableColumns>
            <AutoGenerateColumns Table="Model" Item="context" />
        </TableColumns>
    </Table>
</div>

@code {
    private Table<TItem> table;

    [Parameter] public TablePageModel<TItem> Model { get; set; }

    private Task OnSearchAsync() => Task.CompletedTask;// table.RefreshAsync();
}