@inherits BaseComponent

<div style="margin:16px 0;">
    <Breadcrumb Value="@Items" />
</div>

@code {
    private List<BreadcrumbItem> Items = [];

    [Parameter] public Known.MenuItem CurrentMenu { get; set; }
    [Parameter] public Action OnHome { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Items.Add(new BreadcrumbItem(Language.Home));

        if (CurrentMenu.Parent != null)
        {
            var parentName = Language[$"Menu.{CurrentMenu.Parent.Code}"];
            Items.Add(new BreadcrumbItem(parentName));
        }

        if (CurrentMenu.Name != Language.Home)
        {
            var menuName = Language[$"Menu.{CurrentMenu.Code}"];
            Items.Add(new BreadcrumbItem(menuName));
        }
    }
}