<div style="margin:16px 0;">
    <Breadcrumb Value="@Items" />
</div>

@code {
    private List<BreadcrumbItem> Items = [];

    [Parameter] public Known.MenuItem CurrentMenu { get; set; }
    [Parameter] public Action OnHome { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Items.Add(new BreadcrumbItem("首页"));
        if (CurrentMenu.Parent != null)
        {
            Items.Add(new BreadcrumbItem(CurrentMenu.Parent.Name));
        }
        if (CurrentMenu.Name != "首页")
        {
            Items.Add(new BreadcrumbItem(CurrentMenu.Name));
        }
    }
}