<Tab @ref="tab" ShowExtendButtons ShowClose>
    @foreach (var item in Items)
    {
        <TabItem Text="@item.Name" Closable="@item.Closable">
            @if (item.Page != null && item.Page.NoBreadcrumb)
            {
                <DynamicComponent Type="item.ComType" Parameters="item.ComParameters" />
            }
            else
            {
                <div class="kui-background boot-content" style="min-height:360px;margin:10px 0;">
                    <DynamicComponent Type="item.ComType" Parameters="item.ComParameters" />
                </div>
            }
        </TabItem>
    }
</Tab>

@code {
    private Tab tab;

    [Parameter] public List<Known.MenuItem> Items { get; set; }
    [Parameter] public Known.MenuItem Menu { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var index = Items.IndexOf(Menu);
        tab.ActiveTab(index);
    }

    private void OnClose(string tab)
    {
        var item = Items.FirstOrDefault(t => t.Id == tab);
        Items.Remove(item);
    }
}