@if (Items != null && Items.Count > 0)
{
    <div class="boot-toolbar btn-group" role="group">
        @foreach (var item in Items)
        {
            var color = item.Style == "danger" ? Color.Danger : Color.Primary;
            <Button Color="color" Icon="@item.Icon" OnClick="e=>OnItemClick?.Invoke(item)">@item.Name</Button>
            @if (item.Children != null && item.Children.Count > 0)
            {
                @*<Dropdown TValue="ActionInfo" Items="item.Children" OnSelectedItemChanged="@(e=>OnItemClick?.Invoke(e.Value))" Color="Color.Secondary" />*@
            }
        }
    </div>
}

@code {
    [Parameter] public List<ActionInfo> Items { get; set; }
    [Parameter] public Action<ActionInfo> OnItemClick { get; set; }
}