@inherits AdminPage

<Layout SideWidth="0" IsFullSide ShowFooter ShowCollapseBar IsAccordion Menus="SideMenuItems" OnClickMenu="OnSideMenuClick">
    <Header>
        <div class="page-header">
            <div class="app-name">@CurrentUser?.AppName</div>
            <NavTopRight OnMenuClick="OnMenuClick" />
        </div>
    </Header>
    <Side>
        <div class="layout-banner">
            <div class="logo" />
        </div>
    </Side>
    <Main>
        @if (Context.UserSetting.MultiTab)
        {
            <PageTabs Menu="CurrentMenu" Items="TabMenus" />
        }
        else
        {
            <PageSingle Menu="CurrentMenu" OnHome="OnHome" />
        }
    </Main>
    <Footer>
        @if (BootConfig.Option.Footer != null)
        {
            <div style="text-align:center">@BootConfig.Option.Footer</div>
        }
    </Footer>
</Layout>

@code{
    private List<BootstrapBlazor.Components.MenuItem> SideMenuItems = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        SideMenuItems = UserMenus.ToSideMenuItems();
    }

    private void OnHome() => OnMenuClick("home");

    private void OnMenuClick(string id)
    {
        switch (id)
        {
            case "home":
                Context.NavigateToHome();
                break;
            case "profile":
                Context.NavigateToUserProfile();
                break;
            case "logout":
                UI.Confirm("确定要退出系统？", async () =>
                {
                    var result = await SignOutAsync();
                    if (result.IsValid)
                    {
                        OnLogout?.Invoke();
                    }
                });
                break;
        }
    }

    private Task OnSideMenuClick(BootstrapBlazor.Components.MenuItem item)
    {
        foreach (var menu in UserMenus)
        {
            foreach (var sub in menu.Children)
            {
                if (item.Id == sub.Id)
                {
                    Context.Navigate(sub);
                    break;
                }
            }
        }
        return Task.CompletedTask;
    }
}