@page "/"

<PageTitle>Known Framework - 官方网站</PageTitle>

<div class="known-site">
    <SiteHeader />

    <main class="known-site-main">
        <FeatureSection />
        <ArchitectureSection />
        <QuickStartSection />
        <CommunitySection />
    </main>

    <SiteFooter />
</div>
