<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>#if(${isdefault}==0) ${pagetitle} - #end${sitename}</title>
    <meta name="keywords" content="${metakeywords}" />
    <meta name="description" content="${metadescription}">
    <link rel="stylesheet" href="${siteurl}templates/default/css/style.css">
    <link rel="stylesheet" href="${siteurl}static/vendors/thickbox.css">
    <script src="${siteurl}static/vendors/jquery.min.js"></script>
    <script src="${siteurl}static/vendors/thickbox.js"></script>
</head>
<body>
    <div id="header" class="clear-fix">
        <div class="container">
            <div class="logo"><img src="${siteurl}static/images/logo.png" alt="网站LOGO" width="200" height="50" /></div>
            <ul class="nav">
                #foreach($item in $navlinks)
                <li><a href="${item.url}"#if(${item.isnewwindow}) target="_blank" #end>${item.name}</a></li>
                #end
            </ul>
            <ul class="btn">
                <li><a href="${siteurl}login">登录</a></li>
                <li><a href="${siteurl}register">注册</a></li>
            </ul>
        </div>
    </div>
    ${errors}
