#parse("_header.html")

<div id="slider">
    <ul class="clear-fix content">
        <li><a href="" target="_blank"><img src="${siteurl}upfiles/slider/slide-01.jpg" /></a></li>
        <li><a href="" target="_blank"><img src="${siteurl}upfiles/slider/slide-02.jpg" /></a></li>
        <li><a href="" target="_blank"><img src="${siteurl}upfiles/slider/slide-03.jpg" /></a></li>
    </ul>
    <ul class="clear-fix trigger">
        <li class="current">•</li>
        <li>•</li>
        <li>•</li>
    </ul>
</div>

<div class="container">
    <img src="${siteurl}upfiles/default/bannerbg.png" />
</div>

<script src="${siteurl}templates/default/js/slider.js"></script>

#parse("_footer.html")