#parse("_header.html")

<script src="${siteurl}static/vendors/My97DatePicker/WdatePicker.js"></script>
<div id="myorder">
    <div class="container">
        <label>关键字</label>
        <input type="text" id="keyword" name="keyword">
        <label>订单日期</label>
        <input type="text" id="from" name="from" class="Wdate" style="width:120px;" onclick="WdatePicker()">
        到
        <input type="text" id="to" name="to" class="Wdate" style="width:120px;" onclick="WdatePicker()">
        <label>订单状态</label>
        <select id="status" name="status">
            <option>所有订单</option>
            <option value="">待出车</option>
            <option value="">待确认</option>
            <option value="">待评价</option>
        </select>
        <button>查询</button>
    </div>
</div>

<div class="container" style="margin:10px auto;">
    <div class="order-category">
        <label class="goods">货物信息</label>
        <label class="from">装货地址</label>
        <label class="to">卸货地址</label>
        <label class="money">金额(元)</label>
        <label class="status">状态</label>
        <label class="action">操作</label>
    </div>
    <div class="order-info">
        <h3>
            <label class="date">2015-06-16</label>
            <label class="no">订单号：20150616164435675</label>
        </h3>
        <p>
            <label class="goods">
                <span>DELL显示器 LED 19# 宽屏</span>
                <br />
                <span>重量：1吨；体积：800立方；长度：5米</span>
            </label>
            <label class="from">田三友（18922335656）<br /><span class="small gray">江苏 苏州 新区 竹园路1号 苏州AAA有限公司</span></label>
            <label class="to">李四（18911225656）<br /><span class="small gray">江苏 昆山 经济开发区 长江路10号 苏州BBB有限公司</span></label>
            <label class="money"></label>
            <label class="status">待处理</label>
            <label class="action"><a href="#">评价</a> <a href="#">关闭</a></label>
        </p>
    </div>
    <div class="order-info">
        <h3>
            <label class="date">2015-06-16</label>
            <label class="no">订单号：20150616164435675</label>
        </h3>
        <p>
            <label class="goods">
                <span>DELL显示器 LED 19# 宽屏</span>
                <br />
                <span>重量：1吨；体积：800立方；长度：5米</span>
            </label>
            <label class="from">田三友（18922335656）<br /><span class="small gray">江苏 苏州 新区 竹园路1号 苏州AAA有限公司</span></label>
            <label class="to">李四（18911225656）<br /><span class="small gray">江苏 昆山 经济开发区 长江路10号 苏州BBB有限公司</span></label>
            <label class="money">1000</label>
            <label class="status">已处理</label>
            <label class="action"><a href="#">评价</a> <a href="#">关闭</a></label>
        </p>
    </div>
    <div class="order-info">
        <h3>
            <label class="date">2015-06-16</label>
            <label class="no">订单号：20150616164435675</label>
        </h3>
        <p>
            <label class="goods">
                <span>DELL显示器 LED 19# 宽屏</span>
                <br />
                <span>重量：1吨；体积：800立方；长度：5米</span>
            </label>
            <label class="from">田三友（18922335656）<br /><span class="small gray">江苏 苏州 新区 竹园路1号 苏州AAA有限公司</span></label>
            <label class="to">李四（18911225656）<br /><span class="small gray">江苏 昆山 经济开发区 长江路10号 苏州BBB有限公司</span></label>
            <label class="money">1500</label>
            <label class="status">关闭</label>
            <label class="action"><a href="#">评价</a></label>
        </p>
    </div>
    <div class="order-info">
        <h3>
            <label class="date">2015-06-16</label>
            <label class="no">订单号：20150616164435675</label>
        </h3>
        <p>
            <label class="goods">
                <span>DELL显示器 LED 19# 宽屏</span>
                <br />
                <span>重量：1吨；体积：800立方；长度：5米</span>
            </label>
            <label class="from">田三友（18922335656）<br /><span class="small gray">江苏 苏州 新区 竹园路1号 苏州AAA有限公司</span></label>
            <label class="to">李四（18911225656）<br /><span class="small gray">江苏 昆山 经济开发区 长江路10号 苏州BBB有限公司</span></label>
            <label class="money">1500</label>
            <label class="status">关闭</label>
            <label class="action"><a href="#">评价</a></label>
        </p>
    </div>
    <div class="order-info">
        <h3>
            <label class="date">2015-06-16</label>
            <label class="no">订单号：20150616164435675</label>
        </h3>
        <p>
            <label class="goods">
                <span>DELL显示器 LED 19# 宽屏</span>
                <br />
                <span>重量：1吨；体积：800立方；长度：5米</span>
            </label>
            <label class="from">田三友（18922335656）<br /><span class="small gray">江苏 苏州 新区 竹园路1号 苏州AAA有限公司</span></label>
            <label class="to">李四（18911225656）<br /><span class="small gray">江苏 昆山 经济开发区 长江路10号 苏州BBB有限公司</span></label>
            <label class="money">1500</label>
            <label class="status">关闭</label>
            <label class="action"><a href="#">评价</a></label>
        </p>
    </div>
    <div class="page">
        <span>共5笔订单，每页显示10笔。</span>
        <a href="#">第一页</a>
        <a href="#">上一页</a>
        <a href="#">上一页</a>
        <a href="#">最后一页</a>
    </div>
</div>

#parse("_footer.html")