.page {width:100%;height:100%;font-family:'Microsoft YaHei', Helvetica, Arial, sans-serif;font-size:1rem;}

header, section, footer {padding:20px 200px;}
header {display:flex;justify-content:space-between;font-size:1.2rem;}
.logo {display:flex;}
.logo img {width:180px;height:50px;}
.logo div, .nav {margin:0;padding:0;padding-top:13px;}
.nav a {color:#333;}
.nav a:hover {color:#1c66b9;}
.nav li {margin-left:40px;}
.hero {padding:50px 210px;}
.hero .name {font-weight:bold;font-size:3rem;}
.hero .desc {font-size:1.2rem;text-align:justify;padding:10px 0;}
.hero .btns {padding-top:30px;display:flex;justify-content:center;}
.hero .btn {font-size:1.5rem;color:#fff;border:1px solid #eee;margin:0 10px;padding:10px 20px;}
.hero .btn:hover {background-color:#fff;color:#000;}
.hero .git img {margin:8px;}
.hero .stats {text-align:center;padding-top:40px;}

footer {background-color:#393d49;color:#fff;padding-top:20px;}
footer .content {display:flex;justify-content:space-between;padding:20px 0;}
footer .brand {padding:10px;}
footer .links, footer .qrcode {padding:20px 2px 0 20px;}
footer .desc {padding:0 10px;}
footer .qrcode {text-align:center;}
footer ul {padding:10px 0;list-style:none;}
footer ul li {height:30px;line-height:30px;}
footer a {color:#fff;}
.copyright {text-align:center;padding:20px 50px;border-top:1px solid #494d59;}