<div id="footer">
    <div class="clear-fix content">
        <div class="column">
            <h4>友情链接</h4>
            <div class="links">
                #foreach($item in $links)
                <a href="${item.url}"#if(${item.isnewwindow}) target="_blank"#end>${item.name}</a>
                #end
            </div>
        </div>
        <div class="column">
            <h4>客户服务</h4>
            <ul>
                <li>电话：0512-66085566</li>
                <li>手机：18912345566</li>
                <li>Q&nbsp;Q：56565566</li>
            </ul>
        </div>
        <div class="column">
            <h4>关于我们</h4>
            <ul>
                <li><a href="${siteurl}about">公司简介</a></li>
                <li><a href="${siteurl}contact">联系我们</a></li>
                <li><a href="${siteurl}clause">服务条款</a></li>
            </ul>
        </div>
        <div class="column1">
            <h4>关注我们</h4>
            <div>
                <img src="${siteurl}static/images/weixin_icon.png" />
            </div>
        </div>
    </div>
    ${footerhtml}
</div>
<script type="text/javascript">$('a[href="'+location+'"]').addClass('current');</script>
</body>
</html>