<style>
    @@page {margin:0;size:auto;}
    body {padding:24px;}
    .tfp-grid {display:grid;}
    .tfp-grid.grid1 {grid-template-columns:20% 20% 10% 20% 30%;}
    .tfp-grid.grid2 {grid-template-columns:20% 30% 20% 30%;}
    .tfp-grid.grid3 {grid-template-columns:20% 30% 20% 30%;grid-auto-rows:minmax(27px, auto);}
    .tfp-grid > div {display:flex;justify-content:center;align-items:center;border-left:1px solid #000;border-bottom:1px solid #000;padding:2px;}
    .tfp-grid.grid3 > div {flex-direction:column;}
    .tfp-table {width:100%;border-collapse:collapse;margin-bottom:10px;}
    .tfp-table th, .tfp-table td {border:1px solid #000;}
    .tfp-line {border-top:1px solid #000;border-bottom:1px solid #000;padding:1px;margin-bottom:10px;}
    .tfp-header {text-align:center;padding-bottom:10px;}
    .tfp-header-line {border-top:1px solid #000;border-bottom:2px solid #000;padding:1px;margin-bottom:10px;}
    .tfp-barcode, .tfp-form {margin-bottom:10px;border-top:1px solid #000;border-right:1px solid #000;}
    .tfp-cell {text-align:center;font-size:13px;}
</style>

<div>
    <div class="tfp-header">
        <div style="text-align:center;">
            <div style="font-size:24px;">苏州普漫科技有限公司</div>
            <div style="font-size:14px;margin-top:-3px;">Suzhou Puman Technology Co.,Ltd</div>
        </div>
        <div style="font-size:20px;">加  工  流  程  单</div>
    </div>
    <div class="tfp-header-line"></div>
    <div class="tfp-grid grid2 tfp-barcode">
        <div style="font-size:20px;">工单编号</div>
        <div><svg id="barcodeWorkNo" width="200" height="50" /></div>
        <div style="font-size:20px;">客户料号</div>
        <div><svg id="barcodeCustGNo" width="200" height="50" /></div>
    </div>
    <div class="tfp-form">
        <div class="tfp-grid grid1">
            <div>来料数量</div>
            <div></div>
            <div style="justify-content:start;">Strip</div>
            <div>来料日期</div>
            <div></div>
            <div>排版数量</div>
            <div></div>
            <div style="justify-content:start;">Pcs</div>
            <div>产品状态</div>
            <div></div>
            <div>排版</div>
            <div></div>
            <div style="justify-content:start;">X*Y</div>
            <div>是否有2D</div>
            <div></div>
        </div>
        <div class="tfp-grid grid2">
            <div>2D条号</div>
            <div></div>
            <div>允收颗数</div>
            <div></div>
        </div>
    </div>
    <div class="tfp-line"></div>
    <table class="tfp-table">
        <colgroup>
            <col style="width:14%;" />
            <col style="width:12%;" />
            <col style="width:10%;" />
            <col style="width:10%;" />
            <col style="width:12%;" />
            <col style="width:12%;" />
            <col style="width:10%;" />
            <col style="width:20%;" />
        </colgroup>
        <tr>
            <th>工作站别</th>
            <th>机台编号</th>
            <th>良品条数</th>
            <th>报废条数</th>
            <th colspan="2">生产日期</th>
            <th>作业人员</th>
            <th>备注</th>
        </tr>
        <tr>
            <td style="text-align:center;font-weight:bold;">IQC</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="tfp-line"></div>
    <div style="display:flex;justify-content:space-between;font-size:12px;">
        <div>
            <span style="margin-right:20px;">打印者：@Printer</span>
            <span>打印时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span>
        </div>
        <div>文件编号：PM-4-Q-002</div>
    </div>
</div>

<script>
    document.getElementById('barcodeWorkNo').innerHTML = '@svgWorkNo';
    document.getElementById('barcodeCustGNo').innerHTML = '@svgCustGNo';
</script>