<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId" value="water" />
    <add key="AppName" value="XX县农饮水质在线监测平台" />
    <add key="IsDebug" value="" />
    <add key="SmtpServer" value="" />
    <add key="SmtpPort" value="" />
    <add key="SmtpFromName" value="" />
    <add key="SmtpFromEmail" value="" />
    <add key="SmtpFromPassword" value="" />
    <add key="ExceptionMails" value="" />
    <add key="BaiduMapAK" value="stivIs1QN5tRtrmycPDBKREhfGDigZKN" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=D:\Known\Data\Water.db;Password=1234;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/error" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/login" defaultUrl="~/" timeout="60" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=11" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
