<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AppId" value="water" />
        <add key="AppName" value="Known管理系统" />
        <add key="IsDebug" value="" />
        <add key="SmtpServer" value="" />
        <add key="SmtpPort" value="" />
        <add key="SmtpFromName" value="" />
        <add key="SmtpFromEmail" value="" />
        <add key="SmtpFromPassword" value="" />
        <add key="ExceptionMails" value="" />
    </appSettings>
    <connectionStrings>
        <add name="Default" connectionString="Data Source=x;port=x;Initial Catalog=x;user id=x;password=x;Charset=utf8;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <add name="MySQL Data Provider"
                 invariant="MySql.Data.MySqlClient"
                 description=".Net Framework Data Provider for MySQL"
                 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.20.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        </DbProviderFactories>
    </system.data>
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="~/error" />
        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" />
        <authentication mode="Forms">
            <forms loginUrl="~/login" defaultUrl="~/" timeout="60" />
        </authentication>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-UA-Compatible" value="IE=11" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="*" />
                <add name="Access-Control-Allow-Methods" value="*" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>
