<GridRow>
	<GridCol Span="10">
		<div>
			<label>实体类型</label>
			<AntSelect Codes="Form.ModelTypes" @bind-Value="modelType" />
		</div>
		<Table DataSource="columns">
			<PropertyColumn Property="c=>c.Name" />
		</Table>
	</GridCol>
	<GridCol Span="14">
	</GridCol>
</GridRow>

@code {
	private string modelType;
	private List<SysModule> columns;

	[CascadingParameter] private SysModuleForm Form { get; set; }
	[Parameter] public FormModel<SysModule> Model { get; set; }
}