@typeparam TItem where TItem : class, new()

<div class="kui-top">
	<QueryForm TItem="TItem" Model="Model" OnSearch="OnSearchAsync" />
	<Toolbar Items="Model.Tools" OnItemClick="Model.OnToolClick" />
</div>
<div class="kui-table">
	<DataTable @ref="table" TItem="TItem" Model="Model" />
</div>

@code {
	DataTable<TItem> table;

	[Parameter] public TablePageModel<TItem> Model { get; set; }

	private Task OnSearchAsync() => table.RefreshAsync();
}