@inherits BaseComponent

<Tabs Class="ant-layout-tabs" Type="@TabType.EditableCard" HideAdd @bind-ActiveKey="activeKey" OnClose="OnClose">
    @foreach (var item in Items)
    {
        var itemName = Context.Language[$"Menu.{item.Code}"];
        <TabPane Key="@item.Id" Tab="@itemName" Closable="@item.Closable">
            @if (item.Page != null && item.Page.NoBreadcrumb)
            {
                <DynamicComponent @ref="dcs[item.Id]" Type="item.ComType" Parameters="item.ComParameters" />
            }
            else
            {
                <div class="kui-background" style="min-height:360px;margin:10px 0;">
                    <DynamicComponent @ref="dcs[item.Id]" Type="item.ComType" Parameters="item.ComParameters" />
                </div>
            }
        </TabPane>
    }
</Tabs>

@code {
    private string activeKey;
    private Dictionary<string, DynamicComponent> dcs = [];

    [Parameter] public List<Known.MenuItem> Items { get; set; }
    [Parameter] public Known.MenuItem Menu { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        activeKey = Menu.Id;
    }

    public override void StateChanged()
    {
        foreach (var dc in dcs)
        {
            (dc.Value.Instance as BaseComponent)?.StateChanged();
        }
    }

    private void OnClose(string tab)
    {
        var item = Items.FirstOrDefault(t => t.Id == tab);
        Items.Remove(item);
    }
}