/*input*/
input,select,textarea {
    width:100%;border:1px solid #c9d8db;outline:none;box-sizing:border-box;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
input {height:30px;line-height:30px;padding:0 5px;}
input:read-only,select:disabled,textarea:read-only {background-color:#f5f5f5;}
input[type="text"], textarea {position:relative;}
input[type="checkbox"], input[type="radio"] {width:16px;height:16px;}
select {height:30px;line-height:30px;padding:0 1px;}
textarea {min-height:70px;padding:5px;font-family:inherit;}
button, .toolbar .dropdown .title {
    display:inline-block;color:#fff;background-color:#009688;cursor:pointer;
    border:none;outline:none;box-sizing:border-box;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
    height:29px;line-height:29px;padding:0 10px;margin-right:2px;
}
button .fa {width:16px;height:16px;text-align:center;}
button:hover, .toolbar .dropdown .title:hover {opacity:0.8;filter:alpha(opacity=80);}
button:before {margin-right:3px;}
.error label {color:#d9534f;}
.error input, .error select, .error textarea, .error .editor {border:1px solid #d9534f;}
.required:before {content:'*';color:#f00;padding-right:2px;}
.readonly-editor .w-e-toolbar {display:none;}
.readonly-editor .w-e-text-container {background-color:#f5f5f5;}

/*list*/
.list {background-color:#fff;padding:2px;}
.list-item {cursor:pointer;padding:5px;}
.list-item:hover, .list-item.active {background-color:#e9e7e7;color:#333;}

/*form-card*/
.form-card {
    display:none;position:absolute;top:10px;left:10px;right:10px;bottom:10px;z-index:9999;
    background-color:#fff;border:1px solid #d6d6d6;
}
.form-card-header {
    height:40px;line-height:40px;padding:0;background-color:#fff;
    border-bottom:1px solid #d6d6d6;font-weight:bold;
}
.form-card-body {
    position:absolute;top:40px;left:0;right:0;bottom:40px;padding:5px;overflow:auto;
}
.form-card-footer {
    position:absolute;left:0;right:0;bottom:0;text-align:center;
    height:40px;line-height:40px;padding:0 10px;border-top:1px solid #d6d6d6;
}
.form-card-header .close {top:10px;right:5px;}
.form-card-footer button {margin:0 5px;}

.tabs-form .form-card {top:5px;left:5px;right:5px;bottom:5px;}
.tabs-form .tabs-title, .form-title {
    float:left;font-weight:bold;padding:0 10px;background-color:#e6e6e6;
}
.tabs-form .tabs-header {padding:0;}
.tabs-form .tabs-header ul {float:left;}

/*form-dialog*/
.form-dialog, 
.tabs-form.form-dialog {top:50%;left:50%;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.form-dialog-max,
.tabs-form.form-dialog-max {position:absolute;top:0;right:0;bottom:0;left:0;display:block;}
.form-dialog .form-card-header,
.form-dialog .tabs-header {font-weight:bold;cursor:move;background-color:#428bca;color:#fff;}
.form-dialog .form-title,
.form-dialog .tabs-title {background-color:#428bca;}
.form-dialog .form-title .fa {margin-right:5px;}
.right-toolbar {position:absolute;top:0;right:0;margin-right:5px;}
.right-toolbar .maximize {right:28px;}

/*form-info*/
.form-info {
    position:absolute;top:10px;left:10px;right:10px;bottom:10px;z-index:9999;
    background-color:#fff;border:1px solid #d6d6d6;
}
.form-info-header {
    height:30px;line-height:30px;padding:5px 10px;background-color:#fff;
    border-bottom:1px solid #d6d6d6;font-weight:bold;
}
.form-info-body {
    position:absolute;top:40px;left:0;right:0;bottom:0;padding:5px;overflow:auto;
}

/*form-flow*/
.form-flow {position:absolute;top:20px;right:20px;}
.form-flow .form {border:1px solid #ccc;}

/*form*/
.form {padding-top:10px;}
.form th {
    border:1px solid #e9e7e7;background-color:#f1f1f1;
    padding-right:5px;text-align:right;font-weight:normal;
}
.form .grid th {text-align:left;font-weight:bold;}
.form .grid th.center {text-align:center;}
.form td {border:1px solid #e9e7e7;padding:2px;}
.form-item {display:inline-block;position:relative;margin-bottom:10px;width:50%;}
.form-label {display:inline-block;float:left;width:110px;padding:5px 10px;text-align:right;}
.form-input {display:inline-block;position:relative;}
.form-button {margin-left:130px;margin-bottom:15px;}
.form-unit {position:absolute;top:5px;right:5px;}
.form-tips {display:inline-block;padding-left:5px;height:30px;line-height:30px;color:#aaa;}
.form-input input[type="text"], 
.form-input input[type="password"], 
.form-input select {width:180px;}
.form-input .icon {position:absolute;top:8px;right:5px;cursor:pointer;}
.form-radio {position:relative;margin-right:10px;height:30px;line-height:30px;cursor:pointer;}
.form-radio input {position:absolute;top:2px;}
.form-radio span {margin-left:20px;}
.form3 .form-item {width:33%;}
.form3 .col2 {width:66%;}
.form4 .form-item {width:25%;}
.form4 .col2 {width:50%;}
.form4 .col3 {width:75%;}
.form5 .form-item {width:20%;}
.form5 .col2 {width:40%;}
.form5 .col3 {width:60%;}
.form5 .col4 {width:80%;}
.form-block .form-item, .form-item.block, .form-item.list {width:100%;}
.block input[type="text"], .block textarea, .block select {width:100%;}
.block .form-input, .form-input.block {display:block;margin-left:130px;margin-right:10px;}
.list .form-label {text-align:left;font-weight:bold;}
.list .form-input {display:block;margin-top:30px;}
.list .form-input input[type="text"],
.list .form-input input[type="password"],
.list .form-input select {width:100%;}
.form4 .form-label {width:90px;}
.form4 .block .form-input, 
.form4 .form-input.block,
.form4 .form-button {margin-left:110px;}

/*icon*/
.icon-input input {padding-left:22px;}
.icon-input .field {position:absolute;left:5px;top:8px;}
.icon-picker {padding:10px;}
.icon-picker li {width:18px;height:18px;text-align:center;cursor:pointer;padding:5px;}
.icon-picker .selected {background-color:#009688;color:#fff;}

/*form-table*/
.form-table {width:80%;margin:0 auto;position:relative;background-color:#fff;padding-bottom:50px;}
.form-table .title {text-align:center;padding:30px 0 20px 0;}
.form-table .no {position:absolute;top:20px;right:0;font-size:1.5rem;font-weight:bold;}
.form-table .status {position:absolute;top:50px;right:0;}
.form-table input, .form-table textarea {border:none;}
.form-table input:read-only {background-color:#fff;}
.form-table .border td {border:1px solid #ccc;padding:5px;}
.form-table .thead td {height:30px;line-height:30px;font-weight:bold;}
.form-table .caption {height:30px;line-height:30px;font-weight:bold;text-align:left;}
.form-table .toolbar {
    position:fixed;left:11px;right:11px;bottom:11px;background-color:#fff;
    height:30px;line-height:30px;text-align:center;border-top:1px solid #d6d6d6;
}
.form-table .error input,
.form-table .error select,
.form-table .error textarea {border:1px solid #d9534f;}

/*form-collapse*/
.collapse {bottom:unset;height:41px;}
.collapse .form-card-body,
.collapse .form-card-footer {display:none;}

.form-split, .form-split-view {position:absolute;top:0;bottom:0;overflow:auto;}
.form-split {width:30%;}
.form-split-view {left:30%;right:0;top:1px;}
.form-split-view img {width:100%;}
.form-split-view .caption {height:30px;line-height:30px;font-weight:bold;padding-left:5px;}