@inherits BaseComponent

<div class="ws-func">
    <Card Title="@Language?["Home.CommonFunc"]" Style="height:100%;">
        @if (Menus != null && Menus.Count > 0)
        {
            foreach (var item in Menus)
            {
                <div class="ws-func-menu" @onclick="e=>Navigation?.NavigateTo(item.RouteUrl, true)">
                    <KIcon Icon="@item.Icon" />
                    <span class="name">@Language?.GetString(item)</span>
                </div>
            }
        }
    </Card>
</div>

@code {
    [Parameter] public List<MenuInfo> Menus { get; set; }

    public void SetMenus(List<MenuInfo> menus)
    {
        Menus = menus;
        StateChanged();
    }
}