<table id="dgLayout3" class="easyui-datagrid" style="width:100%;height:100%">
    <thead>
        <tr>
            <th field="ck" checkbox="true"></th>
            <th field="itemid" sortable="true" formatter="Layout3.formatItemId">编号</th>
            <th field="productid" sortable="true">产品</th>
            <th field="listprice" align="right" sortable="true">金额</th>
            <th field="unitcost" align="right">单价</th>
            <th field="attr1">属性</th>
            <th field="status" align="center">状态</th>
        </tr>
    </thead>
</table>
<div id="tbLayout3" style="padding:2px;height:32px;background:#fff;">
    <div style="float:left;">
        <a class="easyui-linkbutton" plain="true" iconCls="fa fa-plus" onclick="Layout3.add()">新增</a>
        <a class="easyui-linkbutton" plain="true" iconCls="fa fa-pencil" onclick="Layout3.edit()">编辑</a>
        <a class="easyui-linkbutton" plain="true" iconCls="fa fa-minus" onclick="Layout3.remove()">删除</a>
        <a class="easyui-linkbutton" plain="true" iconCls="fa fa-times">关闭</a>
    </div>
    <div style="float:right;">
        <input class="easyui-searchbox" data-options="prompt:'请输入条件',searcher:Layout3.search">
    </div>
</div>

<script>
    var Layout3 = {

        grid: null,

        show: function () {
            this.grid = $('#dgLayout3').datagrid({
                method: 'get',
                url: '/static/data/datagrid.json',
                pagination: true,
                clientPaging: false,
                remoteFilter: true,
                singleSelect: false,
                selectOnCheck: true,
                toolbar: '#tbLayout3'
            });
        },

        //grid
        formatItemId: function (value, row, index) {
            return '<span style="color:blue;" onclick="Layout3.showForm({id:\'' + value + '\'})">' + value + '</span>';
        },

        //toolbar
        search: function (key) {
            alert(key);
        },

        add: function () {
            this.showForm({ id: '' });
        },

        edit: function () {
            var row = this.grid.datagrid('getSelected');
            if (row) {
                this.showForm(row);
            }
        },

        remove: function () {

        },

        //private
        showForm: function (row) {
            Layout3Form.show({
                title: '订单',
                row: row
            });
        }

    };

    Layout3.show();
</script>

<div id="dlgLayout3" class="easyui-dialog" style="width:400px"
     data-options="
         closed:true,
         modal:true,
         buttons:'#dlgbLayout3'
     ">
    <form id="fmLayout3" method="post" novalidate style="margin:0;padding:20px">
        <div style="margin-bottom:5px">
            <input name="itemid" class="easyui-textbox" required="true" label="Item ID:">
        </div>
        <div style="margin-bottom:5px">
            <input name="productid" class="easyui-textbox" required="true" label="Product:">
        </div>
        <div style="margin-bottom:5px">
            <input name="listprice" class="easyui-textbox" required="true" label="List Price:">
        </div>
        <div style="margin-bottom:5px">
            <input name="unitcost" class="easyui-textbox" required="true" label="Unit Cost:">
        </div>
        <div style="margin-bottom:5px">
            <input name="attr1" class="easyui-textbox" required="true" label="Attribute:">
        </div>
        <div style="margin-bottom:5px">
            <input name="status" class="easyui-textbox" required="true" label="Status:">
        </div>
    </form>
</div>
<div id="dlgbLayout3">
    <a class="easyui-linkbutton" plain="true" iconCls="fa fa-save" onclick="Layout3Form.save()">保存</a>
    <a class="easyui-linkbutton" plain="true" iconCls="fa fa-times" onclick="Layout3Form.close()">关闭</a>
</div>
<script>
    var Layout3Form = {

        dialog: null,
        form: null,

        show: function (option) {
            this.dialog = $('#dlgLayout3').dialog('open')
                .dialog('center')
                .dialog('setTitle', option.title);
            this.form = $('#fmLayout3').form('clear');
            if (option.row.id !== '') {
                this.form.form('load', option.row);
            }
        },

        //toolbar
        save: function () {

        },

        close: function () {
            this.dialog.dialog('close');
        }

    };
</script>