<div class="easyui-layout" style="width:100%;height:100%;">
    <div style="width:200px;" data-options="region:'west',split:'true',collapsible:'false'">
        <div class="panel-header" style="padding:6px;">分类</div>
        <ul id="tree" class="easyui-tree"
            data-options="method:'get',url:'static/data/tree.json'">
        </ul>
    </div>
    <div region="center">
        <div class="panel-header" style="padding:2px;background:#fff;">
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-plus">新增</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-pencil">编辑</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-minus">删除</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-save">保存</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-times">关闭</a>
        </div>
    </div>
</div>