/********************************** form ************************/
.form {
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.form th {
    background: #f7f7f7;
    text-align: right;
    border: 1px solid #aed0ea;
    white-space: nowrap;
    font-weight: normal;
    font-size: 14px;
}

.form td {
    width: auto;
    border: 1px solid #aed0ea;
    text-align: left;
    background: #fff;
    font-size: 14px;
    padding: 2px;
}

.noborder th, .noborder td {
    border: 0;
}

.list-title {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.form-section {
    font-weight: bold;
    height: 23px;
    line-height: 23px;
}

.form .row {
    clear: both;
    border-bottom: 0px solid #aed0ea;
}

.form .row .label, .form .row .control {
    float: left;
    border-right: 0px solid #aed0ea;
    padding: 2px;
}

.form .row .label {
    background-color: #f7f7f7;
}

.form td.in-table {
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border: 0;
}

.form td.in-table table {
    width: 100%;
    border: 0;
}

.form td.in-table table th, .form td.in-table table td {
    border-top: 0;
}

.buttons {
    padding: 5px 0;
}

.topToolbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 2px;
    border-bottom: 1px solid #aed0ea;
    background: #f7f7f7;
}

.bottomToolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    text-align: right;
    border-top: 1px solid #aed0ea;
    background: #f7f7f7;
}

.form .mini-textbox-border,
.form .mini-buttonedit-border {
    background: #fff;
}

.form .mini-textbox {
    width: 100%;
}

/********************************** frame ************************/
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 微软雅黑;
    font-size: 13px;
    background: #fff;
}

table {
    border-collapse: collapse;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #f1f1f1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #f1f1f1;
}

/* color */
.bg-primary {
    background-color: #337ab7;
}

.bg-success {
    background-color: #5cb85c;
}

.bg-info {
    background-color: #5bc0de;
}

.bg-warning {
    background-color: #f0ad4e;
}

.bg-danger {
    background-color: #d9534f;
}

.border-primary {
    border-color: #337ab7;
}

.border-success {
    border-color: #5cb85c;
}

.border-info {
    border-color: #5bc0de;
}

.border-warning {
    border-color: #f0ad4e;
}

.border-danger {
    border-color: #d9534f;
}

.text-primary {
    color: #337ab7;
}

.text-success {
    color: #5cb85c;
}

.text-info {
    color: #5bc0de;
}

.text-warning {
    color: #f0ad4e;
}

.text-danger {
    color: #d9534f;
}

/* align */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

/* button */
.btn-link {
    cursor: pointer;
    color: #00f;
}

/********************************** tabs ************************/
.mini-tabs .mini-tab-active,
.mini-tab-active.mini-tab-hover {
    position: relative;
    border-bottom-color: #fff;
    /*background: linear-gradient(to bottom,#F8F8F8 0,#fff 100%);*/
    background: #fff;
    /*color:#444;*/
    color: #000;
}

.mini-tabs-bodys {
    padding: 0;
}

/********************************** window ************************/
.mini-window .mini-panel-border {
    border: 3px solid #3c8dbc;
    border-radius: 3px;
}

.mini-window .mini-panel-header {
    border-color: #3c8dbc;
    background: #3c8dbc;
    color: #fff;
}

.mini-window .mini-panel-header .mini-icon {
    color: #fff;
}

.mini-window .mini-panel-body {
    padding: 5px 0 0 0;
}

.mini-messagebox-content td {
    font-size: 14px;
}