@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace WebSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Known - 基于Blazor的快速开发框架</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="blazor,known,razor,react,vue,组件,dotnet">
    <meta name="description" content="Known是基于C#和Blazor开发的前后端分离快速开发框架，开箱即用，跨平台，一处代码，多处运行。" />
    <base href="~/" />
    <link rel="stylesheet" href="css/highlight.min.css">
    <link rel="stylesheet" href="css/site.css" />
    <link rel="icon" type="image/png" href="favicon.png"/>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="js/highlight.min.js"></script>
    <script src="js/script.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>