@page "/doc"
@using WebSite.Data
@inject WeatherForecastService ForecastService

<div class="doc-container">
    <div class="doc-sider">

    </div>
    <div class="doc-content">

    </div>
</div>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
