@page "/"

<div class="hero">
    <div class="name animated fadeIn">KNOWN</div>
    <div class="desc">基于C#和Blazor开发的前后端分离快速开发框架，开箱即用，跨平台，一处代码，多处运行。</div>
    <div class="btns">
        <a class="btn" href="/doc/start">快速开始</a>
        <a class="git" href="https://gitee.com/known/Known"><img src="img/gitee.png" alt="码云"></a>
        <a class="git" href="https://github.com/known/Known"><img src="img/github.png" alt="Github"></a>
    </div>
    <div class="stats">
        <a href="https://gitee.com/known/Known/stargazers"><img src="https://gitee.com/known/Known/badge/star.svg?theme=dark" alt="star"></a>
        <a href="https://gitee.com/known/Known/members"><img src="https://gitee.com/known/Known/badge/fork.svg?theme=dark" alt="fork"></a>
        <a href="https://github.com/known/Known"><img src="https://img.shields.io/github/stars/known/known?color=%231890FF" alt="stars"></a>
        <a href="https://gitee.com/known/Known/blob/master/LICENSE"><img src="https://img.shields.io/badge/license-Apache2-yellow" alt="license"></a>
        <a href="https://www.nuget.org/profiles/known"><img src="https://img.shields.io/badge/downloads-3.4K-green" alt="downloads"></a>
        <img src="https://img.shields.io/badge/.NET-7.0-green" alt=".NET">
        <img src="https://img.shields.io/badge/DEV-VS2022-brightgreen" alt="DEV">
        <img src="https://img.shields.io/badge/QQ群-865982686-blue" alt="QQ群">
    </div>
</div>

<section>
    <div class="column">
        <div class="install">
            <h4>快速安装</h4>
            <pre>
<span class="code-comment">--安装模板</span>
dotnet new install KnownTemplate

<span class="code-comment">--创建项目</span>
dotnet new known --name=你的项目
                </pre>
        </div>
    </div>
    <div class="column">
        <div class="picture"></div>
    </div>
</section>

<Footer />