@page "/"

<div class="hero">
    <div class="name">Known开发框架</div>
    <div class="desc">基于C#和Blazor开发的前后端分离快速开发框架，开箱即用，跨平台，一处代码，多处运行。</div>
    <div class="btns"><a class="btn" href="/doc">快速开始</a></div>
</div>

<footer>
    <div class="row">
        <div class="col col1">
            <img src="img/logo.png" />
            <div class="desc">专注C#和Blazor最前沿技术，为开发者提供优秀开发框架！</div>
        </div>
        <div class="col col2">
            <h4>相关资料</h4>
            <ul>
                <li><a target="_blank" href="https://blazor.net/docs/components/index.html">Blazor文档</a></li>
            </ul>
        </div>
        <div class="col col3">
            <h4>联系方式</h4>
            <ul>
                <li><a target="_blank" href="mailto:knownchen@163.com">邮箱</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">©2020-@DateTime.Now.Year KnownChen</div>
</footer>