<div style="height:35%;">
    <Carousel Images="images" />
</div>

@code {
    private string[] images = new string[]
    {
        "/img/bg1.jpg",
        "/img/bg2.jpg",
        "/img/bg3.jpg",
        "/img/bg4.jpg"
    };
}
