@inherits BasePage

<Form @ref="form" Style="inline" Model="model">
    @if (!IsProfile)
    {
        <div class="tips">提示：账号默认密码 123456。</div>
    }
    <Hidden Id="Id" />
    <Text Label="账号" Id="UserName" Required="true" ReadOnly="false" />
    <Text Label="姓名" Id="Name" Required="true" />
    <Text Label="电话" Id="Mobile" />
    <Text Label="邮箱" Id="Email" />
    <RadioList Label="角色" Id="Role" Required="true" Codes="管理员,销售" Visible="isAdmin" />
    <CheckBox Label="选项" Id="Enabled" Text="启用" Required="true" Visible="isAdmin" />
    <div class="form-button">
        <Button Text="保存" Icon="fa fa-save" OnClick="OnSave" />
        <Button Text="重置密码" Icon="fa fa-refresh" OnClick="OnResetPwd" Visible="isAdminEdit" />
        <Button Text="删除" Icon="fa fa-trash-o" Style="danger" OnClick="OnDelete" Visible="isAdminEdit" />
    </div>
</Form>

@code {
    private Form form;
    private bool isAdmin;
    private bool isAdminEdit;
    private SysUser model;

    [Parameter] public string Id { get; set; }
    [Parameter] public bool IsProfile { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        isAdmin = IsAdmin && !IsProfile;
        isAdminEdit = isAdmin && !string.IsNullOrWhiteSpace(Id);
        //model = Service.GetUser(Id);
    }

    private void OnSave()
    {
        form.Submit(data =>
        {
            //var result = Service.SaveUser(data);
            //UI.Result(result, true);
        });
    }

    private void OnResetPwd()
    {
        UI.Confirm("确定要重置为默认密码？", () =>
        {
            //var result = Service.SetUserPwd(Id);
            //UI.Result(result, true);
        });
    }

    private void OnDelete()
    {
        UI.Confirm("确定要删除该账号？", () =>
        {
            //var result = Service.DeleteUser(Id);
            //UI.Result(result, true);
        });
    }
}
