@page "/demo/counter"
@attribute [Menu(AppConstant.Demo, "计数器", "plus-circle", 2)]

<PageTitle>Counter</PageTitle>

<div class="kui-card" style="padding:20px">
    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <KButton Type="@ButtonType.Primary" Name="Click me" OnClick="IncrementCount" />
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
