<table class="dashboard box-list">
    <tr>
        <td style="width:25%;">
            <div class="small-box" style="background-color:#00c0ef !important;">
                <div class="inner">
                    <h3>150</h3>
                    <p>新订单</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </td>
        <td style="width:25%;">
            <div class="small-box" style="background-color:#00a65a !important;">
                <div class="inner">
                    <h3>150</h3>
                    <p>销售额</p>
                </div>
                <div class="icon">
                    <i class="fa fa-area-chart"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </td>
        <td style="width:25%;">
            <div class="small-box" style="background-color:#f39c12 !important;">
                <div class="inner">
                    <h3>150</h3>
                    <p>客户</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-book-o"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </td>
        <td style="width:25%;">
            <div class="small-box" style="background-color:#dd4b39 !important;">
                <div class="inner">
                    <h3>150</h3>
                    <p>用户</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </td>
    </tr>
</table>
<table class="dashboard">
    <tr>
        <td style="width:70%;padding:0 4px 0 0;">
            
        </td>
        <td style="width:30%;">
            
        </td>
    </tr>
</table>