/*--Core--*/
:root {
    /* 亮色主题变量 */
    --kui-body-bg: linear-gradient(135deg, #f0f5ff 0%, #e6f7ff 100%);
    --kui-body-text: #333;
    --kui-form-label-width:120px;
    --kui-bgcolor:#ffffff;
    --kui-color:#596172;
    --kui-color-border:#f0f0f0;
    --kui-color-hover:#cce4fa;
    --gradient-start: #0061ff;
    --gradient-end: #00e5ff;
}
:root[data-theme=dark] {
    /* 暗色主题变量 */
    --kui-body-bg: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
    --kui-body-text: #e2e8f0;
    --kui-bgcolor:#141414;
    --kui-color:#d8d8d8;
    --kui-color-border:rgba(253, 253, 253, 0.12);
    --kui-color-hover:#cce4fa;
    --gradient-start: #0066ff;
    --gradient-end: #00a3ff;
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s ease, color 0.3s ease;
}
body {
    background:var(--kui-body-bg);color:var(--kui-body-text);
    min-height:100vh;position:relative;overflow:hidden;
}
/* 光照效果 */
.background-blobs {position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;}
.blob {position:absolute;border-radius:50%;filter:blur(60px);opacity:0.2;}
.blob-1 {width:300px;height:300px;background:var(--gradient-start);top:-100px;left:-100px;}
.blob-2 {width:500px;height:500px;background:var(--gradient-end);bottom:-200px;right:-200px;}

/*Common*/
.kui-link {color:#1890ff;cursor:pointer;}
.kui-frame {border:none;width:100%;min-height:550px;}
.kui-tips {color:#1890ff;margin-left:10px;}
.kui-right {text-align:right;}
.kui-center {text-align:center;}
.kui-bold {font-weight:bold;}
.kui-flex {display:flex;}
.kui-flex-row {display:flex;flex-direction:row;align-items:center;gap:10px;}
.kui-flex-column {display:flex;flex-direction:column;align-items:center;gap:10px;}
.kui-flex-space {display:flex;justify-content:space-between;align-items:center;gap:10px;}
.kui-error {text-align:center;padding:20px;height:100%;}
.kui-primary {color:#1890ff;}
.kui-danger {color:#ed4014;}
.kui-bg-danger, .kui-bg-danger > td {background-color:#ffccc7 !important;}
.kui-bg-danger:hover, .kui-bg-danger:hover > td {background-color: #ffa39e !important;}
.kui-p10 {padding:10px;}
.kui-app-name {
    font-weight:bold;text-align:center;margin-top:18px;margin-bottom:18px;line-height:22px;font-size:20px;
    -webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(0,0,0,.3));
}
.kui-body > .kui-card {height:100%;}
.kui-body > .kui-card > .ant-tabs > .ant-tabs-content-holder {
    position:absolute;top:56px;left:10px;right:10px;bottom:10px;overflow:auto;
}
pre.error {padding:10px;border-left:5px solid #ffccc7;background:#fff2f0;border-radius:3px;max-height:300px;overflow:auto;}
.kui-icon {display:flex;align-items:center;gap:3px;cursor:pointer;}
.kui-run-mode {position:absolute;bottom:5px;left:5px;width:auto;font-weight:bold;border-radius:5px;padding:0 7px;font-size:12px;}
.kui-more {display:flex;flex-direction:row;align-items:center;}

/*Grid*/
.kui-row {display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));gap:10px;height:100%;}
.kui-row-19, .kui-row-28, .kui-row-37, .kui-row-46, .kui-row-55, .kui-row-64, .kui-row-73, .kui-row-82, .kui-row-91 {
    display:grid;gap:10px;padding-right:10px;height:100%;
}
.kui-row-19 {grid-template-columns:10% 90%;}
.kui-row-28 {grid-template-columns:20% 80%;}
.kui-row-37 {grid-template-columns:30% 70%;}
.kui-row-46 {grid-template-columns:40% 60%;}
.kui-row-55 {grid-template-columns:50% 50%;}
.kui-row-64 {grid-template-columns:60% 40%;}
.kui-row-73 {grid-template-columns:70% 30%;}
.kui-row-82 {grid-template-columns:80% 20%;}
.kui-row-91 {grid-template-columns:90% 10%;}

/*Query*/
.kui-query {margin-bottom:10px;padding:10px;}
.kui-query .ant-form-item {margin:0;}
.kui-query .ant-form-item-control {margin-right:10px;}
.kui-query .ant-picker-range input {width:98px;}
.kui-query-more .ant-row {gap:8px 0;}
.kui-query-more.expand .ant-form-item-label > label {width:80px;}
.kui-query-more .ant-picker-range input {width:100%;}
.kui-advanced-search {padding:10px;}
.kui-advanced-search .item {display:grid;grid-template-columns:140px 140px auto 70px;margin-top:10px;grid-column-gap:5px;}
.kui-advanced-search .ant-btn, .kui-query .ant-btn {padding:0 10px;}

/*Toolbar*/
.ant-toolbar {display:flex;gap:3px;}
.ant-toolbar .ant-btn {padding:0 10px;}
.kui-title {font-size:16px;font-weight:bold;}
.kui-sub-title {font-size:14px;margin-left:10px;font-weight:normal;}
.kui-toolbar {display:flex;justify-content:space-between;align-items:center;padding:0 10px;}
.kui-toolbar > div {display:flex;align-items:center;}
.kui-toolbar {margin-bottom:5px;border-bottom:1px solid var(--kui-color-border);}
.kui-toolbar .kui-title {padding:10px 10px 10px 0;}
.kui-toolbar .ant-toolbar {padding:5px 0;}
.form-list1 .ant-toolbar {padding:10px 0 0 0;}

/*Table*/
.kui-table.form-list .kui-toolbar {border-bottom:none;}
.kui-striped table tr:nth-child(odd) td {background-color:#fdfdfd;}
.kui-table-filter {display:flex;justify-items:center;gap:10px;padding:10px;}
.kui-table-filter label {display:flex;}
.kui-table-filter input {width:100px;}
.kui-column-setting {margin-left:5px;cursor:pointer;font-size:18px;}

/*Form*/
.kui-caption {font-weight:bold;font-size:16px;margin:5px;padding:2px 10px;border-left:5px solid #1890ff;}
.kui-form, .kui-small {padding:10px 10px 0 0;}
.kui-steps-content {
    margin-top:16px;padding:10px;background-color:var(--kui-bgcolor);
    border:1px dashed var(--kui-color-border);
    border-radius:6px;min-height:200px;
}
.kui-form-content {padding:10px;}
.kui-form-action {display:flex;justify-content:space-between;align-items:center;}
.kui-form-action button {margin-left:8px;}
.kui-form-page {padding:24px 50px 20px 0;}
.kui-form-page-button {margin-left:120px;}
.kui-form-page-button button {margin-right:10px;}
.kui-form-button {margin-left:200px;}
.kui-form-button button {margin-right:10px;}
.kui-form-auth {width:400px;margin:0 auto;}
.kui-form-unit {display:flex;gap:10px;align-items:center;}
.kui-form-list {padding-bottom:10px;}
.kui-form-list > div {padding:0 10px 10px 10px;}
.kui-unit {display:inline-block;margin-left:10px;}
.kui-form-pwd {padding:10px 20px 20px 20px;}
.kui-form-pwd .ant-alert {margin-left:0;}
.kui-form-pwd .kui-form {margin-top:10px;}
.kui-form-pwd .kui-form-button {margin-left:120px;margin-top:10px;}

/*Console*/
.kui-console {height:300px;overflow-y:auto;background-color:#000;padding:5px;}
.kui-console .Info {color:#fff;}
.kui-console .Error {color:#a32540;}
.ant-modal-max .kui-console {height:100%;}

/*BarQR*/
.kui-qrcode img, .kui-qrcode canvas {width:100%;height:100%;}
.kui-barcode img, .kui-barcode canvas {width:100%;height:100%;}

/*Scanner*/
.kui-scanner {
    width:100%; height:100%; margin:0 auto; border:2px dashed #3498db; border-radius:10px;
    display:flex; align-items:center; justify-content:center; position:relative;
    color:#3498db; background-color:#f8fafc; font-size:15px; text-align:center;
}
.kui-scanner video { width:90%; height:90%; }
.kui-scanner span { padding:20px; }
.kui-scanner .scan-line {
    position:absolute; top:10%; left:10%; z-index:4; width:80%; height:4px;
    background:linear-gradient(to bottom, transparent, #4CAF50, transparent);
    box-shadow:0 0 10px rgba(76, 175, 80, 0.8); animation:scan 2.5s linear infinite;
}
@keyframes scan {
    0% { top:10%; }
    100% { top:80%; }
}
.kui-scanner-modal .kui-scanner { border-radius:5px; padding:10px 0; }
.kui-scanner-modal .ant-modal { position:absolute; top:30vh; }
.kui-scanner-modal .ant-modal-header { border-bottom:none; }
.kui-scanner-modal .ant-modal-close-x { width:40px; height:40px; line-height:40px; }
.kui-scanner-modal .ant-modal-content,
.kui-scanner-modal .ant-modal-body { position:absolute; top:0; left:0; right:0; bottom:0; padding:0; }

/*Capsule*/
.kui-capsule {display:flex;border-radius:5px;background-color:#5d5d5d;color:#fff;font-size:12px;height:20px;}
.kui-capsule span {display:inline-block;padding:0 5px;height:20px;line-height:20px;}
.kui-capsule-value {border-radius:0 5px 5px 0;}
.kui-row .kui-capsule {float:left;}

/*FullScreen*/
.kui-screen {position:relative;background-color:#f0f2f5;}
.kui-screen .action {position:absolute;top:0;right:0;z-index:1000;}
.kui-screen.is-full {position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;}
.kui-screen.is-full .action {top:10px;right:10px;}
.kui-screen.is-full .action .button {opacity:0;transition:opacity 8s ease;}
.kui-screen.is-full .action:hover .button {opacity:1;transition:opacity 0s;}
:root[data-theme=dark] .kui-screen {background-color:#000;}

/*GroupBox*/
.kui-group-box {position:relative;border:1px dashed var(--kui-color-border);border-radius:6px;}
.kui-group-box .legend {position:absolute;top:-13px;left:20px;padding:0 10px;font-weight:bold;}
.kui-group-box .body {padding:10px;}

/*ListBox*/
.kui-list-box {position:relative;height:100%;}
.kui-list-box-search {margin:10px;}
.kui-list-box-body {position:absolute;left:0;right:0;top:0;bottom:0;padding:10px;overflow:auto;}
.kui-list-box-body li {position:relative;padding:5px 10px;cursor:pointer;border-left:3px solid transparent;}
.kui-list-box-body li:hover {background-color:var(--kui-color-hover);}
.kui-list-box-body li.active {background-color:#bae7ff;color:#1890ff;border-left-color:#1890ff;}

/*EditInput*/
.kui-edit-input {display:flex;align-items:center;}
.kui-edit-input input {width:190px;}
.kui-edit-input span {margin-left:10px;display:flex;align-items:center;}

/*Strength*/
.kui-strength {margin-top:12px;}
.kui-strength-bar {height:10px;border-radius:5px;background:#f0f0f0;overflow:hidden;margin-bottom:6px;}
.kui-strength-inner {height:100%;width:0;transition:all 0.3s ease;color:#fff;}
.kui-strength-text {font-size:12px;text-align:right;color:#999;}
.weak .kui-strength-inner {background:#ff4d4f;width:33.33%;}
.weak .kui-strength-text {color:#ff4d4f;}
.medium .kui-strength-inner {background:#faad14;width:66.66%;}
.medium .kui-strength-text {color:#faad14;}
.strong .kui-strength-inner {background:#52c41a;width:100%;}
.strong .kui-strength-text {color:#52c41a;}

/*Chart*/
.kui-chart {width:100%;height:100%;}

/*Pick*/
.kui-picker {position:relative;}
.kui-pick, .kui-pick-clear {
    position:absolute;top:0;right:0;cursor:pointer;text-align:center;
    display:block;width:32px;height:32px;line-height:32px;
}
.kui-pick-clear {right:28px;}
.kui-pick-icon {position:absolute;top:5px;left:5px;z-index:101;}
.kui-pick-icon + input {padding-left:20px;}
.kui-icon-picker {position:relative;height:300px;margin:10px;}
.kui-icon-picker .ant-input-search {width:200px;}
.kui-icon-picker .items {position:absolute;top:35px;left:0;bottom:0;right:0;overflow:auto;}
.kui-icon-picker .item {display:inline-block;font-size:32px;width:80px;text-align:center;margin:2px;}
.kui-icon-picker .item.active {font-weight:bold;color:#1890ff;}
.kui-icon-picker .item .name {display:block;font-size:14px;height:14px;line-height:14px;overflow:hidden;}
.kui-icon-picker .font-awesome .category {
    position:absolute;top:35px;left:0;bottom:0;width:100px;overflow:auto;
}
.kui-icon-picker .font-awesome .category > .item {
    width:120px;height:20px;line-height:20px;font-size:14px;text-align:left;cursor:pointer;overflow:hidden;
}
.kui-icon-picker .font-awesome .category > .item.active {font-weight:bold;color:#1890ff;}
.kui-icon-picker .font-awesome .items {left:120px;}

:root[data-theme=dark] .kui-toolbar {border-bottom:1px solid #303030;}
:root[data-theme=dark] .kui-list-box li:hover, 
:root[data-theme=dark] .kui-list-box li.active {background-color:rgba(255, 255, 255, 0.08);}
:root[data-theme=dark] .kui-striped table tr:nth-child(odd) td {background-color:#1a1a1a;}
:root[data-theme=dark] .kui-striped table tr:nth-child(even) td {background-color:var(--kui-bgcolor);}

/*File*/
.kui-upload {display:flex;justify-content:space-between;align-items:center;margin-bottom:5px;}
.kui-upload input {width:100%;}
.kui-upload .template {width:60px;text-align:right;}
.kui-upload .kui-button, .kui-upload-button {
    border:1px solid var(--kui-color-border);padding:0 10px;margin-right:10px;
    height:30px;line-height:30px;position:relative;border-radius:5px;
}
.kui-upload .kui-button input, 
.kui-upload.ant-upload-drag input, 
.kui-upload-button input {
    position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;outline:0;
}
.kui-upload-button {display:inline;padding:5px 10px;}
.kui-upload .ant-form-item-control-input-content {display:flex;align-items:center;}
.kui-form-files > div {display:flex;align-items:center;gap:5px;}
.kui-form-files > div > span {margin-right:5px;width:40px;}
.kui-form-files > div > a {overflow:hidden;}

.kui-file-view {min-height:500px;}
.kui-file-view > .items, .kui-file-view > .view {position:absolute;top:10px;bottom:10px;}
.kui-file-view > .items {left:10px;width:100px;overflow:auto;display:flex;flex-direction:column;gap:10px;}
.kui-file-view > .items .active {font-weight:bold;}
.kui-file-view > .view {left:120px;right:10px;overflow:hidden;}
.kui-file-view > .view img {width:100%;height:100%;}

/*Setting*/
.kui-nav-setting, .kui-table-setting {max-height:500px;overflow:auto;}
.kui-nav-setting .title, .kui-table-setting .title {font-weight:bold;margin:0 0 10px 50px;}
.kui-table-setting .title {display:flex;justify-content:space-between;align-items:center;}
.kui-table-setting .title > .ant-btn-link {padding:4px;}
.kui-table-setting > .title {margin-left:20px;}
.kui-table-setting .ant-btn-link {font-weight:bold;}
.kui-table-setting .anticon {cursor:pointer;font-size:16px;}
.kui-table-setting .item {display:flex;align-items:center;margin-bottom:5px;}
.kui-table-setting .item > .anticon-pause {width:50px;cursor:move;}
.kui-table-setting .item > .ant-checkbox-wrapper {width:120px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.kui-table-setting .fixed .item > .ant-checkbox-wrapper {margin-left:50px;}
.kui-table-setting .item > .ant-input-number {width:70px;}
.kui-table-setting .item > .fixed {margin-left:10px;visibility:hidden;}
.kui-table-setting .item:hover > .fixed {visibility:visible;}

.kui-nav-setting .item {display:flex;justify-content:space-between;align-items:center;margin-bottom:5px;}
.kui-nav-setting .item > .span {cursor:move;padding-right:10px;}
.kui-nav-setting .item > .span > .anticon {width:30px;}
.kui-nav-setting .item > .anticon-delete {width:30px;color:#ed4014;cursor:pointer;}
.kui-nav-setting .item > .anticon-close {width:30px;cursor:pointer;}
.kui-nav-setting > .anticon-plus {display:block;text-align:center;cursor:pointer;margin-top:10px;padding:5px;border:1px dashed #ccc;}

/*Style*/
.kui-setting-form {padding:10px;}
.kui-setting-form h4 {font-size:14px;margin-bottom:20px;}
.kui-setting-form .ant-form-item-label {text-align:left;}
.kui-setting-form .ant-divider-horizontal {margin-top:0;}
.kui-theme-color {display:flex;gap:10px;margin-bottom:20px;}
.kui-theme-color .item {width:20px;height:20px;border-radius:3px;cursor:pointer;color:#fff;text-align:center;}

/*Logo*/
.kui-header, .kui-layout .kui-logo {border-bottom:1px solid var(--kui-color-border);}
.kui-menu-dark {background:#001529;color:rgba(255,255,255,0.65);border-bottom:none;}
.kui-menu-dark .kui-logo, .kui-header .kui-logo {border-bottom:none;}

/*Import*/
.kui-import {display:grid;grid-template-rows:20px 50px auto;padding:10px;}
.kui-import .item {display:flex;margin:8px 0;align-items:center;}
.kui-import .item input {display:inline-block;border:1px solid var(--kui-color-border);}
.kui-import .item .async {margin-left:10px;}
.kui-import-message {padding:10px 0;}

/*Code*/
.kui-code {position:relative;margin:10px 0 0 0;border-left:3px solid var(--kui-color-border);}
.kui-code .action {position:absolute;top:0;right:10px;font-size:16px;cursor:pointer;}
.kui-code pre[class*=language-] {margin:0;padding:10px;overflow:auto;max-height:360px;}
:root[data-theme=dark] :not(pre)>code[class*=language-], pre[class*=language-] {background-color:rgba(255,255,255,0.08);}

/*WebApi*/
.kui-api-row {margin-bottom:10px;}
.kui-api-row li {display:flex;align-items:center;margin-bottom:5px;}
.kui-api-label {display:flex;}
.kui-api-label span {display:inline-block;}
.kui-api-label label {display:inline-block;width:100px;}
.kui-api-name {font-size:16px;font-weight:bold;margin-bottom:10px;}
.kui-api-title {font-weight:bold;margin-bottom:5px;}
.kui-api-route {display:flex;justify-content:space-between;align-items:center;margin-bottom:10px;}
.kui-api-result {border-left:5px solid #1890ff;padding:10px;background-color:#f1f1f1;border-radius:3px;max-height:200px;overflow:auto;}
:root[data-theme=dark] .kui-api-result {background-color:rgba(255,255,255,0.08);}

@media screen and (max-width:1264px) {
    .kui-query .ant-form-item {margin:0 0 5px 0;}
}
@media screen and (max-width:768px) {
    .kui-toolbar {flex-direction:column;align-items:unset;}
    .kui-toolbar > div {flex-direction:column;align-items:start;}
    .kui-toolbar > .left {flex-direction:row;justify-content:space-between;align-items:center;}
    .kui-logo {margin-left:6px;}
    .kui-app-name {display:none;}
    .kui-header {padding:0;}
    .kui-nav {justify-content:flex-end;gap:8px;margin:5px 0 0 0;padding:5px;}
    .kui-form-page {padding:10px 10px 20px 10px;background:var(--kui-bgcolor);height:100%;}
    .kui-row-19, .kui-row-28, .kui-row-37, .kui-row-46, .kui-row-56, .kui-row-64, .kui-row-73, .kui-row-82, .kui-row-91 {
        grid-template-columns:100%;grid-row-gap:10px;padding-right:0;
    }
    .kui-card {min-height:200px;overflow:auto;}
    .kui-table > .kui-toolbar {height:auto;}
    .kui-query {padding:10px;}
    .kui-query-btn {margin-top:5px;}
    .kui-table .kui-title {padding:5px 0;}
    .kui-form, .kui-small {padding-left:10px;}
    .kui-form-page-button {margin-left:10px;}
}
@media screen and (max-width:574px) {
    .kui-form-page-button {margin-left:10px;}
}

/*--Layout--*/
.kui-wrapper {
    position:absolute;top:0;bottom:0;left:0;right:0;
    background: var(--kui-body-bg);color: var(--kui-body-text);
}
.kui-wrapper > .ant-spin {
    position:absolute;top:0;bottom:0;left:0;right:0;z-index:9999;
    display:flex;justify-content:center;align-items:center;flex-direction:column;
}
.kui-wrapper > .ant-result {position:absolute;top:0;bottom:0;left:0;right:0;overflow:auto;}
.kui-wrapper > .ant-result pre {
    text-align:left;border-left:5px solid #ed4014;padding:5px;background-color:var(--kui-color-border);border-radius:5px;
}
.kui-watermark, .kui-watermark > div {height:100%;}
.kui-header, .kui-card, .kui-install-form, .kui-query, .kui-table, .kui-form, .kui-small, .kui-form-tab, .kui-form-step {
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}
.kui-card, .kui-query, .kui-table, .kui-form, .kui-small, .kui-form-tab, .kui-form-step {border-radius:5px;}

.kui-header {padding:0 10px;height:54px;line-height:54px;display:flex;justify-content:space-between;}
.kui-layout > .kui-header {padding-left:0;}
.kui-header .left {display:flex;align-items:center;}
.kui-header .left .trigger {font-size:18px;margin-top:2.5px;padding-right:10px;cursor:pointer;transition:color 0.3s;}
.kui-header .left .trigger:hover {color:#1890ff;}
.kui-header.kui-menu-dark {background-color:#001529;}
.Compact .kui-header .left .trigger {font-size:14px;margin-top:0;}
.kui-header .left > div {margin-right:10px;}
.kui-header .anticon {cursor:pointer;}
.kui-header .ant-breadcrumb a {color:var(--kui-color);}
.kui-nav {display:flex;align-items:center;gap:10px;margin:0;padding-left:10px;}
.kui-nav li {list-style:none;line-height:normal;padding:0 2px;}
.kui-nav li.edit {background-color:#f18c63;color:#fff;padding:15px 2px;border-radius:2px;}
.kui-menu li {list-style:none;display:inline-block;margin-left:10px;}
.kui-menu li a {color:var(--kui-color);}
.kui-nav-tabs {height:calc(100vh - 54px);}
.kui-body {position:relative;height:calc(100vh - 54px);padding:10px;overflow:auto;}
.kui-body > .kui-frame {height:calc(100vh - 79px);}
.ant-tabs-content > .kui-body {height:calc(100vh - 94px);}
.ant-tabs-content > .kui-body > .kui-frame {height:calc(100vh - 119px);}
.ant-tabs-top > .ant-tabs-nav {margin:0;padding:0 10px;}
.kui-table .ant-tabs-top > .ant-tabs-nav {margin-bottom:5px;}
/*.ant-modal-body .ant-tabs-top > .ant-tabs-nav {margin-bottom:5px;}*/
.ant-tabs-top.kui-nav-tabs > .ant-tabs-nav {
    margin:0;padding:5px 2px;background:var(--kui-bgcolor);
    border-bottom:1px solid var(--kui-color-border);
}
.Compact .ant-tabs-top.kui-nav-tabs > .ant-tabs-nav {padding:2px;}
.ant-tabs-card.ant-tabs-top1 > .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color:unset;
}
.kui-nav-tabs > .ant-tabs-nav .ant-tabs-tab {padding:5px 10px;border:none;}
.kui-nav-tabs .ant-tabs-tab .anticon {margin-right:5px;}
.kui-nav-tabs .ant-tabs-tab-remove {margin-left:0;}
.kui-nav-tabs .ant-tabs-tab-remove .anticon {margin-right:0;}
.ant-layout-sider + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {
    position:absolute;top:0;left:250px;right:350px;height:54px;border-bottom:0;transition:all 0.2s;z-index:1000;
}
.ant-layout-sider-collapsed + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {left:110px;}
.kui-menu-float + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {left:85px;}
.kui-nav-tabs.is-top > .ant-tabs-content-holder > .ant-tabs-content > .kui-body {height:calc(100vh - 54px);}
.kui-logo {height:54px;padding-left:10px;overflow:hidden;cursor:pointer;}
.kui-header .kui-logo {width:180px;padding-left:0;}
.kui-scroll {
    position:fixed;top:54px;left:0;bottom:0;width:200px;
    overflow-y:auto;overflow-x:hidden;scrollbar-width:none;
}
.kui-scroll .ant-menu {width:200px;}
.kui-scroll .ant-menu > .kui-edit {margin:10px;}
.kui-scroll .ant-menu > .kui-edit > div {padding:5px;}
.kui-footer {text-align:center;padding:10px;}

@media screen and (max-width:767px) {
    .kui-header .left .ant-breadcrumb, .kui-nav-full, .kui-nav-setting {display:none;}
}

/*--Plugin--*/
.kui-edit {display:block;color:#f18c63;padding:0 2px;border:1px dashed #f18c63;border-radius:2px;text-align:center;cursor:pointer;}
.kui-edit-border {border:1px solid #f18c63;border-radius:2px;}
.kui-edit-menu {display:grid;grid-template-columns:200px auto;}
.kui-edit-menu .type {display:flex;justify-content:space-between;}
.kui-delete {color:#f50;}
.kui-card.overlay {
    padding:10px;border-radius:5px;
    box-shadow:0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.kui-card.overlay > .kui-title {margin-bottom:10px;}

.kui-plugin {position:relative;border:1px solid #f18c63;border-radius:3px;min-height:50px;}
.kui-plugin .name {position:absolute;top:0;left:1px;color:#f18c63;z-index:1000;font-size:10px;}
.kui-plugin .action {position:absolute;top:0;right:1px;color:#f18c63;z-index:1000;}
.kui-plugin-layout {width:390px;}
.kui-scroll > .kui-plugin {position:absolute;top:0;bottom:0;left:0;right:0;}
.kui-scroll > .kui-plugin .ant-menu {width:198px;}
.kui-body > .kui-plugin {margin-bottom:10px;}
.kui-body > .kui-plugin.table {margin-bottom:0;background:unset;}

/*Coding*/
.kui-coding {height:100%;}
.kui-coding .kui-code {
    position:absolute;top:0;left:10px;right:10px;bottom:10px;
    background-color:#f8f8f8;border-left-color:#1890ff;border-radius:3px;
}
.kui-coding .kui-code pre[class*=language-] {height:100%;max-height:unset;}
.kui-coding .ant-tabs-content,
.kui-coding .ant-tabs-tabpane {height:100%;overflow:hidden;}
.kui-coding-form {padding-top:10px;border-left:1px solid var(--kui-color-border);}
.kui-coding-form .ant-form-item {margin-bottom:10px;flex-wrap:unset;align-items:center;}
.kui-coding-form .kui-small .ant-form-item-label {width:70px;}
.kui-coding-form .kui-row-28 {grid-template-columns:25% 75%;}

/*--Admin--*/
/*Flow*/
.kui-flow {margin-bottom:10px;}
.kui-flow .kui-group-box {background-color:var(--kui-bgcolor);}
.kui-flow .kui-group-box .legend {font-weight:bold;font-size:1.1rem;}

/*Install*/
.kui-install {position:absolute;top:40%;left:0;width:100%;transform:translate(0, -40%);}
.kui-install .button {text-align:center;}
.kui-install-head {display:flex;justify-content:space-between;align-items:center;font-weight:bold;font-size:1.2rem;padding:30px 200px;}
.kui-install-head .kui-menu {margin:0;padding:0;}
.kui-install-body {
    background:linear-gradient(135deg, #6da0f5, #c0e9fc);
    height:500px;padding:50px 200px;overflow: hidden;
    border-radius:50px 0;/*border-radius:0 0 100% 100% / 0 0 8% 8%;*/
}
.kui-install-form {border-radius:5px;box-shadow:0 0 10px 3px rgba(0,0,0,.3);padding:20px;width:500px;height:400px;margin:0 auto;}
.kui-install-form .kui-form-action {margin-top:10px;}
.kui-install-foot {text-align:center;width:100%;font-size:1.1rem;margin-top:30px;}
.kui-install-foot span {margin:0 5px;}
:root[data-theme=dark] .kui-install-body {background:linear-gradient(135deg, rgb(45,46,46), rgb(40,41,41));}

@media screen and (max-width:1200px) {
    .kui-install-head, .kui-install-body {padding-left:100px;padding-right:100px;}
}
@media screen and (max-width:768px) {
    .kui-install {top:50%;margin-top:-320px;}
    .kui-install-head {padding:20px;}
    .kui-install-body {padding:0 30px;grid-template-columns:100%;height:auto;}
    .kui-install-form {padding-left:0;padding-bottom:30px;}
    .kui-install-foot {margin-top:20px;}
}

.kui-form-weblog {padding:10px;}
.kui-form-weblog .ant-form-item {margin-bottom:10px;}
.kui-form-weblog .ant-tag {max-width:124px;overflow:hidden;}

/*UserProfile*/
.kui-app-profile {height:100%;background:var(--kui-bgcolor);}
.kui-user-avatar {text-align:center;padding:20px 0;}
.kui-user-avatar img {display:block;width:100px;height:100px;margin:0 auto;}
.kui-user-info {padding:20px;}
.kui-user-info li {list-style:none;text-align:justify;margin-bottom:10px;}
.kui-user-info li .anticon {font-size:16px;margin-right:5px;}
.kui-user-avatar .kui-upload-button {border:none;}

/*Seeting*/
.kui-system {margin:0 50px;}
.kui-system .kui-form-button {margin-left:150px;}
.kui-user-form {width:400px;margin:0 50px;}
.kui-user-form .kui-form-button {margin-left:120px;}
.kui-form-setting .kui-form {padding:10px;}
.kui-form-setting .kui-center {margin:10px;}
.kui-form-setting .kui-center button {margin:0 5px;}

@media screen and (max-width:768px) {
    .kui-system {margin:20px;}
    .kui-system .kui-form-button {margin-left:0;}
    .kui-user-form {margin:0;width:auto;}
    .kui-user-form .kui-form-button {margin-left:100px;}
    .kui-user-form.user .kui-form-button {margin-left:110px;}
    .kui-user-form .ant-row {flex-flow:row nowrap;}
    .kui-user-form .ant-form .ant-form-item .ant-form-item-label {flex:0 0 100px;}
    .kui-user-form .ant-form .ant-form-item .ant-form-item-control {flex:0 0 calc(100% - 100px);}
    .kui-user-form .ant-form .ant-form-item .ant-form-item-control .anticon-plus-circle {font-size:1.2rem;}
}

/*BaseData*/
.form-company {padding:0 50px 20px 0;}
.form-company button {margin-right:10px;}

/*Dictionary*/
.kui-dictionary .kui-list-box-body {padding-top:0;}

/*Role*/
.kui-role {display:flex;background:var(--kui-bgcolor);padding-top:10px;border-radius:5px;}
.kui-role-form {width:400px;padding-right:20px;}
.kui-role-module {width:260px;}
.kui-role-button {width:160px;}
.kui-role-column {width:160px;}
.kui-role-module, .kui-role-button, .kui-role-column {max-height:500px;overflow:auto;padding:10px;}
.ant-drawer-body .kui-role-module,
.ant-drawer-body .kui-role-button,
.ant-drawer-body .kui-role-column {max-height:unset;}

@media screen and (max-width:768px) {
    .form-company {padding:0 10px 20px 10px;}
    .kui-dictionary {height:300px;}
    .kui-role {flex-direction:column;}
    .kui-role-form, .kui-role-module, .kui-role-button, .kui-role-column {width:100%;}
}

/*--AI--*/
.kui-ai-entry {position:absolute;bottom:50px;right:15px;width:40px;height:40px;}
.kui-ai-entry img {width:100%;height:100%;border-radius:50%;}

/*--Home--*/
.known, .ws-space, .ws-todo {background:var(--kui-bgcolor);}
.known, .ws-space, .ws-todo, .ws-chart .ant-card, .ws-func .ant-card {border-radius:5px;}
.ws-chart, .ws-func {height:400px;}
.ws-chart .ant-card-head-title, .ws-func .ant-card-head-title {font-weight:bold;}

.known, .ws-space {display:flex;justify-content:space-between;}
.known {padding:12px;border-left:5px solid #4188c8;margin-bottom:10px;}
.known-desc {text-align:justify;}

.ws-space {display:flex;justify-content:space-between;margin:0 0 10px 0;padding:20px;}
.ws-welcome {display:flex;padding:10px;}

.ws-avatar {width:80px;height:80px;}
.ws-info {padding:10px;}
.ws-info span {display:block;}
.ws-name {font-size:1.4rem;}
.ws-tips {margin-top:10px;color:#888;}

.ws-todo {padding:10px;}
.ws-todo-name {padding-left:10px;}
.ws-todo-count {display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));}
.ws-todo-count .ant-statistic {text-align:center;}

.ws-chart .ant-card-body {padding:5px;}
.ws-chart .kui-chart {height:330px;}

.ws-func-menu {display:inline-block;width:90px;height:80px;padding:8px;text-align:center;font-size:1rem;cursor:pointer;}
.ws-func-menu:hover {color:#1c66b9;}
.ws-func-menu .anticon {display:block;font-size:2.2rem;margin:8px auto;}
.ws-func-menu .anticon .icon {width:2.2rem;height:2.2rem;}
.ws-func-menu .fa {display:block;font-size:1.9rem;margin:8px auto;}
.ws-func-menu .name {display:block;width:100%;height:25px;overflow:hidden;}
.ws-func .ant-card-body {padding:20px 10px;}

.count {display:flex;justify-content:end;list-style:none;margin:0;padding:0;}
.count li {
    width:140px;height:110px;margin:0 10px;
    background-color:#f5f5f5;position:relative;text-align:left;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.count li .name {display:block;border-bottom:1px solid #e8eaec;padding:5px 10px;}
.count li .month {
    position:absolute;top:5px;right:5px;font-size:14px;padding:0 5px;
    background-color:#e6f7ff;border:1px solid #91d5ff;color:#1890ff;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.count li .amount {
    position:absolute;top:45px;left:5px;right:5px;text-align:center;
    font-size:1.8rem;height:50px;line-height:50px;
}

@media screen and (max-width:768px) {
    .known, .ws-space {flex-direction:column;padding:10px;}
    .ws-welcome {padding:0;}
    .known-desc {text-align:justify;margin-bottom:10px;}
    .ws-space {justify-content:stretch;}
    .ws-space .count {gap:10px;}
    .ws-space .count li {width:100%;margin:0;margin-top:15px;}
    .ws-func {margin-left:0;margin-top:10px;height:auto;}
}
@media screen and (max-width:574px) {
    .ws-welcome {flex-direction:column;}
    .ws-space .count {flex-direction:column;}
}

.Compact .known, .Compact .ws-space {padding:10px;}
.Compact .count li .month {font-size:12px;}
.Compact .ws-func-menu, .Compact .kui-title {font-size:0.8rem;}
.Compact .ws-func-menu .anticon {font-size:2rem;}

:root[data-theme=dark] .count li {background:linear-gradient(135deg, rgb(46, 46, 46), rgb(35, 40, 40));}

/*--Antd--*/
/*AntDesign*/
body > .ant-result {position:absolute;top:0;bottom:0;left:0;right:0;background-color:var(--kui-bgcolor);}
.ant-btn, .ant-input, .ant-input-number, .ant-input-group-addon, .ant-input-affix-wrapper,
.ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-select-dropdown,
.ant-tag, .ant-alert, .ant-message-notice-content, .ant-segmented, .ant-transfer-list,
.ant-picker, .ant-picker-panel-container, .ant-dropdown-menu, .ant-upload.ant-upload-drag,
.ant-table-filter-dropdown, .ant-notification-notice,
.ant-pagination-item, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link,
.ant-pagination-options-quick-jumper input {
    border-radius:5px;
}
.ant-btn-circle {border-radius:50%;}
.ant-transfer-list-header {border-radius:5px 5px 0 0;}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {border-radius:0 5px 5px 0;}
.ant-radio-button-wrapper:first-child {border-radius:5px 0 0 5px;}
.ant-radio-button-wrapper:last-child {border-radius:0 5px 5px 0;}
.ant-checkbox-inner, .ant-tree-checkbox-inner {border-radius:4px;}
.ant-menu-item-selected {cursor:pointer;}
.ant-tree .ant-tree-node-content-wrapper {display:flex;}
.ant-dropdown-menu-item .ant-dropdown-menu-submenu-expand-icon, 
.ant-dropdown-menu-submenu-title .ant-dropdown-menu-submenu-expand-icon {top:4px;}

.ant-badge-count {z-index:100;}
.ant-btn > .anticon + span, 
.ant-btn > span + .anticon {margin-left:0;}
.ant-btn-link {cursor:pointer;}
.ant-drawer-close {margin-right:0;}
.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {width:60px;}
.ant-menu-inline, 
.ant-menu-vertical, 
.ant-menu-vertical-left {border-right:none;}
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .fa + span {opacity:0;}
.ant-menu-horizontal {border-bottom:none;}
.ant-dropdown-menu .anticon {margin-right:5px;}
.ant-menu .kui-icon > .icon-name {margin-left:10px;}
.ant-tabs-extra-content {display:flex;}
.ant-tabs-extra-content .kui-title {padding-right:30px;color:var(--kui-color);}
.ant-tabs-extra-content .ant-tag {font-size:1rem;padding:5px 10px;}
.ant-tabs-tabpane .kui-query {margin-bottom:0;}
.ant-table-wrapper {padding:0 10px;}
.ant-table .ant-tag {cursor:pointer;margin-right:0;line-height:unset;}
.ant-table-thead > tr > th {font-weight:bold;}
.ant-table-tbody > tr > td.kui-table-action > div > a {padding:0 5px;}
.ant-table.ant-table-small .ant-table-tbody > tr > td {padding:2px 5px;}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {background:var(--kui-color-hover);}
.kui-striped .ant-table-tbody > tr.ant-table-row-selected > td {background-color:#dcf4ff;}
.ant-table-pagination.ant-pagination {margin:5px 0 10px 0;}
.ant-transfer-list-header-title {font-weight:bold;}
td .ant-btn {height:21px;font-size:12px;padding:0 7px;}

.ant-modal {top:30px;}
.ant-modal-body > .ant-steps {padding:10px;}
.ant-modal-body > .ant-table-wrapper {padding:10px 0;}
.ant-modal-content {border-radius:5px;}
.ant-modal-header {border-radius:5px 5px 0 0;}
.ant-modal-body, .ant-drawer-body {position:relative;padding:0 10px;}
.ant-modal-body .ant-form {padding-top:10px;}
.ant-modal-body .kui-form-body {height:100%;}
.ant-modal-body .kui-form-action {padding:0 10px 10px 0;}
.ant-modal-body .nopadding {padding:0;}
.ant-notification .Error .ant-notification-notice-with-icon .ant-notification-notice-description {margin-left:0;}
.kui-detail .ant-modal-body {padding:10px;}

/*Form*/
.kui-drawer {overflow:hidden;}
.kui-drawer .kui-form-body {position:absolute;left:10px;right:10px;top:0;bottom:53px;overflow:auto;}
.kui-drawer .kui-watermark .kui-form-body {left:0;right:0;}
.kui-drawer .kui-form-action {
    position:absolute;left:0;right:0;bottom:0;padding:10px;background-color:var(--kui-bgcolor);border-top:1px solid var(--kui-color-border);
}
.kui-drawer .kui-form-body .ant-tabs,
.kui-drawer .kui-form-body .ant-tabs .ant-tabs-content,
.kui-drawer .kui-form-body .ant-tabs .ant-tabs-content .ant-tabs-tabpane,
.kui-drawer .kui-form-body .ant-tabs .ant-tabs-content .ant-tabs-tabpane .kui-form {height:100%;}
.kui-view-form .ant-drawer-body .kui-form-body {bottom:0;}
.kui-block.ant-checkbox-group,
.kui-block .ant-form-item-control,
.kui-block .ant-form-item-control-input-content {display:flex;flex-direction:column;gap:5px;}
.kui-block .ant-checkbox-wrapper + .ant-checkbox-wrapper {margin-left:0;}
.kui-inline > .ant-form-item-control,
.kui-inline .ant-form-item-control-input-content {display:flex;flex-direction:row;gap:5px;align-items:center;}
.kui-form .ant-alert, .kui-small .ant-alert {margin-left:10px;}
.kui-form .ant-form-item-label {width:var(--kui-form-label-width);}
.kui-form .ant-form-item-label .anticon {color:#f50;}
.kui-form.small-label .ant-form-item-label, .kui-small .ant-form-item-label {width:85px;}
.kui-form.small-row .ant-form-item, .kui-small-row .ant-form-item {margin-bottom:10px;}
.kui-form.readonly .ant-form-item {align-items:center;}
.kui-tab-form .ant-tabs-top > .ant-tabs-nav {padding:0 20px;}
.kui-tab-form .ant-tabs-tabpane .kui-form, .kui-tab-form .ant-tabs-tabpane .kui-small {padding-right:10px;}
.ant-tabs-tabpane .kui-form, .ant-tabs-tabpane .kui-small {padding:0 10px 0 0;}
.kui-form-tab .ant-tabs-content-holder {padding:0;}
.kui-form-body .ant-tabs {margin-top:0;}
.kui-form-body .ant-tabs-tabpane {padding:10px 0;}
.kui-system .ant-form-item-label {width:150px;}
.kui-development > .ant-tabs-nav {margin:0;}
.kui-role .ant-checkbox-group {display:flex;flex-direction:column;padding:5px;}
.kui-form-setting .ant-form-item-label {text-align:left;}
.kui-form-setting .ant-radio-group {display:flex;}
.ant-form-item-label > label.kui-primary {color:#1890ff;}
.ant-form-item-label > label.kui-danger {color:#ed4014;}

:root[data-theme=dark] .ant-layout-sider, :root[data-theme=dark] .kui-menu-dark {
    color:var(--kui-color);background-color:var(--kui-bgcolor);
}
:root[data-theme=dark] .ant-modal-header .anticon {color:rgba(255 255,255,0.45);}

.ant-captcha + img, .ant-captcha + canvas, .ant-captcha + .btn-sms {
    position:absolute;top:0;right:0;z-index:1000;text-align:center;
    width:110px;height:31px;line-height:31px;cursor:pointer;
}
.ant-captcha + .btn-sms {background-color:#f8eeb8;color:#596172;top:1px;right:1px;height:30px;}
.ant-menu-submenu-title .fa + span, .ant-menu-item .fa + span {margin-left:10px;}
.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {width:auto;}
.ant-notification-notice .ant-notification-notice-description {max-height:300px;overflow:auto;}

@media screen and (max-width:767px) {
    .ant-form {display:flex;flex-direction:column;}
    .ant-layout-header {line-height:normal;}
    .ant-drawer-content-wrapper {max-width:calc(100vw - 16px);}
    .ant-modal {top:10px;margin-top:10px;margin-left:8px;}
    .ant-row, .ant-col {flex-direction:column;width:100%;}
    .ant-col-20, .ant-col-18, .ant-col-16, .ant-col-14, .ant-col-12, 
    .ant-col-10, .ant-col-8, .ant-col-6, .ant-col-4, .ant-col {display:flex;max-width:100%;}
    .ant-col-offset-18 {margin-left:0;}
    .ant-toolbar {flex-wrap:wrap;padding-top:0;}
    .ant-form-inline {flex-direction:column;}
    .ant-form-item .ant-form-item-label {padding-bottom:0;}
    .ant-input-search-icon {font-size:20px;}
    .ant-form .ant-form-item {display:flex;flex-direction:column;}
    .ant-form .ant-form-item .ant-form-item-label, 
    .ant-form .ant-form-item .ant-form-item-control {flex:0 0 100%;max-width:100%;}
    .kui-form .ant-alert, .kui-small .ant-alert {margin-left:0;}
    .kui-query .ant-form-item-label {text-align:left;}
    .kui-table .ant-tabs-tab {padding:5px 0;}
    .kui-table .ant-tabs-top > .ant-tabs-nav {flex-direction:column;align-items:start;}
    .kui-table .ant-toolbar {padding-top:5px;}
    .kui-table .ant-tabs-nav .ant-toolbar {padding-bottom:10px;}
}

/*--App--*/
.kui-app {position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto;}

.kui-app-nav {
    position:fixed;top:0;left:0;right:0;z-index:100;padding:0 1rem;font-weight:bold;font-size:1rem;text-align:center;
    border-bottom:1px solid #ccc;box-shadow:0 -5px 20px rgba(0, 0, 0, 0.1);height:45px;line-height:45px;
}
.kui-app-nav .back {cursor:pointer;position:absolute;top:0;left:0;bottom:0;width:80px;}
.kui-app-nav-tool {position:fixed;top:7px;right:10px;color:#fff;font-size:20px;padding:0 10px;z-index:101;}
.kui-app-page {height:100%;overflow:auto;}
.kui-app-page.nav {padding-top:45px;}
.kui-app-page.tab {padding-bottom:50px;}

.kui-app-tab {
    position:fixed;left:0;right:0;bottom:0;z-index:100;height:50px;margin:0;padding:0;
    display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));list-style:none;
    border-top:1px solid #ccc;box-shadow:0 -5px 20px rgba(0, 0, 0, 0.1);background:var(--kui-bgcolor);
}
.kui-app-tab li {cursor:pointer;display:flex;flex-direction:column;text-align:center;padding-top:5px;}
.kui-app-tab .anticon {font-size:18px;}

.kui-app-menu {list-style:none;margin:0;padding:0;}
.kui-app-menu li {display:inline-block;text-align:center;cursor:pointer;margin-bottom:20px;}
.kui-app-menu-icon {color:#fff;border-radius:50%;width:60px;height:60px;margin:0 auto 5px auto;}
.kui-app-menu .anticon {font-size:40px;margin-top:10px;}

.kui-app-row {display:flex;height:56px;}
.kui-app-row > label, .kui-app-row > span {padding-top:5px;}
.kui-app-row > label {padding-right:10px;}

.kui-app-fixed, .kui-app-fixed > .ant-tabs-nav {
    background:var(--kui-bgcolor);
}
.kui-app-fixed > .ant-tabs-nav {position:fixed;top:40px;left:0;right:0;z-index:101;}
.kui-app-fixed > .ant-tabs-content-holder {padding-top:60px;}

.kui-app-search {width:100%;height:100%;}
.kui-app-search-box, .kui-app-search-info {position:absolute;}
.kui-app-search-box {left:0;right:0;z-index:101;display:flex;}
.kui-app-search-info {left:0;right:0;bottom:0;z-index:101;}
.kui-app-search-result {padding:40px 0;}
.kui-app-search-add {padding-bottom:10px;}
.kui-app-search-suggest {padding-bottom:10px;}
.kui-app-page .kui-app-search-box {position:fixed;top:45px;padding:20px;}
.kui-app-page .kui-app-search-result {padding:60px 20px 60px 20px;}
.kui-app-page .kui-app-search-info {position:fixed;padding:10px;}
.kui-app-page.tab .kui-app-search-info {bottom:50px;}
.kui-app-page .kui-tags .ant-tag {margin-right:0;}

.ant-modal-body .kui-app-search-box, 
.ant-modal-body .kui-app-search-info,
.ant-drawer-body .kui-app-search-box,
.ant-drawer-body .kui-app-search-info {
    left:10px;right:10px;
}
.ant-modal-body .kui-app-search-info,
.ant-drawer-body .kui-app-search-info {
    bottom:10px;
}
.ant-list .ant-empty {margin-top:1rem;}

.kui-app-rc2 {display:flex;justify-content:space-between;align-items:center;}

.kui-app-upload {
    position:relative;width:60px;height:60px;line-height:60px;text-align:center;
    border:1px dashed #ccc;border-radius:5px;background-color:#f1f1f1;display:inline-block;
}
.kui-app-upload img {width:100%;height:100%;}
.kui-app-upload .anticon {font-size:1.5rem;}
.kui-app-upload input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;outline:0;}

.carousel {}
.carousel img {width:100%;height:200px;}
/*---App---*/

/*App*/
.kui-app .form-user, .kui-app .form-password {padding:30px;}
.kui-app .form-password .kui-form-button {margin-left:0;}
.kui-app .form-user .ant-form-item-label {width:80px;}
.kui-app .form-user .kui-form-button {margin-left:80px;}
.kui-app .form-user .ant-row {flex-direction:row;}
.kui-app .form-user .ant-form .ant-form-item .ant-form-item-label {flex:0 1 auto;width:25%;}
.kui-app .form-user .ant-form .ant-form-item .ant-form-item-control {flex:0 1 auto;width:75%;}

/*Form*/
.kui-app-form {padding:1rem 1rem 64px 1rem;}
.kui-app-form-action {position:fixed;left:0;right:0;bottom:0;padding:1rem;}
.kui-app-form-inline .ant-row {flex-flow:row nowrap;}
.kui-app-form-inline .ant-form-item .ant-form-item-label {flex:0 0 100px;}
.kui-app-form-inline .ant-form-item .ant-form-item-control {flex:0 0 calc(100% - 100px);}
.kui-app-form-inline .ant-form-item .ant-form-item-control .anticon-plus-circle {font-size:1.2rem;}

:root[data-theme=dark] .kui-app-nav.ant-btn-primary {
    background-color:#131313;color:#d8d8d8;
}

/*--Web--*/
::-webkit-scrollbar {width:8px;}
::-webkit-scrollbar-track {background:transparent;}
::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.5);border-radius:6px;}
/* 针对Firefox */
* {scrollbar-width:thin;scrollbar-color:rgba(0,0,0,0.5) transparent;}

.kui-install .kui-logo, .login .kui-logo {width:200px;}

#kuiSpin {position:fixed;top:0;left:0;right:0;bottom:0;z-index:2000;}
#kuiSpin .mask {position:fixed;top:0;left:0;right:0;bottom:0;z-index:2001;background-color:#000;opacity:0.25;}
#kuiSpin .spin {position:absolute;z-index:2002;top:50%;left:50%;text-align:center;color:#d8d8d8;}

#components-reconnect-modal, #blazor-error-ui,
#components-reconnect-modal > .mask, #blazor-error-ui > .mask {
    text-align:center;position:fixed;z-index:2000;top:0;left:0;right:0;bottom:0;
}
#components-reconnect-modal > .mask, #blazor-error-ui > .mask {background-color:#000;opacity:0.75;}
#components-reconnect-modal, #components-reconnect-modal > .mask, #blazor-error-ui {display:none;}
#blazor-error-ui > .error,
#components-reconnect-modal > .show,
#components-reconnect-modal > .failed,
#components-reconnect-modal > .rejected {
    display:none;position:fixed;left:50%;top:10%;width:400px;padding:10px;margin-left:-200px;z-index:2001;
    background-color:#fff;padding:15px;border-radius:5px;font-size:18px;
}
#blazor-error-ui > .error {display:block;}
#components-reconnect-modal.components-reconnect-show1,
#components-reconnect-modal.components-reconnect-show1 > .mask,
#components-reconnect-modal.components-reconnect-show1 > .show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-failed > .mask,
#components-reconnect-modal.components-reconnect-failed > .failed,
#components-reconnect-modal.components-reconnect-rejected,
#components-reconnect-modal.components-reconnect-rejected > .mask,
#components-reconnect-modal.components-reconnect-rejected > .rejected {display:block;}
#components-reconnect-modal a, #blazor-error-ui a {margin-top:10px;}
#components-reconnect-modal .show {color:#1890ff;}
#components-reconnect-modal .failed, #blazor-error-ui > .error {color:#d9363e;}
#components-reconnect-modal .rejected {color:#52c41a;}