@import "font-awesome.css";
@import "prism.css";

::-webkit-scrollbar {width:20px;}
::-webkit-scrollbar-track {background:transparent;}
::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.5);border-radius:6px;}
/* Õë¶ÔFirefox */
* {scrollbar-width:thin;scrollbar-color:rgba(0,0,0,0.5) transparent;}

:root {--kui-form-label-width:120px;}
:root {--kui-bgcolor:#ffffff;--kui-color:#596172;--kui-border-color:#f0f0f0;}
:root[data-theme=dark] {--kui-bgcolor:#141414;--kui-color:#d8d8d8;--kui-border-color:rgba(253, 253, 253, 0.12);}

/*Common*/
.kui-wrapper {position:absolute;top:0;bottom:0;left:0;right:0;background-color:var(--kui-bgcolor);}
.kui-wrapper > .ant-spin {position:absolute;top:0;bottom:0;left:0;right:0;text-align:center;padding-top:20%;}
.kui-header, .kui-card, .kui-install, .kui-install-form, .kui-query, .kui-table, .kui-form, .kui-small, .kui-form-tab, .kui-form-step {
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}
.kui-card, .kui-query, .kui-table, .kui-form, .kui-small, .kui-form-tab, .kui-form-step {border-radius:5px;}
.kui-header {display:flex;justify-content:space-between;padding:0 10px;}
.kui-header .left > div {margin-right:10px;}
.kui-nav {display:flex;align-items:center;gap:10px;margin:0;padding-left:10px;}
.kui-nav li {list-style:none;line-height:normal;padding:0 2px;}
.kui-nav li.edit {background-color:#c0c5cd;padding:15px 2px;border-radius:2px;}
.kui-query {margin-bottom:10px;padding:10px;}
.kui-title {font-size:1rem;font-weight:bold;}
.kui-toolbar {display:flex;justify-content:space-between;align-items:center;padding-bottom:10px;}
.kui-toolbar > div {display:flex;align-items:center;}
.kui-toolbar {margin-bottom:5px;padding:5px 10px;border-bottom:1px solid #f0f0f0;}
.kui-table.form-list .kui-toolbar {border-bottom:none;}
.kui-table .setting {margin-left:5px;cursor:pointer;font-size:18px;}
.kui-striped table tr:nth-child(odd) td {background-color:#fdfdfd;}
.kui-caption {font-weight:bold;font-size:1rem;margin:5px;padding:2px 10px;border-left:5px solid #1890ff;}
.kui-link {color:#1890ff;cursor:pointer;}
.kui-menu li {list-style:none;display:inline-block;margin-left:10px;}
.kui-menu li a {color:var(--kui-color);}
.kui-frame {border:none;width:100%;height:calc(100vh - 80px);min-height:550px;}
.kui-tips {color:#1890ff;margin-left:10px;}
.kui-right {text-align:right;}
.kui-center {text-align:center;}
.kui-flex {display:flex;}
.kui-error {text-align:center;padding:20px;height:100%;}
.kui-primary {color:#1890ff;}
.kui-danger {color:#ed4014;}
.kui-bg-danger, .kui-bg-danger > td {background-color:#ffccc7 !important;}
.kui-bg-danger:hover, .kui-bg-danger:hover > td {background-color: #ffa39e !important;}
.kui-p10 {padding:10px;}
.kui-app-name {
    font-weight:bold;margin-top:0.9rem;margin-bottom:0.9rem;text-align:center;line-height:1.8rem;font-size:1.3rem;
    -webkit-box-reflect:below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(0,0,0,.3));
}
.kui-card {height:100%;}
.kui-edit {border:1px dashed #ccc;border-radius:2px;text-align:center;cursor:pointer;}
.ant-menu > .kui-edit {margin:10px;padding:5px;}

/*Grid*/
.kui-row {display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));gap:10px;height:100%;}
.kui-row-19, .kui-row-28, .kui-row-37, .kui-row-46, .kui-row-56, .kui-row-64, .kui-row-73, .kui-row-82, .kui-row-91 {
    display:grid;gap:10px;padding-right:10px;height:100%;
}
.kui-row-19 {grid-template-columns:10% 90%;}
.kui-row-28 {grid-template-columns:20% 80%;}
.kui-row-37 {grid-template-columns:30% 70%;}
.kui-row-46 {grid-template-columns:40% 60%;}
.kui-row-56 {grid-template-columns:50% 50%;}
.kui-row-64 {grid-template-columns:60% 40%;}
.kui-row-73 {grid-template-columns:70% 30%;}
.kui-row-82 {grid-template-columns:80% 20%;}
.kui-row-91 {grid-template-columns:90% 10%;}

/*Form*/
.kui-steps-content {
    margin-top:16px;padding:10px;background-color:var(--kui-bgcolor);
    border:1px dashed var(--kui-border-color);
    border-radius:6px;min-height:200px;
}
.kui-form-content {padding:10px;}
.kui-form-action {text-align:right;}
.kui-form-action button {margin-left:8px;}
.kui-form-page {padding:24px 50px 20px 0;}
.kui-form-page-button {margin-left:var(--kui-form-label-width);}
.kui-form-page-button button {margin-right:10px;}
.kui-form-button {margin-left:200px;}
.kui-form-button button {margin-right:10px;}
.kui-form-auth {width:400px;margin:0 auto;}

/*GroupBox*/
.kui-group-box {position:relative;border:1px dashed var(--kui-border-color);border-radius:6px;}
.kui-group-box .legend {position:absolute;top:-15px;left:20px;padding:0 10px;}
.kui-group-box .body {padding:10px;}

/*ListBox*/
.kui-list-box {position:relative;height:100%;}
.kui-list-box-search {margin:10px;}
.kui-list-box-body {position:absolute;left:0;right:0;top:0;bottom:0;padding:10px;overflow:auto;}
.kui-list-box-body li {position:relative;padding:5px 10px;cursor:pointer;border-left:3px solid transparent;}
.kui-list-box-body li:hover {background-color:#f1f1f1;}
.kui-list-box-body li.active {background-color:#bae7ff;color:#1890ff;border-left-color:#1890ff;}

/*EditInput*/
.kui-edit-input {display:flex;}
.kui-edit-input input {width:190px;}
.kui-edit-input .kui-link {margin-left:10px;display:flex;align-items:center;}

/*Search*/
.kui-advanced-search .item {display:grid;grid-template-columns:140px 140px auto 70px;margin-top:10px;grid-column-gap:5px;}

/*Pick*/
.kui-pick, .kui-pick-clear {
    position:absolute;top:0;right:0;cursor:pointer;text-align:center;
    display:block;width:32px;height:32px;line-height:32px;
}
.kui-pick-clear {right:28px;}
.kui-icon-picker {position:relative;height:300px;}
.kui-icon-picker .search {position:absolute;top:0;left:0;right:0;}
.kui-icon-picker .items {position:absolute;top:35px;left:0;bottom:0;right:0;overflow:auto;}
.kui-icon-picker .item {display:inline-block;font-size:2rem;width:80px;text-align:center;margin:2px;}
.kui-icon-picker .item.active {font-weight:bold;color:#1890ff;}
.kui-icon-picker .item .name {display:block;font-size:1rem;height:1rem;line-height:1rem;overflow:hidden;}

@media screen and (max-width:768px) {
    .kui-toolbar {flex-direction:column;}
    .kui-logo {margin-left:6px;}
    .kui-app-name {display:none;}
    .kui-header {flex-direction:column;padding:0;}
    .kui-nav {justify-content:flex-end;gap:8px;margin:5px 0 0 0;padding:5px;}
    .kui-form-page {padding:10px 10px 20px 10px;}
    .kui-form-page-button {margin-left:0;}
    .kui-row-19, .kui-row-28, .kui-row-37, .kui-row-46, .kui-row-56, .kui-row-64, .kui-row-73, .kui-row-82, .kui-row-91 {
        grid-template-columns:100%;grid-row-gap:10px;padding-right:0;
    }
    .kui-card {min-height:200px;}
    .kui-table > .kui-toolbar {height:auto;}
    .kui-toolbar {align-items:start;}
    .kui-toolbar > div {flex-direction:column;align-items:start;}
}

:root[data-theme=dark] .kui-toolbar {border-bottom:1px solid #303030;}
:root[data-theme=dark] .kui-list-box li:hover, 
:root[data-theme=dark] .kui-list-box li.active {background-color:rgba(255, 255, 255, 0.08);}
:root[data-theme=dark] .kui-striped table tr:nth-child(odd) td {background-color:#1a1a1a;}
:root[data-theme=dark] .kui-striped table tr:nth-child(even) td {background-color:var(--kui-bgcolor);}

/*File*/
.kui-form-files {margin-top:5px;}
.kui-form-files span {margin-right:5px;}
.kui-upload {display:flex;}
.kui-upload .kui-button, .kui-upload-button {
    border:1px solid var(--kui-border-color);border-radius:3px;padding:0 10px;margin-right:10px;
    height:30px;line-height:30px;position:relative;
}
.kui-upload .kui-button input, .kui-upload-button input {
    position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;outline:0;
}
.kui-upload-button {display:inline;padding:5px 10px;}

/*Setting*/
.kui-nav-setting, .kui-table-setting {
    background-color:var(--kui-bgcolor);padding:10px;border:1px solid var(--kui-border-color);border-radius:5px;
    max-height:500px;overflow:auto;
}
.kui-nav-setting .title, .kui-table-setting .title {font-weight:bold;margin:0 0 10px 30px;}
.kui-table-setting .item {display:flex;align-items:center;margin-bottom:5px;}
.kui-table-setting .item > .anticon {width:30px;cursor:move;color:var(--kui-color);}
.kui-table-setting .item > .ant-checkbox-wrapper {width:150px;}
.kui-table-setting .item > .ant-input-number {width:80px;}

.kui-nav-setting .item {display:flex;justify-content:space-between;align-items:center;margin-bottom:5px;}
.kui-nav-setting .item > .span {cursor:move;padding-right:10px;}
.kui-nav-setting .item > .span > .anticon {width:30px;color:var(--kui-color);}
.kui-nav-setting .item > .anticon-delete {width:30px;color:#ed4014;cursor:pointer;}
.kui-nav-setting .item > .anticon-close {width:30px;cursor:pointer;}
.kui-nav-setting > .anticon-plus {display:block;text-align:center;cursor:pointer;margin-top:10px;padding:5px;border:1px dashed #ccc;}

#components-reconnect-modal, #blazor-error-ui,
#components-reconnect-modal > .mask, #blazor-error-ui > .mask {
    text-align:center;position:fixed;z-index:2000;top:0;left:0;right:0;bottom:0;
}
#components-reconnect-modal > .mask, #blazor-error-ui > .mask {background-color:#000;opacity:0.75;}
#components-reconnect-modal, #components-reconnect-modal > .mask, #blazor-error-ui {display:none;}
#blazor-error-ui > .error,
#components-reconnect-modal > .show,
#components-reconnect-modal > .failed,
#components-reconnect-modal > .rejected {
    display:none;position:fixed;left:50%;top:10%;width:400px;padding:10px;margin-left:-200px;z-index:2001;
    background-color:#fff;padding:15px;border-radius:5px;font-size:18px;
}
#blazor-error-ui > .error {display:block;}
#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-show > .mask,
#components-reconnect-modal.components-reconnect-show > .show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-failed > .mask,
#components-reconnect-modal.components-reconnect-failed > .failed,
#components-reconnect-modal.components-reconnect-rejected,
#components-reconnect-modal.components-reconnect-rejected > .mask,
#components-reconnect-modal.components-reconnect-rejected > .rejected {display:block;}
#components-reconnect-modal a, #blazor-error-ui a {margin-top:10px;}
#components-reconnect-modal .show {color:#1890ff;}
#components-reconnect-modal .failed, #blazor-error-ui > .error {color:#d9363e;}
#components-reconnect-modal .rejected {color:#52c41a;}

/*Layout*/
.kui-layout {position:absolute;top:0;left:0;right:0;bottom:0;}
.kui-header {
    padding:0 10px;height:54px;line-height:54px;
    display:flex;justify-content:space-between;
    color:var(--kui-color);
}
.kui-layout > .kui-header {padding-left:0;}
.kui-header .left {display:flex;align-items:center;}
.kui-header .left .trigger {font-size:18px;margin-top:2.5px;padding-right:10px;cursor:pointer;transition:color 0.3s;}
.Compact .kui-header .left .trigger {font-size:14px;margin-top:0;}
.kui-header .left .trigger:hover {color:#1890ff;}
.kui-header .anticon {cursor:pointer;}
.kui-header .ant-breadcrumb a {color:var(--kui-color);}
.kui-nav-tabs {height:calc(100vh - 54px);}
.kui-body {height:calc(100vh - 54px);padding:10px;overflow:auto;}
.ant-tabs-content > .kui-body {height:calc(100vh - 94px);}
.ant-tabs-top > .ant-tabs-nav {margin:0;padding:0 10px;}
.kui-table .ant-tabs-top > .ant-tabs-nav {margin-bottom:5px;}
.ant-modal-body .ant-tabs-top > .ant-tabs-nav {margin-bottom:5px;}
.ant-tabs-top.kui-nav-tabs > .ant-tabs-nav {
    margin:0;padding:5px 2px;background:var(--kui-bgcolor);
    border-bottom:1px solid var(--kui-border-color);
}
.Compact .ant-tabs-top.kui-nav-tabs > .ant-tabs-nav {padding:2px;}
.ant-tabs-card.ant-tabs-top1 > .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color:unset;
}
.kui-nav-tabs > .ant-tabs-nav .ant-tabs-tab {padding:5px 10px;border:none;}
.kui-nav-tabs .ant-tabs-tab .anticon {margin-right:5px;}
.kui-nav-tabs .ant-tabs-tab-remove {margin-left:0;}
.kui-nav-tabs .ant-tabs-tab-remove .anticon {margin-right:0;}
.ant-layout-sider + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {
    position:absolute;top:0;left:250px;right:350px;height:54px;border-bottom:0;transition:all 0.2s;
}
.ant-layout-sider-collapsed + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {left:110px;}
.kui-menu-float + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {left:85px;}
.kui-nav-tabs.is-top > .ant-tabs-content-holder > .ant-tabs-content > .kui-body {height:calc(100vh - 54px);}
.kui-logo {height:54px;padding-left:10px;overflow:hidden;cursor:pointer;}
.kui-header .kui-logo {width:180px;padding-left:0;}
.kui-scroll {
    position:fixed;top:54px;left:0;bottom:0;width:200px;
    overflow-y:auto;overflow-x:hidden;scrollbar-width:none;
}
.kui-scroll .ant-menu {width:200px;}
.kui-footer {text-align:center;padding:10px;}

/*Style*/
.kui-setting-form .ant-form-item-label {text-align:left;}
.kui-setting-form h4 {font-size:14px;margin-bottom:20px;}
.kui-setting-form .ant-divider-horizontal {margin-top:0;}
.kui-theme-color {display:flex;gap:10px;margin-bottom:20px;}
.kui-theme-color .item {width:20px;height:20px;border-radius:3px;cursor:pointer;color:#fff;text-align:center;}

.kui-query .ant-form-item {margin:0;}
.kui-query .ant-form-item-label {width:100px;text-align:left;}
.kui-query .ant-form-item-control {margin-right:10px;}
.kui-query .ant-picker-range input {width:98px;}
.ant-query-more .ant-picker-range input {width:100%;}
.kui-form .ant-form-item-label {width:var(--kui-form-label-width);}
.kui-small .ant-form-item-label {width:85px;}
.kui-system .ant-form-item-label {width:150px;}
.kui-user-info li .anticon {color:#2d8cf0;}
.kui-development > .ant-tabs-nav {margin:0;}
.kui-role .ant-checkbox-group {display:flex;flex-direction:column;padding:5px;}
.kui-form-setting .ant-form-item-label {text-align:left;}
.kui-form-setting .ant-radio-group {display:flex;}

.kui-header, .kui-layout .kui-logo {border-bottom:1px solid var(--kui-border-color);}
.ant-layout-header {background:var(--kui-bgcolor);}
.kui-menu-dark {background:#001529;color:rgba(255,255,255,0.65);border-bottom:none;}
.kui-menu-dark .kui-logo, .kui-header .kui-logo {border-bottom:none;}

/*AntDesign*/
.ant-btn {padding:4px 10px;}
.ant-btn > .anticon + span, 
.ant-btn > span + .anticon {margin-left:2px;}
.ant-drawer-close {margin-right:0;}
.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {width:60px;}
.ant-menu-inline, 
.ant-menu-vertical, 
.ant-menu-vertical-left {border-right:none;}
.ant-tabs-extra-content {display:flex;}
.ant-tabs-extra-content .kui-title {padding-right:30px;color:var(--kui-color);}
.kui-table .kui-title {padding-left:0;}
.ant-table-wrapper {padding:0 10px;}
.ant-table .ant-tag {cursor:pointer;}
.ant-table-thead > tr > th {font-weight:bold;}
.ant-table-tbody > tr > td.kui-table-action > div > a {padding:0 5px;}
.ant-table.ant-table-small .ant-table-tbody > tr > td {padding:3px 5px;}
.kui-striped .ant-table-tbody > tr.ant-table-row-selected > td {background-color:#dcf4ff;}
.ant-table-pagination.ant-pagination {margin:5px 0 10px 0;}
.ant-toolbar {display:flex;gap:3px;}

.ant-modal {top:30px;}
.ant-modal-body > .ant-steps {padding:15px 0 10px 0;}
.ant-modal-content {border-radius:5px;}
.ant-modal-header {border-radius:5px 5px 0 0;}
.ant-modal-body, .ant-drawer-body {padding:15px;}
.ant-modal-body .kui-small {padding:10px 10px 0 0;}
.ant-modal-body .kui-form {padding:10px 10px 0 0;}
.ant-modal-body .kui-form-action {padding:0 10px 10px 0;}

.kui-tab-form .ant-modal-body {padding-top:0;}
.kui-tab-form .ant-tabs-extra-content .ant-tag {font-size:1rem;padding:5px 10px;}

:root[data-theme=dark] .ant-layout-sider, :root[data-theme=dark] .kui-menu-dark {
    color:var(--kui-color);background-color:var(--kui-bgcolor);
}
:root[data-theme=dark] .ant-modal-header .anticon {color:rgba(255 255,255,0.45);}

.ant-captcha + img, .ant-captcha + canvas, .ant-captcha + .btn-sms {
    position:absolute;top:0;right:0;z-index:1000;text-align:center;
    width:110px;height:31px;line-height:31px;cursor:pointer;
}
.ant-captcha + .btn-sms {background-color:#f8eeb8;color:#596172;top:1px;right:1px;height:30px;}
.ant-menu-submenu-title .fa + span, .ant-menu-item .fa + span {margin-left:10px;}
.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {width:auto;}

@media screen and (max-width:768px) {
    .kui-header .left, .kui-nav-full, .kui-nav-setting {display:none;}
    .ant-layout-header {line-height:normal;}
    .ant-modal {top:10px;margin-top:10px;margin-left:8px;}
    .ant-row {flex-direction:column;}
    .ant-col-20, .ant-col-18, .ant-col-16, .ant-col-14, .ant-col-12, 
    .ant-col-10, .ant-col-8, .ant-col-6, .ant-col-4 {max-width:100%;}
    .ant-toolbar {flex-wrap:wrap;padding-top:0;}
    .ant-form-inline {flex-direction:column;}
    .ant-form-item .ant-form-item-label {padding-bottom:0;}
    .ant-input-search-icon {font-size:20px;}
    .kui-query {padding:10px;}
    .kui-query .ant-form-item-label {text-align:left;}
    .ant-query-btn {margin-top:5px;}
    .kui-table .kui-title {padding:5px 0;}
    .kui-table .ant-tabs-tab {padding:5px 0;}
    .kui-table .ant-tabs-top > .ant-tabs-nav {flex-direction:column;align-items:start;}
    .kui-table .ant-toolbar {padding-top:5px;}
    .kui-table .ant-tabs-nav .ant-toolbar {padding-bottom:10px;}
}

/*---App---*/
.kui-app {
    position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}

.kui-app-nav {
    position:fixed;top:0;left:0;right:0;padding:0 1rem;font-weight:bold;font-size:1rem;text-align:center;
    border-bottom:1px solid #ccc;height:40px;line-height:40px;background-color:#1890ff;color:#fff;
}
.kui-app-nav .back {cursor:pointer;position:absolute;top:0;left:0;bottom:0;width:80px;}
.kui-app-page {position:fixed;top:0;left:0;right:0;bottom:0;overflow:auto;background-color:#fff;}
.kui-app-page.nav {top:40px;}
.kui-app-page.tab {bottom:50px;}

.kui-app-tab {
    position:fixed;left:0;right:0;bottom:0;height:50px;
    display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));list-style:none;
    border-top:1px solid #ccc;margin:0;padding:0;
}
.kui-app-tab li {cursor:pointer;display:flex;flex-direction:column;text-align:center;padding-top:5px;}
.kui-app-tab .anticon {font-size:18px;}
.kui-app-tab .active {color:#1890ff;}

.kui-app-menu {list-style:none;margin:0;padding:0;}
.kui-app-menu li {display:inline-block;text-align:center;cursor:pointer;margin-bottom:20px;}
.kui-app-menu-icon {color:#fff;border-radius:50%;width:60px;height:60px;margin:0 auto 5px auto;}
.kui-app-menu .anticon {font-size:40px;margin-top:10px;}

.kui-app-row {display:flex;height:56px;}
.kui-app-row > label, .kui-app-row > span {padding-top:5px;}
.kui-app-row > label {padding-right:10px;}

.kui-app-fixed > .ant-tabs-nav {position:fixed;top:40px;left:0;right:0;z-index:101;background-color:var(--kui-bgcolor);}
.kui-app-fixed > .ant-tabs-content-holder {padding-top:60px;}

.kui-app-search, .kui-app-search-info {position:absolute;background-color:var(--kui-bgcolor);}
.kui-app-search {left:0;right:0;z-index:101;}
.kui-app-search-info {left:0;right:0;bottom:0;z-index:101;}
.kui-app-search-result {padding:40px 0;}
.kui-app .kui-app-search {position:fixed;top:40px;padding:20px;}
.kui-app .kui-app-search-result {padding:60px 20px;}
.kui-app .kui-app-search-info {position:fixed;padding:10px;}

.kui-app-rc2 {display:flex;justify-content:space-between;align-items:center;}

.kui-app-upload {
    position:relative;width:60px;height:60px;line-height:60px;text-align:center;
    border:1px dashed #ccc;border-radius:5px;background-color:#f1f1f1;display:inline-block;
}
.kui-app-upload img {width:100%;height:100%;}
.kui-app-upload .anticon {font-size:1.5rem;}
.kui-app-upload input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;outline:0;}

.carousel {background-color:#1890ff;}
.carousel img {width:100%;height:200px;}
/*---App---*/