@import "font-awesome.css";

/*KnownUI*/
:root {
    --kui-theme-color: #1c66b9;/*#4188c8*/
    --kui-side-width: 200px;
    --kui-line-color: #dcdee2;
    --kui-th-bgcolor: #f1f1f1;
    --kui-border: #d5d5d5;
    --kui-border-radius: 0.25rem;
    --kui-tab-active: #5cb85c;
    --kui-disabled: #e7e9ee;/*#c5c8ce;*/
    --kui-primary: #2d8cf0;/*#2d8cf0;#3492d0;*/
    --kui-success: #19be6b;/*#19be6b;#5cb85c;*/
    --kui-info: #2db7f5;/*#2db7f5;#5bc0de;*/
    --kui-warning: #ff9900;/*#ff9900;#f0ad4e;*/
    --kui-danger: #ed4014;/*#ed4014;#d9534f;*/
}

.kui-layout {width:100%;height:100%;}
.kui-head {position:absolute;top:0;left:var(--kui-side-width);right:0;height:50px;background-color:#fff;}
.kui-side {position:absolute;top:0;left:0;bottom:0;width:var(--kui-side-width);overflow:hidden;background-color:var(--kui-theme-color);}
.kui-body {position:absolute;top:50px;left:var(--kui-side-width);right:0;bottom:0;background-color:#f0f2f5;}

.kui-header {display:flex;justify-content:space-between;padding:0 10px;}
.kui-background {background:#fff;}
.kui-top {display:flex;justify-content:space-between;}
.kui-table {padding-top:10px;}

.kui-block {display:block;width:100%;}

.kui-row {margin-bottom:1.5rem;}
.kui-col {}
.kui-col-24 {width:100%;}
.kui-col-20 {width:83.333%;}
.kui-col-18 {width:75%;}
.kui-col-16 {width:66.667%;}
.kui-col-12 {width:50%;}
.kui-col-8 {width:33.333%;}
.kui-col-6 {width:25%;}
.kui-col-4 {width:16.667%;}

.kui-field {position:relative;}
.kui-field label {position:relative;padding-left:1.5rem;}
.kui-field label input {position:absolute;top:2.5px;left:0;}
.kui-field input {width:100%;border:1px solid var(--kui-border);padding:2.5px 5px;}
.kui-field input[type="checkbox"] {width:1.2rem;min-width:1.2rem;height:1.2rem;}
.kui-button {padding:5px;}
.kui-button:not(:disabled):hover {-moz-opacity:0.8;opacity:0.8;filter:alpha(opacity=80);}

.kui-badge.default, .kui-tag.default, .kui-banner.default, .kui-notify.default, .kui-toast span.default, .kui-progress .value.default, .kui-timeline li.default:before, .kui-button.default {background-color:#fff;border:1px solid var(--kui-border);}
.kui-badge.primary, .kui-tag.primary, .kui-banner.primary, .kui-notify.primary, .kui-toast span.primary, .kui-progress .value.primary, .kui-timeline li.primary:before, .kui-button.primary {background-color:var(--kui-primary);color:#fff;border:1px solid transparent;}
.kui-badge.success, .kui-tag.success, .kui-banner.success, .kui-notify.success, .kui-toast span.success, .kui-progress .value.success, .kui-timeline li.success:before, .kui-button.success {background-color:var(--kui-success);color:#fff;border:1px solid transparent;}
.kui-badge.info,    .kui-tag.info,    .kui-banner.info,    .kui-notify.info,    .kui-toast span.info,    .kui-progress .value.info,    .kui-timeline li.info:before,    .kui-button.info    {background-color:var(--kui-info);color:#fff;border:1px solid transparent;}
.kui-badge.warning, .kui-tag.warning, .kui-banner.warning, .kui-notify.warning, .kui-toast span.warning, .kui-progress .value.warning, .kui-timeline li.warning:before, .kui-button.warning {background-color:var(--kui-warning);color:#fff;border:1px solid transparent;}
.kui-badge.danger,  .kui-tag.danger,  .kui-banner.danger,  .kui-notify.danger,  .kui-toast span.danger,  .kui-progress .value.danger,  .kui-timeline li.danger:before,  .kui-button.danger  {background-color:var(--kui-danger);color:#fff;border:1px solid transparent;}
td .kui-tag.default {font-weight:bold;background-color:transparent;color:#555;border:none;}
td .kui-tag.primary {font-weight:bold;background-color:transparent;color:var(--kui-primary);}
td .kui-tag.success {font-weight:bold;background-color:transparent;color:var(--kui-success);}
td .kui-tag.info    {font-weight:bold;background-color:transparent;color:var(--kui-info);}
td .kui-tag.warning {font-weight:bold;background-color:transparent;color:var(--kui-warning);}
td .kui-tag.danger  {font-weight:bold;background-color:transparent;color:var(--kui-danger);}

/*Common*/
.steps-content {
    margin-top:16px;padding:10px;
    border:1px dashed #e9e9e9;
    border-radius:6px;
    background-color:#fafafa;
    min-height:200px;
}
.form-flow {
    padding:10px;
    border:1px dashed #e9e9e9;
    border-radius:6px;
    background-color:#fafafa;
}
.form-content {padding:10px;}
.form-action {margin-top:24px;text-align:right;}
.form-action button {margin-left:8px;}

@media screen and (max-width:768px) {
    .kui-top {flex-direction:column;}
}

.link {color:#1890ff;cursor:pointer;}
.danger {color:#ed4014;}
.center {text-align:center;}
.p10 {padding:10px;}
.col-offset-4 {margin-left:16.66666667%;}

.edit-input {display:flex;}
.edit-input input {width:200px;}
.edit-input .link {margin-left:10px;display:flex;align-items:center;}

.logo {
    height:50px;
    background-image:url(/img/logo.png);
    margin-top:5px;
    margin-left:10px;
}
.app-name {font-size:1.2rem}

/*Install*/
.install {
    position:absolute;top:50%;left:50%;width:500px;height:500px;margin-left:-250px;margin-top:-250px;
    background-color: #fff; padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
}
.install h1 {text-align:center;}
.install .button {text-align:center;}

/*Login*/
.login {
    position:absolute;top:50%;left:50%;background-color:#fff;
    width:800px;height:400px;margin-left:-400px;margin-top:-200px;
    -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
    box-shadow:0 0 10px 3px rgba(0,0,0,.3);
}
.login h1 {font-size:1.3rem;font-weight:bold;margin-bottom:20px;text-align:center;}
.login-form {display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));}
.login-left {margin-top:50px;padding-left:90px;height:250px;}
.login .slogan {width:260px;text-align:center;color:#333;font-size:1.3rem;font-weight:bold;}
.login .image {width:260px;height:180px;margin-top:20px;}
.login-right {padding:30px 50px;}
.login-right .kui-label {position:absolute;top:5px;left:10px;padding-left:0;}
.login-right .kui-field input {padding-left:30px;}

.copyright {position:absolute;bottom:50px;text-align:center;color:#fff;width:100%;font-size:1.1rem;}
.copyright span {margin:0 5px;}
.copyright a {color:#fff;}

@media screen and (max-width:768px) {
    .login {width:80%;margin-left:-40%;}
    .login-left {display:none;}
    .login-right {padding:50px 20px;}
}

/*UserProfile*/
.user-avatar {text-align:center;}
.user-avatar img {width:100px;height:100px;margin:20px auto;}
.user-info {padding:20px;}
.user-info li {list-style:none;text-align:justify;margin-bottom:10px;}
.user-info li .anticon {color:#2d8cf0;}
.user-info li span {color:#333;font-size:0.9rem;}

.user-message .data-top {padding-top:10px;}
.user-message .form-label {width:auto;}
.user-message .form {margin-top:10px;}
.user-message .form-button {padding:10px;text-align:center;}
.user-message .noread {font-weight:bold;color:#000;}

/*Import*/
.form-import {grid-template-rows:20px 50px auto;}
.form-import .item {display:flex;margin:8px 0;}
.form-import .item input {display:inline-block;border:1px solid #d5d5d5;}
.form-import .link {margin-right:10px;}
.form-import .size {margin-left:10px;}
.form-import .message {padding:10px 0;}

/*File*/
.form-files {margin-top:5px;}
.form-files span {margin-right:5px;}

/*Setting*/
.form-setting button {margin:0 5px;}

/*Role*/
.role {display:flex;}
.role-form {width:400px;padding-right:20px;}
.role-module {width:260px;}
.role-button {background-color:#f5f5f5;width:160px;}
.role-column {background-color:#f1f1f1;width:160px;}