@inherits BasePage

<GridRow>
    <GridCol Span="24">
        <div class="ws-space">
            <div class="ws-welcome">
                <img class="ws-avatar" src="@user?.AvatarUrl" />
                <div class="ws-info">
                    <span class="ws-name">@info?.Greeting</span>
                    <span class="ws-tips">今天是：@DateTime.Now.ToString("yyyy年MM月dd日 dddd")</span>
                </div>
            </div>
            <ul class="count">
                <li>
                    <span class="name">用户数量<span class="month">总</span></span>
                    <span class="amount">@info?.Statistics?.UserCount</span>
                </li>
                <li>
                    <span class="name">日志数量<span class="month">总</span></span>
                    <span class="amount">@info?.Statistics?.LogCount</span>
                </li>
            </ul>
        </div>
    </GridCol>
</GridRow>
<GridRow>
    <GridCol Span="14">
        <div style="height:400px;">
            <Card Style="height:100%;">
                <CardTabs>
                    <Tabs DefaultActiveKey="1">
                        <TabPane Key="1">
                            <TabTemplate>日志统计</TabTemplate>
                            <ChildContent>
                                <AntDesign.Charts.Column Config="chartConfig" Data="chartData" />
                            </ChildContent>
                        </TabPane>
                    </Tabs>
                </CardTabs>
            </Card>
        </div>
    </GridCol>
    <GridCol Span="10">
        <div style="height:400px;margin-left:10px;">
            <Card Title="常用功能" Style="height:100%;">
                @if (visitMenus != null && visitMenus.Count > 0)
                {
                    foreach (var item in visitMenus)
                    {
                        <div class="ws-func-menu" onclick="@(() => Context.Navigate(item))">
                            <Icon Type="@item.Icon" Theme="outline" />
                            <span class="name">@item.Name</span>
                        </div>
                    }
                }
            </Card>
        </div>
    </GridCol>
</GridRow>

@code {
    private UserInfo user;
    private HomeInfo info;
    private object[] chartData;
    private List<Known.MenuItem> visitMenus;
    private ColumnConfig chartConfig = new()
    {
        Name = $"{DateTime.Now:yyyyMM}月系统访问量统计",
        Height = 274,
        Padding = "auto",
        XField = "key",
        YField = "value",
        Meta = new
        {
            Key = new { Alias = "日期" },
            Value = new { Alias = "数量" }
        }
    };

    protected override async Task OnInitPageAsync()
    {
        await base.OnInitPageAsync();

        user = CurrentUser;
        var service = new Services.HomeService { CurrentUser = user };
        info = await service.GetHomeAsync();
        chartData = info?.Statistics?.LogDatas?.FirstOrDefault()?.Series.Select(d => new { d.Key, d.Value }).ToArray();
        visitMenus = Context.GetMenus(info?.VisitMenuIds);
    }
}