html, body {
    background-color: #f2f2f2;
    color: #666;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.center {
    text-align: center;
}

.layui-form th {
    border: 1px solid #e9e7e7;
    background-color: #f1f1f1;
    padding: 2px;
}

.layui-form td {
    border: 1px solid #e9e7e7;
    padding: 2px;
}

.layui-fluid {
    padding: 10px;
}

.layui-carousel {
    background-color: transparent;
}

.layui-btn-group {
    padding: 5px;
}

.layui-fit, .fit-col {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fit-col {
    margin: 10px;
    background-color: #fff;
    overflow: auto;
}

.layui-fit .layui-card {
    width: 100%;
    height: 100%;
}

.layui-fit .layui-tab {
    position: relative;
    width: 100%;
    height: 100%;
}

.layui-fit .layui-tab-content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.layui-fit .layui-table,
.layui-fit .layui-table-view {
    margin: 0;
    padding: 5px;
    border: none;
}

.layui-fit .layui-table-tool {
    padding: 5px;
    min-height: 30px;
    background-color: #fff;
}
.layui-fit .layui-table-tool-self {
    top: 5px;
    right: 5px;
}

body .layui-layer-title {
    background: #4476A7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    height: 30px;
    line-height: 30px;
}

body .layui-layer-content {
    padding: 5px;
}

body .layui-layer-btn {
    border-top: 1px solid #e9e7e7;
    padding: 5px 10px;
}

body .layui-layer-iframe .layui-layer-btn, 
body .layui-layer-page .layui-layer-btn {
    padding-top: 0;
}

.layui-input, .layui-textarea {
    padding: 2px;
}

.layui-input, .layui-select, .layui-textarea {
    height: auto;
}

.layui-form-switch {
    margin-top: 0;
}