/*Layout*/
html, body, .layui-layout-admin {
    width: 100%;
    height: 100%;
}

.layui-layout-admin .layui-header .layui-nav-item {
    line-height: 50px;
}

.layui-layout-admin .layui-header .layui-nav-child {
    top: 55px;
}

.layui-layout-admin .layui-header {
    height: 50px;
}

.layui-layout-admin .layui-logo {
    position: initial;
    line-height: 50px;
    color: #ddd;
}

.layui-layout-admin .layui-tool {
    position: absolute;
    top: 0;
    left: 200px;
    width: 50px;
    line-height: 50px;
}

.layui-layout-admin .layui-layout-left {
    left: 230px;
}

.layui-layout-admin .layui-side {
    top: 50px;
}

.layui-layout-admin .layui-body {
    top: 50px;
    bottom: 30px;
    overflow: hidden;
}

.layui-layout-admin .layui-footer {
    height: 30px;
    line-height: 30px;
}

.layui-layout-admin .layui-tab {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    bottom: 0;
}

.layui-layout-admin .layui-tab-content {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 41px;
    bottom: 0;
}

.layui-layout-admin .layui-tab-item {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    bottom: 0;
}

.layui-layout-admin .layui-tab-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*Loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 999999;
}

.loader-inner {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1E9FFF;
    animation: spin 2s linear infinite;
}

    .loader-inner:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #1E9FFF;
        animation: spin 3s linear infinite;
    }

    .loader-inner:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #1E9FFF;
        animation: spin 1.5s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

/*Layout*/
.layui-logo, .layui-tool, .layui-layout-left,
.layui-side, .layui-body, .layui-footer {
    transition: all .2s;
}

.layui-layout-admin .layui-logo {
    font-size: 20px;
    font-weight: bold;
}

.layui-logo .mini-logo {
    display: none;
    color: #ddd;
}

.layui-layout-admin .layui-footer {
    text-align: right;
    border-top: 1px solid #ccc;
    background-color: #393D49 !important;
    color: #fff;
}

.toolbar-right .layui-nav-item a {
    padding: 0 10px;
}

.toolbar-right .layui-nav-img {
    margin-right: 0;
}

.toolbar-right .layui-nav-item .layui-nav-more {
    right: 0;
}

.layui-tool {
    text-align: center;
    color: #fff !important;
    cursor: pointer;
}

.layui-header .layui-nav-item a,
.layui-side .layui-nav-item li a {
    padding-left: 16px;
    font-size: 16px;
}

.layui-nav-item a i,
.layui-nav-item a i {
    font-size: 16px;
    margin-right: 5px;
}

.layui-nav .layui-nav-item a {
    padding-left: 15px;
}

.layui-side .layui-nav-child dd {
    padding-left: 20px;
}

/*popup menu*/
.popup-tips .layui-layer-TipsG {
    display: none;
}

.popup-tips.layui-layer-tips .layui-layer-content {
    padding: 0;
}

.popup-tips .layui-nav-tree {
    width: 150px;
    border-radius: 10px;
}

/*tab*/
.layui-tab .layui-tab-left,
.layui-tab .layui-tab-right {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

.layui-tab .layui-tab-left {
    left: 0;
    border-right: 1px solid #e6e6e6;
}

.layui-tab .layui-tab-right {
    right: 0;
    border-left: 1px solid #e6e6e6;
}

.layui-tab-title .layui-tab-bar,
.layui-tab-title li:first-child .layui-tab-close {
    display: none;
}

.layui-tab-title {
    margin: 0 40px;
}

.layui-tab-context {
    display: none;
    position: absolute;
    width: 100px;
    min-width: 100px;
    padding-left: 20px;
}

/*mini side*/
.layui-mini .layui-logo .mini-logo {
    display: block;
}

.layui-mini .layui-logo .full-logo,
.layui-mini .layui-nav-tree .layui-nav-more,
.layui-mini .layui-nav-tree .layui-nav-child,
.layui-mini .layui-nav-tree li a .title {
    display: none !important;
}

.layui-mini .layui-logo .full-logo,
.layui-mini .layui-logo .mini-logo,
.layui-mini .layui-side,
.layui-mini .layui-side-scroll {
    width: 50px !important;
}

.layui-mini .layui-tool,
.layui-mini .layui-body,
.layui-mini .layui-footer {
    left: 50px !important;
}

.layui-mini .layui-layout-left {
    left: 80px;
}

@media screen and (max-width:768px) {
    .layui-logo .mini-logo {
        display: block;
    }

    .layui-logo .full-logo,
    .layui-nav-tree .layui-nav-more,
    .layui-nav-tree .layui-nav-child,
    .layui-nav-tree li a .title {
        display: none !important;
    }

    .layui-logo .full-logo,
    .layui-logo .mini-logo,
    .layui-side,
    .layui-side-scroll {
        width: 50px !important;
    }

    .layui-body,
    .layui-footer {
        left: 50px !important;
    }

    .layui-tool {
        display: none;
    }

    .layui-layout-left {
        left: 80px;
    }
}
