@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>@ViewBag.SystemName</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="~/static/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/static/libs/scrollbar/jquery.scrollbar.css">
    <link rel="stylesheet" href="~/static/libs/miniui/themes/default/miniui.css">
    <link rel="stylesheet" href="~/static/libs/miniui/themes/default/medium-mode.css">
    <link rel="stylesheet" href="~/static/libs/miniui/themes/default/flatstyle.css">
    <link rel="stylesheet" href="~/static/libs/miniui/themes/cupertino/skin.css">
    <link rel="stylesheet" href="~/static/css/frame.css">
    <link rel="stylesheet" href="~/static/css/index.css">

    <script src="~/static/libs/jquery.js"></script>
    <script src="~/static/libs/scrollbar/jquery.scrollbar.js"></script>
    <script src="~/static/libs/miniui/miniui.js"></script>
    <script src="~/static/libs/highcharts/highcharts.js"></script>
    <script src="~/static/libs/highcharts/model/exporting.js"></script>
    <script src="~/static/libs/pdfobject.js"></script>
    <script src="~/static/js/core.js"></script>
    <script src="~/static/js/frame.js"></script>

</head>
<body>

    @Html.AntiForgeryToken()

    <div id="wrapper" style="display:none;">

        <div class="navbar">

            <div class="navbar-header">
                <div class="navbar-brand">@ViewBag.SystemName</div>
                <div class="navbar-brand navbar-brand-compact">K</div>
            </div>

            <!--ul class="nav navbar-nav">
                <li><a id="toggle"><span class="fa fa-bars"></span></a></li>
            </ul-->

            <ul id="tbNavbar" class="nav navbar-nav navbar-right">
                <li class="icontop"><a id="devTool"><i class="fa fa-puzzle-piece"></i><span>开发工具</span></a></li>
                <li class="icontop"><a id="todo"><i class="fa fa-tasks"></i><span>代办事项</span></a></li>
                <li class="icontop"><a id="cache"><i class="fa fa-refresh"></i><span>刷新缓存</span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle userinfo">
                        <img class="user-img" src="~/static/images/face.jpg" />@ViewBag.UserName <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a id="info"><i class="fa fa-user"></i> 用户信息</a></li>
                        <li><a id="logout"><i class="fa fa-power-off"></i> 退出登录</a></li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="container">

            <div class="sidebar">
                <div class="sidebar-toggle"><i class="fa fa-fw fa-dedent"></i></div>
                <div id="mainMenu"></div>
            </div>

            <div class="main">
                <div id="mainTabs" class="mini-tabs" activeIndex="0" style="height:100%;"
                     plain="false" buttons="#tbMainTabs" arrowPosition="side" maskOnLoad="false">
                    <div id="dashboard" name="index" iconCls="fa-home" title="控制台"></div>
                </div>
                <div id="tbMainTabs">
                    <a class="tabsBtn" id="home"><i class="fa fa-home"></i></a>
                    <a class="tabsBtn" id="refresh"><i class="fa fa-refresh"></i></a>
                    <a class="tabsBtn" id="remove"><i class="fa fa-remove"></i></a>
                    <a class="tabsBtn" id="fullScreen"><i class="fa fa-arrows-alt"></i></a>
                </div>
            </div>

        </div>

        <div id="dialog" class="mini-window" title="窗体" iconCls="fa-windows"
             showModal="true" showShadow="true"
             showMaxButton="true" showCollapseButton="true"
             allowResize="true" allowDrag="true">
        </div>

    </div>
    
    <script src="~/static/js/index.js"></script>

</body>
</html>