<div class="easyui-layout" style="width:100%;height:100%;">
    <div style="width:200px;" data-options="region:'west',split:'true',collapsible:'false'">
        <div class="panel-header" style="padding:6px;">分类</div>
        <ul id="tree" class="easyui-tree"
            data-options="method:'get',url:'static/data/tree.json'">
        </ul>
    </div>
    <div region="center">
        <div class="panel-header" style="padding:2px;background:#fff;">
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-plus">新增</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-pencil">编辑</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-minus">删除</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-save">保存</a>
            <a class="easyui-linkbutton" plain="true" iconCls="fa fa-times">关闭</a>
        </div>
        <form class="content">
            <table class="form">
                <tr>
                    <th style="width:80px;">公司编码</th>
                    <td>
                        <input name="name" style="width:100%;" />
                    </td>
                    <th style="width:80px;">公司名称</th>
                    <td>
                        <input name="name" style="width:100%;" />
                    </td>
                    <th style="width:80px;">公司类型</th>
                    <td>
                        <select name="name" style="width:100%;">
                            <option>国有企业</option>
                            <option>外商独资</option>
                            <option>中外合资</option>
                            <option>民营企业</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>联系人</th>
                    <td>
                        <input name="name" style="width:100%;" />
                    </td>
                    <th>手机</th>
                    <td>
                        <input name="name" style="width:100%;" />
                    </td>
                    <th>Email</th>
                    <td>
                        <input name="name" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <th>地址</th>
                    <td colspan="3">
                        <input name="name" style="width:100%;" />
                    </td>
                    <th>邮政编码</th>
                    <td>
                        <input name="name" style="width:100%;" />
                    </td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td colspan="5">
                        <textarea name="name" style="width:100%;height:50px;"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>