<div class="easyui-layout" style="width:100%;height:100%;">
    <div style="height:32px;padding:2px;" region="north">
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-plus'">新增</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-minus'">删除</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-save'">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-cut',disabled:true">Cut</a>
    </div>
    <div style="width:40%;" data-options="
              region: 'west', split: 'true', collapsible: 'false',
              href: '/Pages/Layouts/Partials/TreeGrid.html'
         ">
    </div>
    <div region="center">
    </div>
</div>