<div class="doc-title">
    <div class="title">@Title</div>
    <div class="desc">@Description</div>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Description { get; set; }
}