<footer>
    <div class="row">
        <div class="col brand">
            <img src="img/logo.png" />
            <div class="desc">专注C#和Blazor最前沿技术，为开发者提供优秀开发框架！</div>
        </div>
        <div class="col links">
            <h4>相关资源</h4>
            <ul>
                <li><a target="_blank" href="https://blazor.net/docs/components/index.html">Blazor文档</a></li>
                <li><a target="_blank" href="https://fontawesome.com.cn/">Fontawesome中文网</a></li>
                <li><a target="_blank" href="http://www.animate.net.cn/">Animate中文网</a></li>
            </ul>
        </div>
        <div class="col links">
            <h4>联系方式</h4>
            <ul>
                <li><a target="_blank" href="mailto:knownchen@163.com">邮箱</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <span>©2020-@DateTime.Now.Year 苏州普漫科技有限公司</span>
        <a target="_blank" href="https://beian.miit.gov.cn">苏ICP备20045379号-1</a>
    </div>
</footer>