@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <a href="/">首页</a>
        <a href="/doc">文档</a>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
