@inherits LayoutComponentBase

<div class="page">
    <header>
        <a class="logo" href="/"><img src="img/logo.png" /></a>
        <nav>
            <a href="/">首页</a>
            <a href="/doc">文档</a>
        </nav>
    </header>
    @Body
</div>