@page "/"
@inherits BasePage
@attribute [ReuseTabsPage(Title = "首页", Pin = true, Closable = false)]

<h1 style="display:flex;justify-content:center;align-items:center;font-size:4rem;height:400px;">Hello Known!</h1>

@code {
}