*{margin:0;padding:0;}
html, body {width:100%;height:100%;overflow:hidden;}
body {font-size:14px;font-family:'Microsoft YaHei', Verdana, sans-serif;}
a {text-decoration:none;}
img {width:100%;height:100%;}
table {border-collapse:collapse;width:100%;}
ul {list-style:none;}
input, textarea, select, button, label {font-family:inherit;font-size:inherit;}
input, textarea, select {
    padding:5px;width:100%;border:1px solid #c9d8db;outline:none;box-sizing:border-box;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
input[type="checkbox"], input[type="radio"] {width:16px;height:16px;}
select {padding:5px 2px}
textarea {min-height:70px;}
input:read-only,select:disabled,textarea:read-only {background-color:#f5f5f5;}

.required:before {content:'*';color:#f00;padding-right:2px;}
.left {float:left;}
.right {float:right;}
.bold {font-weight:bold;}
.center {text-align:center;}
.link {color:#00f;cursor:pointer;}
.error {color:#f00;}
.error label {color:#d9534f;}
.error input, .error select, .error textarea {border:1px solid #d9534f;}
.caption {padding:5px 0;font-weight:bold;font-size:16px;}
.caption:after {display:block;content:'';clear:both;}
.fit {position:absolute;top:0;left:0;right:0;bottom:0;}

button {
    display:inline-block;color:#fff;background-color:#009688;cursor:pointer;
    border:none;outline:none;box-sizing:border-box;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
    padding:5px 10px;margin-right:2px;
}
button:hover {opacity:0.8;filter:alpha(opacity=80);}
button span {margin-left:5px;}

/*badge*/
.badge {
    padding:2px 5px;color:#fff;background-color:#009688;cursor:pointer;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.primary {background-color:#337ab7;}
.success {background-color:#5cb85c;}
.info {background-color:#5bc0de;}
.warning {background-color:#f0ad4e;}
.danger {background-color:#d9534f;}
.gray {background-color:#ccc;color:#888;}
.default {background-color:#f1f1f1;color:#333;border:1px solid #ccc;}

/*form*/
.form {padding:10px 20px;}
.form:after, .form-input:after {display:block;content:'';clear:both;}
.form-tips {color:#00f;padding:10px;}
.form-group {
    margin-bottom:10px;padding:5px 10px;
    font-size:16px;font-weight:bold;border-bottom:3px solid #26a69a;
}
.form-item {display:inline-block;position:relative;margin-bottom:15px;width:100%;}
.form-label {display:inline-block;float:left;width:35%;text-align:right;padding-top:5px;}
.form-input {display:inline-block;position:relative;width:60%;}
.form-input .label {padding-top:5px;}
.form-input .unit {position:absolute;top:6px;right:5px;}
.form-input input[type="text"], .form-input select {display:inline-block;float:left;}
.form-radio {position:relative;margin-right:10px;height:30px;line-height:30px;cursor:pointer;}
.form-radio input {position:absolute;top:2px;}
.form-radio span {margin-left:20px;}
.form-content {position:absolute;top:0;left:0;right:0;bottom:40px;overflow:auto;}
.form-button {
    position:absolute;left:0;right:0;bottom:0;padding:5px;
    text-align:center;border-top:1px solid #ccc;background-color:#fff;
}

.form-block {padding:10px 20px;}
.form-block .form-item {padding:0 10px;}
.form-block .form-label {display:block;float:none;text-align:left;margin-bottom:5px;}
.form-block .form-input {display:block;width:94%;}

/*login*/
.login {width:100%;height:100%;background-color:#337ab7;color:#fff;text-align:center;font-size:16px;}
.login .form {
    position:absolute;top:50%;left:50%;width:300px;height:340px;
    padding:0;margin-left:-150px;margin-top:-170px;
}
.login .form-item {position:relative;margin-bottom:15px;}
.login .form-item label {
    position:absolute;left:15px;top:12px;
    text-align:center;color:#d2d2d2;font-size:20px;
}
.login .form input {display:block;width:100%;padding:10px 38px;}
.login h1 {text-align:center;margin-bottom:30px;}
.login button {width:100%;padding:10px;}
.login .message {margin-top:15px;}
.login .footer {position:absolute;left:0;bottom:0;width:100%;padding-bottom:15px;}
.login .footer a {color:#fff;}

/*wrapper*/
#app {width:100%;height:100%;overflow:hidden;}
.content {position:absolute;top:0;bottom:0;left:0;right:0;overflow:auto;}

.topbar, .router, .tabbar {position:absolute;left:0;right:0;}
/*topbar*/
.topbar {top:0;z-index:1000;height:50px;line-height:50px;background-color:#428bca;color:#fff;font-size:16px;}
.topbar .fa {margin-left:10px;}
.topbar .title {font-weight:bold;margin-left:10px;}
.topbar-tool {position:absolute;top:0;right:10px;z-index:10001;height:50px;line-height:50px;color:#fff;}

/*router*/
.router {top:0;bottom:50px;overflow:auto;}

/*tabbar*/
.tabbar {bottom:0;height:50px;background-color:#f1f1f1;border-top:1px solid #d6d6d6;}
.tabbar a {display:inline-block;width:25%;height:100%;text-align:center;font-size:14px;color:#333;position:relative;}
.tabbar a.active {color:#009688;}
.tabbar a .icon {position:absolute;top:0;left:0;right:0;height:25px;text-align:center;}
.tabbar a .icon i {width:18px;font-size:18px;position:absolute;top:8px;left:50%;margin-left:-9px;}
.tabbar a .icon .badge {
    display:none;position:absolute;top:1px;left:50%;font-size:10px;
    padding:0;width:16px;height:16px;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.tabbar a .name {position:absolute;bottom:0;left:0;right:0;height:25px;line-height:25px;}

/*slider*/
.slider {width:100%;height:100%;overflow:hidden;position:relative;}
.slider-item {position:absolute;top:0;left:0;width:100%;height:100%;display:none;}
.slider-item img {width:100%;height:100%;}
.slider-item.active {display:block;}

.slider-snk {position:absolute;left:0;right:0;bottom:10px;z-index:9999;text-align:center;}
.slider-snk span {
    display:inline-block;width:10px;height:10px;background-color:#fff;margin:0 3px;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.slider-snk span.active {background-color:#08c4b1;}

/*menu*/
.menu {padding:20px 10px;}
.menu:after {display:block;content:'';clear:both;}
.menu li {float:left;width:50%;height:110px;text-align:center;}
.menu li .inner {padding:10px;}
.menu li .icon {
    width:60px;height:60px;font-size:24px;margin:5px auto;
    color:#fff;text-align:center;position:relative;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.menu li .icon i {margin-top:18px;}
.menu li .icon .badge {
    display:none;position:absolute;top:0;right:0;font-size:10px;
    padding:0;width:16px;height:16px;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.menu li .name {color:#777;}

/*tabs*/
.tabs {position:absolute;top:0;left:0;right:0;bottom:0;}
.tabs-header {height:40px;}
.tabs-header li {
    display:inline-block;height:40px;line-height:40px;text-align:center;background-color:#f0f0f0;font-size:15px;
}
.tabs-header li.active {color:#009688;background-color:#fff;}
.tabs-content {position:absolute;top:40px;left:0;right:0;bottom:0;padding:5px;overflow:auto;}
.tabs-content .tabs-item {display:none;}
.tabs-content .tabs-item.active {display:block;}

/*list*/
.list li {position:relative;font-size:15px;border-bottom:1px solid #d6d6d6;padding:10px;}
.list li:after {display:block;content:'';clear:both;}
.list li:last-child {border-bottom:none;}
.list li .icon {display:inline-block;width:20px;margin-right:5px;text-align:center;}
.list li .icon i {width:18px;}
.list li .title {display:inline-block;}
.list li.load {text-align:center;color:#00f;}
.list li.error {text-align:center;color:#f00;}
.fit .list {position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto;}

/*query*/
.query {margin-bottom:5px;}
.query input, .query select {padding:0 2px;height:30px;line-height:30px;width:130px;}
.query button {padding:0 10px;margin-left:5px;height:30px;line-height:30px;}
.query-item {display:inline-block;text-align:left;margin-top:5px;}
.query-item label {display:inline-block;width:80px;text-align:right;}

/*grid*/
.grid th {background-color:#428bca;color:#fff;padding:5px;text-align:left;}
.grid td {padding:5px;border-bottom:1px solid #f1f1f1;}
.grid .load {text-align:center;color:#00f;}
.grid .error {text-align:center;color:#f00;}
.fit .grid {position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto;}

/*pager*/
.pager {
    position:absolute;left:0;right:0;bottom:0;height:40px;line-height:40px;
    background-color:#fff;border-top:1px solid #ccc;
}
.pager li {display:inline-block;width:33%;text-align:center;}
.pager-prev,.pager-next {cursor:pointer;}
.pager-info {font-weight:bold;}

/*flow*/
.flow-step {color:#337ab7;margin-right:15px;}
.flow-note {color:#aaa;}

/*avatar*/
.avatar {text-align:center;padding:20px;background-color:#fff;}
.avatar img {
    width:120px;height:120px;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.avatar .name {font-size:16px;}

/*mine*/
.avatar {margin-top:20px;}
.info {background-color:#fff;margin-top:15px;padding:20px;}
.btnLogout {padding:15px 20px 20px 20px;}
.btnLogout button {padding:0 10px;width:100%;font-size:16px;height:40px;}

/*error*/
.error-box {
    position:absolute;top:0;bottom:0;left:0;right:0;text-align:center;
    background-color:#f1f1f1;padding-top:50%;
}
.error-box h1 {font-size:120px;}
.error-box h3 {font-weight:bold;}