body {background-color:#1c66b9;font-size:1rem;}

@media screen and (max-width:768px) { /*1200,992,768,576*/
    body {font-size:1.1rem;}
}

#blazor-error-ui {
    background:lightyellow;bottom: 0;
    box-shadow:0 -1px 2px rgba(0, 0, 0, 0.2);display: none;left: 0;
    padding:0.6rem 1.25rem 0.7rem 1.25rem;
    position:fixed;width:100%;z-index:1000;
}
#blazor-error-ui .dismiss {cursor:pointer;position:absolute;right:0.75rem;top:0.5rem;}
/*.app-loading {
    position:absolute;top:50%;left:50%;width:300px;height:100px;
    margin-top:-80px;margin-left:-150px;background:url(../img/loading.png) no-repeat center;background-size:contain;
}
.copyright {position:absolute;bottom:50px;text-align:center;color:#fff;width:100%;font-size:1.1rem;}
.copyright a {color:#fff;margin:0 10px;}

.tab li {font-size:1.1rem;}
.caption {font-weight:bold;height:40px;line-height:40px;}

.login {
    position:absolute;top:50%;left:50%;background-color:#fff;
    width:800px;height:400px;margin-left:-400px;margin-top:-200px;
    -webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
}
.login-left {position:absolute;top:70px;left:90px;width:320px;height:250px;border-right:1px solid #ccc;}
.login .slogan {position:absolute;top:0;left:0;width:260px;text-align:center;color:#333;font-size:1.3rem;font-weight:bold;}
.login .image {position:absolute;top:50px;left:0;width:260px;height:180px;}
.login-form {position:absolute;left:410px;right:0;top:0;bottom:0;padding:50px;}
.login-form .title {padding-left:0;margin-bottom:20px;}
.login-title {font-size:1.3rem;font-weight:bold;margin-bottom:20px;text-align:center;}
.login .form-input {margin-bottom:20px;}
.login .form-input .icon {
    z-index:900;left:10px;top:10px;right:unset;color:#d2d2d2;font-size:1.3rem;
    height:auto;line-height:normal;background-color:#fff;
}
.login .form-input .fa-lock {left:11px;top:9px;font-size:1.6rem;}
.login .form-input input {height:40px;padding-left:40px;background-color:#fff;}
.login .form-radio input {height:20px;line-height:20px;}
.login button {width:100%;height:40px;margin-left:0;}
.login-msg {color:#d9534f;text-align:center;}

.ws-card {top:10px;left:10px;right:10px;height:150px;}
.ws-card .card-body {top:0;}

.ws-row {position:absolute;top:172px;left:10px;right:10px;bottom:10px;}
.ws-title {font-size:1.4rem;padding:10px;}
.ws-avatar {width:80px;height:80px;margin-left:20px;}
.ws-name {position:absolute;top:70px;left:120px;font-size:1.4rem;font-weight:bold;}
.ws-tips {position:absolute;top:105px;left:120px;color:#888;}

.ws-chart {position:absolute;right:410px;}
.ws-func {position:absolute;width:400px;left:unset;}
.ws-func-menu {display:inline-block;width:80px;height:80px;padding:8px;text-align:center;font-size:1rem;cursor:pointer;}
.ws-func-menu:hover {color:#009688;}
.ws-func-menu i {display:block;font-size:2.2rem;margin:8px auto;}
.ws-func-menu span {display:block;width:100%;height:25px;overflow:hidden;}

.count {position:absolute;top:30px;right:10px;height:100px;}
.count li {
    display:inline-block;width:140px;height:110px;margin:0 5px;
    background-color:#f5f5f5;position:relative;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.count li .name {display:block;border-bottom:1px solid #e8eaec;padding:5px 10px;}
.count li .month {
    position:absolute;top:5px;right:5px;font-size:14px;padding:0 5px;
    background-color:#e6f7ff;border:1px solid #91d5ff;color:#1890ff;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.count li .amount {
    position:absolute;top:45px;left:5px;right:5px;text-align:center;
    font-size:1.8rem;height:50px;line-height:50px;
}

.demo .content {display:block;left:140px;}
.demo-caption {font-size:1.1rem;font-weight:bold;margin:10px 0;padding-left:5px;border-left:5px solid #1c66b9;}
.demo-box {display:inline-block;position:relative;width:100%;height:100px;}
.demo-tips {margin:10px 0;padding:10px;border:1px solid #ccc;border-left:5px solid #d2d2d2;}
.tab-body .demo {top:10px;left:10px;right:10px;bottom:10px;}
*/