body {background-color:#1c66b9;font-size:1rem;}

@media screen and (max-width:768px) { /*1200,992,768,576*/
    body {font-size:1.1rem;}
}

#blazor-error-ui {
    background:lightyellow;bottom: 0;
    box-shadow:0 -1px 2px rgba(0, 0, 0, 0.2);display: none;left: 0;
    padding:0.6rem 1.25rem 0.7rem 1.25rem;
    position:fixed;width:100%;z-index:1000;
}
#blazor-error-ui .dismiss {cursor:pointer;position:absolute;right:0.75rem;top:0.5rem;}
.app-loading {
    position:absolute;top:50%;left:50%;width:300px;height:100px;
    margin-top:-80px;margin-left:-150px;background:url(../img/loading.png) no-repeat center;background-size:contain;
}
.copyright {position:absolute;bottom:50px;text-align:center;color:#fff;width:100%;font-size:1.1rem;}
.copyright a {color:#fff;margin:0 10px;}

.space, .chart, .visit {margin-bottom:10px;}
.space {padding:1rem;}
.ws-title {font-size:1.4rem;padding:10px;}
.ws-avatar {width:80px;height:80px;margin-left:20px;}
.ws-name {position:absolute;top:70px;left:120px;font-size:1.4rem;font-weight:bold;}
.ws-tips {position:absolute;top:105px;left:120px;color:#888;}

.count {position:absolute;top:30px;right:10px;height:100px;}
.count li {
    display:inline-block;width:140px;height:110px;margin:0 5px;
    background-color:#f5f5f5;position:relative;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.count li .name {display:block;border-bottom:1px solid #e8eaec;padding:5px 10px;}
.count li .month {
    position:absolute;top:5px;right:5px;font-size:14px;padding:0 5px;
    background-color:#e6f7ff;border:1px solid #91d5ff;color:#1890ff;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.count li .amount {
    position:absolute;top:45px;left:5px;right:5px;text-align:center;
    font-size:1.8rem;height:50px;line-height:50px;
}

.ws-func-menu {display:inline-block;width:80px;height:80px;padding:8px;text-align:center;font-size:1rem;cursor:pointer;}
.ws-func-menu:hover {color:#009688;}
.ws-func-menu i {display:block;font-size:2.2rem;margin:8px auto;}
.ws-func-menu span {display:block;width:100%;height:25px;overflow:hidden;}

.company {padding:2rem 20rem 1rem 5rem;}
@media screen and (max-width:768px) {
    .company {padding:1rem;}
}

.demo .box {position:absolute;top:60px;bottom:var(--margin);left:var(--margin);right:var(--margin);overflow:auto;}
.demo .box:first-child {text-align:center;width:150px;}
.demo .box:last-child {left:170px;padding:1rem;}
.demo form button {width:auto;margin-right:1rem;}
.demo-caption {font-size:1.1rem;font-weight:bold;margin:10px 0;padding-left:5px;border-left:5px solid #1c66b9;}
.demo-box {display:inline-block;position:relative;width:100%;height:100px;}
.demo-tips {margin:10px 0;padding:10px;border:1px solid #ccc;border-left:5px solid #d2d2d2;}