@model Known.WebMvc.Models.SplitPageViewModel
<div class="mini-splitter" style="width:100%;height:100%;">
    <div id="splitLeft" tooltip="关闭/显示菜单" size="200px" showCollapseButton="true" style="padding:5px;">
        @if (!string.IsNullOrWhiteSpace(Model.LeftPartial))
        {
            @Html.Partial(Model.LeftPartial)
        }
    </div>
    <div id="splitRight">
        @if (!string.IsNullOrWhiteSpace(Model.RightPartial))
        {
            @Html.Partial(Model.RightPartial)
        }
    </div>
</div>
@section Foot {
    @Html.MinScript("static/modules/frame/" + Model.JsPath + ".min.js")
}