<div id="gridDemo" class="mini-datagrid" style="width:100%;height:100%;">
    <div property="toolbar">
        <table style="width:100%;">
            <tr>
                <td id="queryDemo">
                    <input id="key" name="key" class="mini-buttonedit searchbox" style="width:150px;" 
                           emptyText="请输入关键字" />
                </td>
                <td id="tbGrid" style="text-align:right;">
                    <a class="mini-menubutton" plain="true" iconCls="fa-plus" menu="#menuAdd">新增</a>
                    <ul id="menuAdd" class="mini-menu" style="display:none;">
                        <li id="addForm" iconCls="fa-plus-circle">普通表单</li>
                        <li id="addHlForm" iconCls="fa-plus-square">上表头下表体</li>
                        <li id="addTabForm" iconCls="fa-plus-square-o">Tab表单</li>
                    </ul>
                    <!--<a class="mini-button" plain="true" id="edit" iconCls="fa-pencil">编辑</a>-->
                    <a class="mini-button" plain="true" id="import" iconCls="fa-sign-in">导入</a>
                    <a class="mini-menubutton" plain="true" iconCls="fa-sign-out" menu="#menuExport">导出</a>
                    <ul id="menuExport" class="mini-menu" style="display:none;">
                        <li id="exportExcel" iconCls="fa-file-excel-o">导出Excel</li>
                        <li id="exportPdf" iconCls="fa-file-pdf-o">导出Pdf</li>
                    </ul>
                    <a class="mini-menubutton" plain="true" iconCls="fa-bars" menu="#menuBatch">批量</a>
                    <ul id="menuBatch" class="mini-menu" style="display:none;">
                        <li id="delete" iconCls="fa-minus">删除</li>
                        <li id="upload" iconCls="fa-upload">上载</li>
                        <li id="download" iconCls="fa-download">下载</li>
                        <li id="sync" iconCls="fa-exchange">同步</li>
                    </ul>
                    <!--<a class="mini-button" plain="true" id="close" iconCls="fa-remove">关闭</a>-->
                </td>
            </tr>
        </table>
    </div>
    <div property="columns">
        <div type="indexcolumn"></div>
        <div type="checkcolumn"></div>
        <div field="UserName" width="120" headerAlign="center" allowSort="true">员工帐号</div>
        <div field="Name" width="120" headerAlign="center" allowSort="true">姓名</div>
        <div field="Department.Name" width="120">所属部门</div>
        <div field="Position" width="100">职位</div>
        <div field="Mobile" width="100">手机</div>
        <div field="Phone" width="100">电话</div>
        <div field="Email" width="100">邮箱</div>
        <div field="Gender" width="100" renderer="onGenderRenderer">性别</div>
        <div field="Age" width="100" allowSort="true">年龄</div>
        <div field="Birthday" width="100" renderer="onBirthdayRenderer">出生日期</div>
    </div>
</div>

<script>
    var DemoGrid = {

        grid: null,

        show: function () {
            Toolbar.bind('tbGrid', this);
            $('#queryDemo #search').unbind('click').bind('click', this.search);

            this.grid = new Grid('Demo', {
                url: '/api/DevDemo/QueryUsers',
                idField: 'Id',
                multiSelect: true,
                showToolbar: true
            });
            this.grid.load();
        },

        //toolbar
        search: function (e) {
            console.log(e);
        },
        
        refresh: function () {
            this.grid.reload();
        },

        addForm: function () {
            Dialog.show({
                title: '表单示例', width: 900, height: 450,
                url: '/Develop/Partials/DemoForm',
                callback: function () {
                }
            });
        },

        addHlForm: function () {
            Dialog.show({
                title: '表单示例', width: 800, height: 400,
                url: '/Develop/Partials/DemoForm',
                callback: function () {
                }
            });
        },

        addTabForm: function () {
            Dialog.show({
                title: '表单示例', width: 800, height: 400,
                url: '/Develop/Partials/DemoTab',
                callback: function () {
                }
            });
        },

        edit: function () {
            this.grid.checkSelect(function (row) {
            });
        },

        delete: function () {
            this.grid.deleteRows(function (rows) {
            });
        },

        import: function () {
            Message.alert('Import');
        },

        exportExcel: function () {
            Message.alert('ExportExcel');
        },

        exportPdf: function () {
            Message.alert('ExportPdf');
        },

        upload: function () {
            Message.alert('Upload');
        },

        download: function () {
            Message.alert('Download');
        },

        sync: function () {
            Message.alert('Sync');
        },

        close: function () {
            DevelopView.close();
        },

        search: function () {
            this.grid.search();
        }

    };
</script>