<div id="tbDemoForm" class="mini-toolbar">
    <a class="mini-button" plain="true" id="submitForm" iconCls="fa-check">提交</a>
    <a class="mini-button" plain="true" id="loadForm" iconCls="fa-spinner">加载</a>
    <a class="mini-button" plain="true" id="resetForm" iconCls="fa-undo">重置</a>
    <a class="mini-button" plain="true" id="clearForm" iconCls="fa-trash-o">清空</a>
    <a class="mini-button" plain="true" id="setForm" iconCls="fa-download">绑定数据</a>
    <a class="mini-button" plain="true" id="getForm" iconCls="fa-upload">获取数据</a>
    <a class="mini-button" plain="true" id="setLabel" iconCls="fa-info">查看模式</a>
    <a class="mini-button" plain="true" id="setInput" iconCls="fa-edit">编辑模式</a>
    <a class="mini-button" plain="true" id="setUnenable" iconCls="fa-ban">禁用</a>
    <a class="mini-button" plain="true" id="setEnable" iconCls="fa-circle-o">启用</a>
</div>
<div id="formDemoForm" class="mini-fit">
    <input class="mini-hidden" id="Id" name="Id" />
    <input class="mini-hidden" id="HeadId" name="HeadId" />
    <table class="form">
        <tr>
            <th style="width:120px;"><label for="UserName$text">TextBox：</label></th>
            <td>
                <input class="mini-textbox" id="UserName" name="UserName" required="true" emptyText="请输入用户名" />
            </td>
            <th style="width:120px;"><label for="Password$text">Password：</label></th>
            <td>
                <input class="mini-password" id="Password" name="Password" required="true" />
            </td>
        </tr>
        <tr>
            <th><label for="Area$text">TextArea：</label></th>
            <td colspan="3">
                <input class="mini-textarea" id="Area" name="Area" required="true" />
            </td>
        </tr>
        <tr>
            <th><label for="BirthDay$text">DatePicker：</label></th>
            <td>
                <input class="mini-datepicker" id="BirthDay" name="BirthDay" required="true" value="2010-10-12" />
            </td>
            <th>Spinner：</th>
            <td>
                <input class="mini-spinner" id="Age" name="Age" required="true" value="22" minValue="10" maxValue="50" />
            </td>
        </tr>
        <tr>
            <th>TimeSpinner：</th>
            <td>
                <input class="mini-timespinner" id="BirthTime" name="BirthTime" format="H:mm" />
            </td>
            <th>CheckBox：</th>
            <td>
                <input class="mini-checkbox" id="Married" name="Married" trueValue="Y" falseValue="N" text="婚否" value="Y" />
            </td>
        </tr>
        <tr>
            <th>ComboBox：</th>
            <td>
                <input class="mini-combobox" id="Country" name="Country" showNullItem="true" nullItemText="请选择" emptyText="请选择" url="/static/data/demo/countrys.txt" value="cn" />
                <br />
                <span id="combobox_error" style="color:Red;"></span>
            </td>
            <th>TreeSelect：</th>
            <td>
                <input class="mini-treeselect" id="TreeSelect" name="TreeSelect" textField="text" valueField="id" url="/static/data/demo/listTree.txt" multiSelect="true" parentField="pid" checkRecursive="true" value="ajax,button" />
            </td>
        </tr>
        <tr>
            <th>CheckBoxList：</th>
            <td>
                <input class="mini-checkboxlist" id="Countrys" name="Countrys" textField="text" valueField="id" repeatItems="5" repeatLayout="flow" url="/static/data/demo/countrys.txt" value="cn,de,usa" />
            </td>
            <th rowspan="2">ListBox：</th>
            <td rowspan="2">
                <input class="mini-listbox" id="Countrys1" name="Countrys1" textField="text" valueField="id" showNullItem="true" url="/static/data/demo/countrys.txt" value="fr" style="height:130px;" />
            </td>
        </tr>
        <tr>
            <th>RadioButtonList：</th>
            <td>
                <input class="mini-radiobuttonlist" id="Countrys2" name="Countrys2" textField="text" valueField="id" value="en" repeatItems="3" repeatDirection="vertical" repeatLayout="table" url="/static/data/demo/countrys.txt" />
            </td>
        </tr>
    </table>
</div>

<script>
    var DemoForm = {

        form: null,

        show: function () {
            this.form = new Form('formDemoForm');
            Toolbar.bind('tbDemoForm', this);
        },

        getForm: function () {
            var s = this.form.getData(true);
            alert(s);
        },

        setForm: function () {
            var obj = {
                String: "abc",
                Date: "2020-11-12",
                Boolean: 'Y',
                TreeSelect: "ajax",
                countrys: "cn",
                //countrys2: "de",
                countrys3: "usa"
            };
            this.form.setData(obj);
        },

        resetForm: function () {
            this.form.reset();
        },

        clearForm: function () {
            this.form.clear();
        },

        submitForm: function () {
            var json = this.form.getData(true);
            $.ajax({
                url: "../data/FormService.aspx?method=SaveData",
                type: "post",
                data: { submitData: json },
                success: function (text) {
                    alert("提交成功，返回结果:" + text);
                }
            });
        },

        loadForm: function () {
            var _this = this;
            $.ajax({
                url: "../data/FormService.aspx?method=LoadData",
                type: "post",
                success: function (text) {
                    var data = mini.decode(text);
                    _this.form.setData(data);
                }
            });
        },

        setLabel: function () {
            this.form.model(true);
        },

        setInput: function () {
            this.form.model(false);
        },

        setUnenable: function () {
            this.form.setEnabled(false);
        },

        setEnable: function () {
            this.form.setEnabled(true);
        }

    };
</script>