<div class="mini-splitter" vertical="true" style="width:100%;height:100%;">
    <div size="25%" showCollapseButton="true">
        <div id="tbDatabase" class="mini-toolbar">
            <a class="mini-button" plain="true" id="new" iconCls="fa-file-o">新建</a>
            <a class="mini-button" plain="true" id="query" iconCls="fa-search">查询</a>
        </div>
        <div id="queryDatabase" class="mini-fit">
            <input class="mini-textarea" id="querySql" name="querySql" required="true" style="width:100%;height:100%;" borderStyle="border:0;" />
        </div>
    </div>
    <div showCollapseButton="true">
        <div id="gridDatabase" class="mini-datagrid" style="width:100%;height:100%;"></div>
    </div>
</div>

<script>
    var DevDatabase = {

        grid: null,

        show: function () {
            this.grid = new Grid('Database', {
                url: '/api/DevTool/QueryDatas',
                idField: 'Id',
                multiSelect: true
            });

            Toolbar.bind('tbDatabase', this);
        },

        //toolbar
        new: function () {
            this.grid.query.clear();
            this.grid.setColumns([]);
        },

        query: function () {
            var form = new mini.Form('#queryDatabase');
            if (!form.validate())
                return;

            var grid = this.grid;
            grid.load(function (e) {
                var columns = [{ type: "indexcolumn" }];
                if (e.result.data.length) {
                    for (var p in e.result.data[0]) {
                        if (p === '_id' || p === '_uid') {
                            continue;
                        }
                        var column = { field: p, header: p };
                        if (p.endsWith('time')) {
                            column.dateFormat = 'yyyy-MM-dd HH:mm:ss';
                        }
                        columns.push(column);
                    }
                }
                grid.setColumns(columns);
                new ColumnsMenu(e.sender);
            });
        }

    };
</script>