<link rel="stylesheet" href="~/static/css/animate.min.css">
<style>
    .middle-box {
        max-width: 400px;
        margin: 0 auto;
        padding-top: 40px;
        text-align: center;
    }
    h1 {
        font-size: 170px;
    }
    h3 {
        font-weight: bold;
    }
</style>
<div class="middle-box animated fadeInDown">
    <h1>404</h1>
    <h3>页面未找到！</h3>
    <div class="error-desc">
        抱歉，页面好像去火星了~
    </div>
</div>