/* layout */
.navbar {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #3c8dbc;
    border-bottom: 0;
}

.sidebar {
    position: absolute;
    width: 225px;
    top: 50px;
    left: 0;
    bottom: 0;
    background: #42485b;
}

.main {
    position: absolute;
    top: 50px;
    left: 225px;
    right: 0;
    bottom: 0;
    background: #fff;
}

/* header */
.navbar-header {
    float: left;
}

.navbar-brand {
    float: left;
    width: 225px;
    background: #367ea8;
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.navbar-nav {
    float: left;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

#toggle {
    font-size: 20px;
}

.navbar-nav > li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

    .navbar-nav > li > a {
        padding: 10px 15px;
        outline: none;
        color: #fff;
    }

        .navbar-nav > li > a.userinfo {
            padding-top: 10px;
        }

.navbar-right {
    position: absolute;
    right: 0;
    top: 0;
}

.userinfo > img {
    height: 35px;
    width: 35px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 4px;
}

/* MainMenu */
.main-menu {
    position: relative;
    cursor: pointer;
    background: #42485b;
    color: #fff;
}

ul, li {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu-title {
    display: block;
    line-height: 36px;
}

    .main-menu-title:hover {
        background: #00C1DE;
    }

.main-menu-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

    .main-menu-arrow:after {
        content: "\f104";
    }

.open > a > .main-menu-arrow:after {
    content: "\f106";
}

.main-menu-text {
    padding-left: 6px;
}

.main-menu ul {
    display: none;
    background-color: #333744;
}

.main-menu .open > ul {
    display: block;
}

.main-menu-title {
    padding-left: 15px;
}

.main-menu ul .main-menu-title {
    padding-left: 40px;
}

.main-menu ul ul .main-menu-title {
    padding-left: 60px;
}

/* compact */
.compact .sidebar,
.compact .navbar-brand {
    width: 55px;
}

.compact .main {
    left: 55px;
}

.navbar-brand-compact,
.compact .navbar-brand {
    display: none;
}

.compact .navbar-brand-compact {
    display: block;
}

.compact .main-menu-text,
.compact .main-menu-arrow {
    display: none;
}

.compact .main-menu-title {
    padding-left: 0px !important;
    text-align: center;
}

/*.compact .has-children > a > .main-menu-icon:before {
    font-size:16px;
    content: "\f0d7";
}
.compact .open > a > .main-menu-icon:before {
    content: "\f0d8";
}*/

/*tooltip*/
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

    .tooltip.in {
        filter: alpha(opacity=90);
        opacity: .9;
    }

    .tooltip.top {
        padding: 5px 0;
        margin-top: -3px;
    }

    .tooltip.right {
        padding: 0 5px;
        margin-left: 3px;
    }

    .tooltip.bottom {
        padding: 5px 0;
        margin-top: 3px;
    }

    .tooltip.left {
        padding: 0 5px;
        margin-left: -3px;
    }

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

/* icon */
.main-menu-icon {
    width: 16px;
}

/* easyui */
#mainTabs .tabs-icon {
    font-size: 16px;
}
#mainTabs .tabs-inner {
    padding: 0 15px;
}
#mainTabs .panel-body {
    overflow: initial;
}