* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*Star Background*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
    background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
    background-attachment: fixed;
    overflow: hidden;
    color: #fff;
}
a, a:hover {
    color: #fff;
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 90s infinite linear;
}

.star {
    width: 2px;
    height: 2px;
    background: #F7F7B6;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

/*Login Body*/
.login {
    position: relative;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    width: 370px;
    height: 340px;
    margin-left: -185px;
    margin-top: -170px;
    background-color: #fff;
}

.login-header {
    text-align: center;
    padding: 20px;
}

    .login-header h2 {
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 30px;
    }

.login-body {
    padding: 20px 30px;
}

/*Login Footer*/
.login-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

/*Form*/
.form-item {
    position: relative;
    margin-bottom: 15px;
}

.form-item .fa {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.form input {
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 38px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.form label.error {
    color: #d9534f;
}
.form input.error {
    border: 1px solid #d9534f;
}

.form-radio {
    position: relative;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

    .form-radio input {
        position: absolute;
        top: 3px;
        width: 16px;
        height: 16px;
    }

    .form-radio span {
        margin-left: 20px;
        font-size: 14px;
    }

.btn-primary {
    display: inline-block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #fff;
    background-color: #009688;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}

@media screen and (max-width:768px) {
    .login {
        width: 300px;
        margin-left: -150px;
    }
}