/*Flow*/
.kui-flow {margin-bottom:10px;}
.kui-flow .kui-group-box {background-color:var(--kui-bgcolor);}
.kui-flow .kui-group-box .legend {font-weight:bold;font-size:1.1rem;}

/*Install*/
.kui-install {position:fixed;top:0;left:0;right:0;bottom:0;overflow:auto;}
.kui-install .button {text-align:center;}
.kui-install-head {display:flex;justify-content:space-between;align-items:center;font-weight:bold;font-size:1.2rem;padding:30px 200px;}
.kui-install-head .kui-menu {margin:0;padding:0;}
.kui-install-body {
    background:linear-gradient(135deg, #6da0f5, #c0e9fc);
    height:500px;padding:50px 200px;overflow: hidden;
    border-radius:50px 0;/*border-radius:0 0 100% 100% / 0 0 8% 8%;*/
}
.kui-install-form {border-radius:5px;box-shadow:0 0 10px 3px rgba(0,0,0,.3);padding:20px;width:500px;height:400px;margin:0 auto;}
.kui-install-form .kui-form-action {margin-top:10px;}
.kui-install-foot {text-align:center;width:100%;font-size:1.1rem;margin-top:30px;}
.kui-install-foot span {margin:0 5px;}
:root[data-theme=dark] .kui-install-body {background:linear-gradient(135deg, rgb(45,46,46), rgb(40,41,41));}

@media screen and (max-width:1200px) {
    .kui-install-head, .kui-install-body {padding-left:100px;padding-right:100px;}
}
@media screen and (max-width:768px) {
    .kui-install {top:50%;margin-top:-320px;}
    .kui-install-head {padding:20px;}
    .kui-install-body {padding:0 30px;grid-template-columns:100%;height:auto;}
    .kui-install-form {padding-left:0;padding-bottom:30px;}
    .kui-install-foot {margin-top:20px;}
}

.kui-form-weblog {padding:10px;}

/*UserProfile*/
.kui-user-avatar {text-align:center;padding:20px 0;}
.kui-user-avatar img {display:block;width:100px;height:100px;margin:0 auto;}
.kui-user-info {padding:20px;}
.kui-user-info li {list-style:none;text-align:justify;margin-bottom:10px;}
.kui-user-info li span {color:var(--kui-color);font-size:0.9rem;}
.kui-user-avatar .kui-upload-button {border:none;color:#1890ff;}

/*Seeting*/
.kui-system {margin:0 50px;}
.kui-user-form {width:400px;margin:0 50px;}
.kui-user-form .kui-form-button {margin-left:120px;}
.kui-form-setting .kui-form {padding:10px;}
.kui-form-setting .kui-center {margin:10px;}
.kui-form-setting .kui-center button {margin:0 5px;}

@media screen and (max-width:768px) {
    .kui-system {margin:0;}
    .kui-user-form {margin:0;width:auto;}
    .kui-user-form .kui-form-button {margin-left:0;}
}

/*BaseData*/
.form-company {padding:0 50px 20px 0;}
.form-company button {margin-right:10px;}

/*Dictionary*/
.kui-dictionary .kui-list-box-body {padding-top:0;}

/*Role*/
.kui-role {display:flex;background-color:var(--kui-bgcolor);padding-top:10px;border-radius:5px;}
.kui-role-form {width:400px;padding-right:20px;}
.kui-role-module {width:260px;}
.kui-role-button {width:160px;}
.kui-role-column {width:160px;}
.kui-role-module, .kui-role-button, .kui-role-column {max-height:500px;overflow:auto;padding:10px;}
.ant-drawer-body .kui-role-module,
.ant-drawer-body .kui-role-button,
.ant-drawer-body .kui-role-column {max-height:unset;}

@media screen and (max-width:768px) {
    .form-company {padding:0 10px 20px 10px;}
    .kui-dictionary {height:300px;}
    .kui-role {flex-direction:column;}
    .kui-role-form, .kui-role-module, .kui-role-button, .kui-role-column {width:100%;}
}