/*AntDesign*/
.ant-layout-header {background:var(--kui-bgcolor);}
.ant-btn {padding:4px 10px;}
.ant-btn > .anticon + span, 
.ant-btn > span + .anticon {margin-left:2px;}
.ant-drawer-close {margin-right:0;}
.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {width:60px;}
.ant-menu-inline, 
.ant-menu-vertical, 
.ant-menu-vertical-left {border-right:none;}
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .fa + span {opacity:0;}
.ant-dropdown-menu .anticon {margin-right:5px;}
.ant-tabs-extra-content {display:flex;}
.ant-tabs-extra-content .kui-title {padding-right:30px;color:var(--kui-color);}
.kui-table .kui-title {padding-left:0;}
.ant-table-wrapper {padding:0 10px;}
.ant-table .ant-tag {cursor:pointer;}
.ant-table-thead > tr > th {font-weight:bold;}
.ant-table-tbody > tr > td.kui-table-action > div > a {padding:0 5px;}
.ant-table.ant-table-small .ant-table-tbody > tr > td {padding:3px 5px;}
.kui-striped .ant-table-tbody > tr.ant-table-row-selected > td {background-color:#dcf4ff;}
.ant-table-pagination.ant-pagination {margin:5px 0 10px 0;}
.ant-toolbar {display:flex;gap:3px;}

.ant-modal {top:30px;}
.ant-modal-body > .ant-steps {padding:15px 0 10px 0;}
.ant-modal-content {border-radius:5px;}
.ant-modal-header {border-radius:5px 5px 0 0;}
.ant-modal-body, .ant-drawer-body {padding:15px;}
.ant-modal-body .kui-small {padding:10px 10px 0 0;}
.ant-modal-body .kui-form {padding:10px 10px 0 0;}
.ant-modal-body .kui-form-action {padding:0 10px 10px 0;}
.ant-modal-body .nopadding {padding:0;}

.ant-notification .Error .ant-notification-notice-with-icon .ant-notification-notice-description {margin-left:0;}

.kui-tab-form .ant-modal-body {padding-top:0;}
.kui-tab-form .ant-tabs-extra-content .ant-tag {font-size:1rem;padding:5px 10px;}

:root[data-theme=dark] .ant-layout-sider, :root[data-theme=dark] .kui-menu-dark {
    color:var(--kui-color);background-color:var(--kui-bgcolor);
}
:root[data-theme=dark] .ant-modal-header .anticon {color:rgba(255 255,255,0.45);}

.ant-captcha + img, .ant-captcha + canvas, .ant-captcha + .btn-sms {
    position:absolute;top:0;right:0;z-index:1000;text-align:center;
    width:110px;height:31px;line-height:31px;cursor:pointer;
}
.ant-captcha + .btn-sms {background-color:#f8eeb8;color:#596172;top:1px;right:1px;height:30px;}
.ant-menu-submenu-title .fa + span, .ant-menu-item .fa + span {margin-left:10px;}
.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {width:auto;}
.ant-notification-notice .ant-notification-notice-description {max-height:300px;overflow:auto;}

@media screen and (max-width:768px) {
    .kui-header .left, .kui-nav-full, .kui-nav-setting {display:none;}
    .ant-layout-header {line-height:normal;}
    .ant-modal {top:10px;margin-top:10px;margin-left:8px;}
    .ant-row {flex-direction:column;}
    .ant-col-20, .ant-col-18, .ant-col-16, .ant-col-14, .ant-col-12, 
    .ant-col-10, .ant-col-8, .ant-col-6, .ant-col-4 {max-width:100%;}
    .ant-toolbar {flex-wrap:wrap;padding-top:0;}
    .ant-form-inline {flex-direction:column;}
    .ant-form-item .ant-form-item-label {padding-bottom:0;}
    .ant-input-search-icon {font-size:20px;}
    .kui-query {padding:10px;}
    .kui-query .ant-form-item-label {text-align:left;}
    .ant-query-btn {margin-top:5px;}
    .kui-table .kui-title {padding:5px 0;}
    .kui-table .ant-tabs-tab {padding:5px 0;}
    .kui-table .ant-tabs-top > .ant-tabs-nav {flex-direction:column;align-items:start;}
    .kui-table .ant-toolbar {padding-top:5px;}
    .kui-table .ant-tabs-nav .ant-toolbar {padding-bottom:10px;}
}