/*AntDesign*/
.ant-layout-header {background:var(--kui-bgcolor);}
.ant-btn, .ant-input, .ant-input-number, .ant-input-affix-wrapper,
.ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-select-dropdown,
.ant-tag, .ant-alert, .ant-message-notice-content, .ant-segmented, .ant-transfer-list,
.ant-picker, .ant-picker-panel-container, .ant-dropdown-menu, .ant-upload.ant-upload-drag,
.ant-table-filter-dropdown,
.ant-pagination-item, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link,
.ant-pagination-options-quick-jumper input {
    border-radius:5px;
}
.ant-btn-circle {border-radius:50%;}
.ant-transfer-list-header {border-radius:5px 5px 0 0;}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {border-radius:0 5px 5px 0;}
.ant-radio-button-wrapper:first-child {border-radius:5px 0 0 5px;}
.ant-radio-button-wrapper:last-child {border-radius:0 5px 5px 0;}
.ant-checkbox-inner, .ant-tree-checkbox-inner {border-radius:4px;}
.ant-menu-item-selected {cursor:pointer;}
.ant-tree .ant-tree-node-content-wrapper {display:flex;}

.ant-badge-count {z-index:100;}
.ant-btn > .anticon + span, 
.ant-btn > span + .anticon {margin-left:2px;}
.ant-btn-link {cursor:pointer;}
.ant-drawer-close {margin-right:0;}
.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {width:60px;}
.ant-menu-inline, 
.ant-menu-vertical, 
.ant-menu-vertical-left {border-right:none;}
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .fa + span {opacity:0;}
.ant-dropdown-menu .anticon {margin-right:5px;}
.ant-tabs-extra-content {display:flex;}
.ant-tabs-extra-content .kui-title {padding-right:30px;color:var(--kui-color);}
.ant-tabs-extra-content .ant-tag {font-size:1rem;padding:5px 10px;}
.ant-table-wrapper {padding:0 10px;}
.ant-table .ant-tag {cursor:pointer;margin-right:0;line-height:unset;}
.ant-table-thead > tr > th {font-weight:bold;}
.ant-table-tbody > tr > td.kui-table-action > div > a {padding:0 5px;}
.ant-table.ant-table-small .ant-table-tbody > tr > td {padding:2px 5px;}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {background:var(--kui-color-hover);}
.kui-striped .ant-table-tbody > tr.ant-table-row-selected > td {background-color:#dcf4ff;}
.ant-table-pagination.ant-pagination {margin:5px 0 10px 0;}
.ant-transfer-list-header-title {font-weight:bold;}
.ant-toolbar {display:flex;gap:3px;}
.ant-toolbar .ant-btn,
.kui-query-btn .ant-btn,
.kui-advanced-search .ant-btn {padding:0 10px;}
td .ant-btn {height:21px;font-size:12px;padding:0 7px;}

.ant-modal {top:30px;}
.ant-modal-body > .ant-steps {padding:10px;}
.ant-modal-content {border-radius:5px;}
.ant-modal-header {border-radius:5px 5px 0 0;}
.ant-modal-body, .ant-drawer-body {position:relative;padding:10px;}
.ant-modal-body .kui-form-body {height:100%;}
.ant-modal-body .kui-form-action {padding:0 10px 10px 0;}
.ant-modal-body .nopadding {padding:0;}
.ant-notification .Error .ant-notification-notice-with-icon .ant-notification-notice-description {margin-left:0;}

/*Form*/
.kui-form-wrapper .ant-drawer-body {overflow:hidden;}
.kui-form-wrapper .ant-drawer-body .kui-form-body,
.kui-form-wrapper .ant-drawer-body .kui-form-action {position:absolute;left:0;right:0;}
.kui-form-wrapper .ant-drawer-body .kui-form-body {top:0;bottom:53px;overflow:auto;}
.kui-form-wrapper .ant-drawer-body .kui-form-action {
    bottom:0;padding:10px;background-color:var(--kui-bgcolor);border-top:1px solid var(--kui-color-border);
}
.kui-block.ant-checkbox-group,
.kui-block .ant-form-item-control,
.kui-block .ant-form-item-control-input-content {display:flex;flex-direction:column;gap:5px;}
.kui-inline > .ant-form-item-control,
.kui-inline .ant-form-item-control-input-content {display:flex;flex-direction:row;gap:5px;align-items:center;}
.kui-form .ant-alert, .kui-small .ant-alert {margin-left:10px;}
.kui-form .ant-form-item-label {width:var(--kui-form-label-width);}
.kui-form .ant-form-item-label .anticon {color:#f50;}
.kui-form.small-label .ant-form-item-label, .kui-small .ant-form-item-label {width:85px;}
.kui-form.small-row .ant-form-item, .kui-small-row .ant-form-item {margin-bottom:10px;}
.kui-form.readonly .ant-form-item {align-items:center;}
.kui-tab-form, .kui-form-tab {margin-top:-10px;}
.kui-tab-form .ant-tabs-top > .ant-tabs-nav {padding:0 20px;}
.kui-tab-form .ant-tabs-tabpane {padding:10px 0;}
.kui-tab-form .ant-tabs-tabpane .kui-form, .kui-tab-form .ant-tabs-tabpane .kui-small {padding-right:10px;}
.kui-form-tab .ant-tabs-content-holder {padding:0;}
.kui-system .ant-form-item-label {width:150px;}
.kui-development > .ant-tabs-nav {margin:0;}
.kui-role .ant-checkbox-group {display:flex;flex-direction:column;padding:5px;}
.kui-form-setting .ant-form-item-label {text-align:left;}
.kui-form-setting .ant-radio-group {display:flex;}

:root[data-theme=dark] .ant-layout-sider, :root[data-theme=dark] .kui-menu-dark {
    color:var(--kui-color);background-color:var(--kui-bgcolor);
}
:root[data-theme=dark] .ant-modal-header .anticon {color:rgba(255 255,255,0.45);}

.ant-captcha + img, .ant-captcha + canvas, .ant-captcha + .btn-sms {
    position:absolute;top:0;right:0;z-index:1000;text-align:center;
    width:110px;height:31px;line-height:31px;cursor:pointer;
}
.ant-captcha + .btn-sms {background-color:#f8eeb8;color:#596172;top:1px;right:1px;height:30px;}
.ant-menu-submenu-title .fa + span, .ant-menu-item .fa + span {margin-left:10px;}
.ant-tree .ant-tree-node-content-wrapper .ant-tree-iconEle {width:auto;}
.ant-notification-notice .ant-notification-notice-description {max-height:300px;overflow:auto;}

@media screen and (max-width:767px) {
    .ant-form {display:flex;flex-direction:column;}
    .ant-layout-header {line-height:normal;}
    .ant-drawer-content-wrapper {max-width:calc(100vw - 16px);}
    .ant-modal {top:10px;margin-top:10px;margin-left:8px;}
    .ant-row, .ant-col {flex-direction:column;width:100%;}
    .ant-col-20, .ant-col-18, .ant-col-16, .ant-col-14, .ant-col-12, 
    .ant-col-10, .ant-col-8, .ant-col-6, .ant-col-4, .ant-col {display:flex;max-width:100%;}
    .ant-col-offset-18 {margin-left:0;}
    .ant-toolbar {flex-wrap:wrap;padding-top:0;}
    .ant-form-inline {flex-direction:column;}
    .ant-form-item .ant-form-item-label {padding-bottom:0;}
    .ant-input-search-icon {font-size:20px;}
    .ant-form .ant-form-item {display:flex;flex-direction:column;}
    .ant-form .ant-form-item .ant-form-item-label, 
    .ant-form .ant-form-item .ant-form-item-control {flex:0 0 100%;max-width:100%;}
    .kui-form .ant-alert, .kui-small .ant-alert {margin-left:0;}
    .kui-query .ant-form-item-label {text-align:left;}
    .kui-table .ant-tabs-tab {padding:5px 0;}
    .kui-table .ant-tabs-top > .ant-tabs-nav {flex-direction:column;align-items:start;}
    .kui-table .ant-toolbar {padding-top:5px;}
    .kui-table .ant-tabs-nav .ant-toolbar {padding-bottom:10px;}
}