/*---App---*/
.kui-app {
    position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}

.kui-app-nav {
    position:fixed;top:0;left:0;right:0;padding:0 1rem;font-weight:bold;font-size:1rem;text-align:center;
    border-bottom:1px solid #ccc;height:40px;line-height:40px;background-color:#1890ff;color:#fff;
}
.kui-app-nav .back {cursor:pointer;position:absolute;top:0;left:0;bottom:0;width:80px;}
.kui-app-page {position:fixed;top:0;left:0;right:0;bottom:0;overflow:auto;background-color:#fff;}
.kui-app-page.nav {top:40px;}
.kui-app-page.tab {bottom:50px;}

.kui-app-tab {
    position:fixed;left:0;right:0;bottom:0;height:50px;
    display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));list-style:none;
    border-top:1px solid #ccc;margin:0;padding:0;
}
.kui-app-tab li {cursor:pointer;display:flex;flex-direction:column;text-align:center;padding-top:5px;}
.kui-app-tab .anticon {font-size:18px;}
.kui-app-tab .active {color:#1890ff;}

.kui-app-menu {list-style:none;margin:0;padding:0;}
.kui-app-menu li {display:inline-block;text-align:center;cursor:pointer;margin-bottom:20px;}
.kui-app-menu-icon {color:#fff;border-radius:50%;width:60px;height:60px;margin:0 auto 5px auto;}
.kui-app-menu .anticon {font-size:40px;margin-top:10px;}

.kui-app-row {display:flex;height:56px;}
.kui-app-row > label, .kui-app-row > span {padding-top:5px;}
.kui-app-row > label {padding-right:10px;}

.kui-app-fixed > .ant-tabs-nav {position:fixed;top:40px;left:0;right:0;z-index:101;background-color:var(--kui-bgcolor);}
.kui-app-fixed > .ant-tabs-content-holder {padding-top:60px;}

.kui-app-search, .kui-app-search-info {position:absolute;background-color:var(--kui-bgcolor);}
.kui-app-search {left:0;right:0;z-index:101;}
.kui-app-search-info {left:0;right:0;bottom:0;z-index:101;}
.kui-app-search-result {padding:40px 0;}
.kui-app-page .kui-app-search {position:fixed;top:40px;padding:20px;}
.kui-app-page .kui-app-search-result {padding:70px 20px 60px 20px;}
.kui-app-page .kui-app-search-info {position:fixed;padding:10px;}
.kui-app-page.tab .kui-app-search-info {bottom:50px;}
.kui-app-page .kui-tags .ant-tag {margin-right:0;}

.kui-app-rc2 {display:flex;justify-content:space-between;align-items:center;}

.kui-app-upload {
    position:relative;width:60px;height:60px;line-height:60px;text-align:center;
    border:1px dashed #ccc;border-radius:5px;background-color:#f1f1f1;display:inline-block;
}
.kui-app-upload img {width:100%;height:100%;}
.kui-app-upload .anticon {font-size:1.5rem;}
.kui-app-upload input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;outline:0;}

.carousel {background-color:#1890ff;}
.carousel img {width:100%;height:200px;}
/*---App---*/

/*App*/
.kui-app .form-user, .kui-app .form-password {padding:30px;}
.kui-app .form-password .kui-form-button {margin-left:0;}
.kui-app .form-user .ant-form-item-label {width:80px;}
.kui-app .form-user .kui-form-button {margin-left:80px;}
.kui-app .form-user .ant-row {flex-direction:row;}
.kui-app .form-user .ant-form .ant-form-item .ant-form-item-label {flex:0 1 auto;width:25%;}
.kui-app .form-user .ant-form .ant-form-item .ant-form-item-control {flex:0 1 auto;width:75%;}

/*Form*/
.kui-app-form {padding:1rem 1rem 64px 1rem;}
.kui-app-form-action {position:fixed;left:0;right:0;bottom:0;padding:1rem;background-color:#fff;}
.kui-app-form-inline .ant-row {flex-flow:row nowrap;}
.kui-app-form-inline .ant-form-item .ant-form-item-label {flex:0 0 100px;}
.kui-app-form-inline .ant-form-item .ant-form-item-control {flex:0 0 calc(100% - 100px);}
.kui-app-form-inline .ant-form-item .ant-form-item-control .anticon-plus-circle {font-size:1.2rem;}