/*---Home---*/
.ws-space, .ws-todo {background-color:var(--kui-bgcolor);color:var(--kui-color);}
.ws-space, .ws-todo, .ws-chart .ant-card, .ws-func .ant-card {border-radius:5px;}
.ws-chart, .ws-func {height:400px;}
.ws-chart .ant-card-head-title, .ws-func .ant-card-head-title {font-weight:bold;}

.known, .ws-space {display:flex;justify-content:space-between;}
.known {padding:12px;border-left:5px solid #4188c8;margin-bottom:10px;}
.known-desc {text-align:justify;}

.ws-space {display:flex;justify-content:space-between;margin:0 0 10px 0;padding:20px;}
.ws-welcome {display:flex;padding:10px;}

.ws-avatar {width:80px;height:80px;}
.ws-info {padding:10px;}
.ws-info span {display:block;}
.ws-name {font-size:1.4rem;}
.ws-tips {margin-top:10px;color:#888;}

.ws-todo {padding:10px;}
.ws-todo-name {padding-left:10px;}
.ws-todo-count {display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));}
.ws-todo-count .ant-statistic {text-align:center;}

.ws-chart .ant-card-body {padding:5px;}
.ws-chart .chart {height:330px;}

.ws-func-menu {display:inline-block;width:90px;height:80px;padding:8px;text-align:center;font-size:1rem;cursor:pointer;color:#4188c8;}
.ws-func-menu:hover {color:#1c66b9;}
.ws-func-menu .anticon {display:block;font-size:2.2rem;margin:8px auto;}
.ws-func-menu .anticon .icon {width:2.2rem;height:2.2rem;}
.ws-func-menu .fa {display:block;font-size:1.9rem;margin:8px auto;}
.ws-func-menu .name {display:block;width:100%;height:25px;overflow:hidden;}
.ws-func .ant-card-body {padding:20px 10px;}

.count {display:flex;justify-content:end;list-style:none;margin:0;padding:0;}
.count li {
    width:140px;height:110px;margin:0 10px;
    background-color:#f5f5f5;position:relative;text-align:left;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.count li .name {display:block;border-bottom:1px solid #e8eaec;padding:5px 10px;}
.count li .month {
    position:absolute;top:5px;right:5px;font-size:14px;padding:0 5px;
    background-color:#e6f7ff;border:1px solid #91d5ff;color:#1890ff;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.count li .amount {
    position:absolute;top:45px;left:5px;right:5px;text-align:center;
    font-size:1.8rem;height:50px;line-height:50px;
}

@media screen and (max-width:768px) {
    .known, .ws-space {flex-direction:column;padding:10px;}
    .ws-welcome {padding:0;}
    .known-desc {text-align:justify;margin-bottom:10px;}
    .ws-space {justify-content:stretch;}
    .ws-space .count {gap:10px;}
    .ws-space .count li {width:100%;margin:0;margin-top:15px;}
    .ws-func {margin-left:0;margin-top:10px;height:auto;}
}
@media screen and (max-width:574px) {
    .ws-welcome {flex-direction:column;}
    .ws-space .count {flex-direction:column;}
}

.Compact .known, .Compact .ws-space {padding:10px;}
.Compact .count li .month {font-size:12px;}
.Compact .ws-func-menu, .Compact .kui-title {font-size:0.8rem;}
.Compact .ws-func-menu .anticon {font-size:2rem;}

:root[data-theme=dark] .count li {background:linear-gradient(135deg, rgb(46, 46, 46), rgb(35, 40, 40));}
/*---Home---*/