/*Layout*/
.kui-layout {position:absolute;top:0;left:0;right:0;bottom:0;}
.kui-header {
    padding:0 10px;height:54px;line-height:54px;
    display:flex;justify-content:space-between;
    color:var(--kui-color);z-index:1000;
}
.kui-layout > .kui-header {padding-left:0;}
.kui-header .left {display:flex;align-items:center;}
.kui-header .left .trigger {font-size:18px;margin-top:2.5px;padding-right:10px;cursor:pointer;transition:color 0.3s;}
.Compact .kui-header .left .trigger {font-size:14px;margin-top:0;}
.kui-header .left .trigger:hover {color:#1890ff;}
.kui-header .anticon {cursor:pointer;}
.kui-header .ant-breadcrumb a {color:var(--kui-color);}
.kui-nav-tabs {height:calc(100vh - 54px);}
.kui-body {position:relative;height:calc(100vh - 54px);padding:10px;overflow:auto;}
.kui-body > .kui-frame {height:calc(100vh - 79px);}
.ant-tabs-content > .kui-body {height:calc(100vh - 94px);}
.ant-tabs-content > .kui-body > .kui-frame {height:calc(100vh - 119px);}
.ant-tabs-top > .ant-tabs-nav {margin:0;padding:0 10px;}
.kui-table .ant-tabs-top > .ant-tabs-nav {margin-bottom:5px;}
/*.ant-modal-body .ant-tabs-top > .ant-tabs-nav {margin-bottom:5px;}*/
.ant-tabs-top.kui-nav-tabs > .ant-tabs-nav {
    margin:0;padding:5px 2px;background:var(--kui-bgcolor);
    border-bottom:1px solid var(--kui-border-color);
}
.Compact .ant-tabs-top.kui-nav-tabs > .ant-tabs-nav {padding:2px;}
.ant-tabs-card.ant-tabs-top1 > .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color:unset;
}
.kui-nav-tabs > .ant-tabs-nav .ant-tabs-tab {padding:5px 10px;border:none;}
.kui-nav-tabs .ant-tabs-tab .anticon {margin-right:5px;}
.kui-nav-tabs .ant-tabs-tab-remove {margin-left:0;}
.kui-nav-tabs .ant-tabs-tab-remove .anticon {margin-right:0;}
.ant-layout-sider + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {
    position:absolute;top:0;left:250px;right:350px;height:54px;border-bottom:0;transition:all 0.2s;z-index:1000;
}
.ant-layout-sider-collapsed + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {left:110px;}
.kui-menu-float + .ant-layout .kui-nav-tabs.is-top > .ant-tabs-nav {left:85px;}
.kui-nav-tabs.is-top > .ant-tabs-content-holder > .ant-tabs-content > .kui-body {height:calc(100vh - 54px);}
.kui-logo {height:54px;padding-left:10px;overflow:hidden;cursor:pointer;}
.kui-header .kui-logo {width:180px;padding-left:0;}
.kui-scroll {
    position:fixed;top:54px;left:0;bottom:0;width:200px;
    overflow-y:auto;overflow-x:hidden;scrollbar-width:none;
}
.kui-scroll .ant-menu {width:200px;}
.kui-scroll .ant-menu > .kui-edit {margin:10px;}
.kui-scroll .ant-menu > .kui-edit > div {padding:5px;}
.kui-footer {text-align:center;padding:10px;}

@media screen and (max-width:767px) {
    .kui-header .left, .kui-nav-full, .kui-nav-setting {display:none;}
}