/*Ant*/
:root {
    --rz-sidebar-width: 200px;
}
.ant-tabs-nav {padding:0 10px;}
.ant-table-cell .ant-tag {cursor:pointer;}
.ant-table-pagination.ant-pagination {margin:10px;}
.ant-layout-sider-light .logo {background-image:url(/img/logo1.png);}

/*Layout*/
.layout-tabs > .ant-tabs-nav {background-color:#fff;margin-bottom:10px;}
.layout-tabs > .ant-tabs-content-holder {background-color:#fff;margin:0 10px;}
.layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab-active {
    background-color:#f0f2f5;border-bottom-color:#f0f2f5;
}

/*Role*/
.role .ant-checkbox-group {display:flex;flex-direction:column;padding:5px;}

/*Setting*/
.form-setting .ant-form-item-label {text-align:left;padding-left:10px;}
.form-setting .ant-form-item-control {text-align:right;padding-right:10px;}