/*Ant*/
:root {
    --rz-sidebar-width: 200px;
}
.ant-tabs-nav {padding:0 10px;}
.ant-table-cell .ant-tag {cursor:pointer;}
.ant-table-pagination.ant-pagination {margin:10px;}
.ant-layout-sider-light .logo {background-image:url(/img/logo1.png);}