.ant-captcha + img, .ant-captcha + canvas, .ant-captcha + .btn-sms {
    position:absolute;top:0;right:0;z-index:1000;text-align:center;
    width:110px;height:31px;line-height:31px;cursor:pointer;
}
.ant-captcha + .btn-sms {background-color:#f8eeb8;color:#596172;top:1px;right:1px;height:30px;}
.anticon-translation + span {margin-left:5px;}
.ant-query, .ant-toolbar {padding:10px 10px 0 10px;}
.ant-query input {width:110px;}

/*Layout*/
.kui-header, .kui-logo, .ant-layout-tabs > .ant-tabs-nav {position:fixed;z-index:101;transition:all 0.2s;}
.kui-header {top:0;right:0;left:200px;}
.kui-header .ant-breadcrumb {padding-top:5px;}
.kui-logo {top:0;left:0;width:200px;height:64px;background-color:var(--kui-bgcolor);padding-top:5px;padding-left:10px;}
.kui-logo + .ant-menu {position:fixed;top:64px;left:0;width:200px;}
.kui-page {padding-top:64px;}
.kui-tabs {padding-top:104px;}
.ant-layout-header {background-color:#f0f2f5;}
.ant-layout-sider, .ant-layout-sider-trigger, .ant-layout-tabs > .ant-tabs-nav {
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}
.ant-layout-tabs > .ant-tabs-nav {top:64px;left:210px;right:10px;margin-bottom:0;border-radius:5px;}
.ant-layout-tabs.ant-tabs-top > .ant-tabs-nav::before {border-bottom:none;}
.ant-layout-tabs > .ant-tabs-content-holder {margin:10px 10px 0 10px;}
.ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list {padding:4px 0;}
.ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {
    padding:4px 15px;margin-right:5px;border-radius:5px;
}
.ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab-active {
    background-color:#f0f2f5;border-bottom-color:#f0f2f5;
}
.ant-layout-sider-collapsed .kui-logo {width:60px;padding-left:5px;}
.ant-layout-sider-collapsed + section .kui-header {left:60px;}
.ant-layout-sider-collapsed + section .ant-tabs-nav {left:70px;}
.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {width:60px;}

/*Ant*/
:root {--rz-sidebar-width: 200px;}
.ant-btn {padding:4px 10px;}
.ant-btn > .anticon + span, .ant-btn > span + .anticon {margin-left:2px;}
.ant-modal-content {border-radius:5px;}
.ant-modal-header {border-radius:5px 5px 0 0;}
.ant-tabs-nav {padding:0 10px;}
.ant-tabs-tab-remove {margin-left:0;}
.ant-table-cell .ant-tag {cursor:pointer;}
.ant-table .ant-table-container::after {width:20px;}
/*.anticon .icon {width:1rem;height:1rem;}
.ant-table-column-sorter .anticon .icon {width:11px;height:11px;}*/
.ant-dropdown-link {color:#1890ff;}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {border-right:none;}
.ant-layout-footer {margin-top:10px;}

@media screen and (max-width:768px) {
    .ant-modal {top:0;margin-top:10px;margin-left:8px;}
    .ant-row {flex-direction:column;}
    .ant-col-20, .ant-col-18, .ant-col-14, .ant-col-12, .ant-col-10, .ant-col-6, .ant-col-4 {max-width:100%;}
    .ant-toolbar {padding-top:0;}
    .ant-query-btn, .ant-toolbar button {margin-top:10px;}
    .ant-form-item .ant-form-item-label {padding-bottom:0;}
    .ant-query input {width:100px;}
}

/*Profile*/
.kui-user-info li .anticon {color:#2d8cf0;}

/*Role*/
.kui-role .ant-checkbox-group {display:flex;flex-direction:column;padding:5px;}

/*Setting*/
.kui-form-setting .ant-form-item-label {text-align:left;padding-left:10px;}
.kui-form-setting .ant-form-item-control {text-align:right;padding-right:10px;}

/*Dark*/
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {background-color:#333;}
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {
    color:var(--kui-color);border-color:var(--kui-border-color);
}
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab > .ant-tabs-tab-remove {
    color:var(--kui-color);
}
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab-active,
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab-active > .ant-tabs-tab-remove {
    background-color:#f1f1f1;color:#333;
}

:root[theme=dark] .ant-segmented-group {background-color:#000;}
:root[theme=dark] .ant-layout, :root[theme=dark] .ant-layout-header, :root[theme=dark] .ant-layout-footer {
    background-color:rgb(45, 46, 46);color:var(--kui-color);
}
:root[theme=dark] .ant-table, :root[theme=dark] .ant-tree,
:root[theme=dark] .ant-table-thead > tr > th,
:root[theme=dark] .ant-table .ant-table-container::after,
:root[theme=dark] .ant-menu, :root[theme=dark] .ant-card, :root[theme=dark] .ant-card-head,
:root[theme=dark] .ant-form, :root[theme=dark] .ant-form-item, :root[theme=dark] .ant-input, :root[theme=dark] .ant-input-number,
:root[theme=dark] .ant-select:not(.ant-select-customize-input) .ant-select-selector, :root[theme=dark] .ant-picker,
:root[theme=dark] .ant-pagination-item, :root[theme=dark] .ant-pagination-options-quick-jumper input,
:root[theme=dark] .ant-pagination-prev .ant-pagination-item-link, :root[theme=dark] .ant-pagination-next .ant-pagination-item-link,
:root[theme=dark] .ant-segmented, :root[theme=dark] .ant-drawer-content,
:root[theme=dark] .ant-input-affix-wrapper,
:root[theme=dark] .ant-modal-header, :root[theme=dark] .ant-modal-content {
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}
:root[theme=dark] .ant-segmented-item-selected, :root[theme=dark] .ant-segmented-item:hover {
    background-color:#333;color:var(--kui-color);
}
:root[theme=dark] .ant-result-title, :root[theme=dark] .ant-result-subtitle,
:root[theme=dark] .ant-tabs, :root[theme=dark] .ant-form-item-label > label, 
:root[theme=dark] .ant-drawer-title, :root[theme=dark] .ant-drawer-close, :root[theme=dark] .ant-select-arrow,
:root[theme=dark] .ant-modal-title, :root[theme=dark] .ant-modal-max-btn, :root[theme=dark] .ant-modal-close,
:root[theme=dark] .ant-modal-confirm-body .ant-modal-confirm-title, :root[theme=dark] .ant-modal-confirm-body .ant-modal-confirm-content, 
:root[theme=dark] .ant-breadcrumb, :root[theme=dark] .ant-breadcrumb-separator, :root[theme=dark] .ant-breadcrumb li:last-child,
:root[theme=dark] .ant-menu-submenu-expand-icon, :root[theme=dark] .ant-menu-submenu-arrow,
:root[theme=dark] .ant-pagination, :root[theme=dark] .ant-empty-normal,
:root[theme=dark] .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, 
:root[theme=dark] .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
:root[theme=dark] .ant-picker-separator, :root[theme=dark] .ant-picker-suffix,
:root[theme=dark] .ant-checkbox-disabled + span, :root[theme=dark] .ant-radio-disabled + span,
:root[theme=dark] .ant-radio-wrapper, :root[theme=dark] .ant-checkbox-wrapper,
:root[theme=dark] .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
:root[theme=dark] .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
:root[theme=dark] .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
:root[theme=dark] .ant-tree .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
    color:var(--kui-color);
}
:root[theme=dark] .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {color:#596172;}
:root[theme=dark] .ant-card-bordered, :root[theme=dark] .ant-card-head,
:root[theme=dark] .ant-input-affix-wrapper, :root[theme=dark] .ant-drawer-header,
:root[theme=dark] .ant-input, :root[theme=dark] .ant-input-number,
:root[theme=dark] .ant-select:not(.ant-select-customize-input) .ant-select-selector, :root[theme=dark] .ant-picker,
:root[theme=dark] .ant-pagination-item:not(.ant-pagination-item-active), :root[theme=dark] .ant-pagination-options-quick-jumper input,
:root[theme=dark] .ant-pagination-prev .ant-pagination-item-link, :root[theme=dark] .ant-pagination-next .ant-pagination-item-link,
:root[theme=dark] .ant-modal-header, :root[theme=dark] .ant-modal-footer,
:root[theme=dark] .ant-table-thead > tr > th, :root[theme=dark] .ant-table-tbody > tr > td,
:root[theme=dark] .ant-tabs-top > .ant-tabs-nav::before, 
:root[theme=dark] .ant-tabs-bottom > .ant-tabs-nav::before, 
:root[theme=dark] .ant-tabs-top > div > .ant-tabs-nav::before, 
:root[theme=dark] .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-color:var(--kui-border-color);
}
:root[theme=dark] .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
:root[theme=dark] td.ant-table-column-sort, :root[theme=dark] .ant-input[disabled],
:root[theme=dark] .ant-pagination-disabled .ant-pagination-item-link, :root[theme=dark] .ant-pagination-disabled:hover .ant-pagination-item-link {
    background-color:rgba(255, 255, 255, 0.08);
}
:root[theme=dark] .ant-table-tbody > tr.ant-table-row:hover > td,
:root[theme=dark] .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background:rgba(255, 255, 255, 0.08);
}