.ant-captcha + img, .ant-captcha + canvas, .ant-captcha + .btn-sms {
    position:absolute;top:0;right:0;z-index:1000;text-align:center;
    width:110px;height:31px;line-height:31px;cursor:pointer;
}
.ant-captcha + .btn-sms {background-color:#f8eeb8;color:#596172;top:1px;right:1px;height:30px;}
.anticon-translation + span {margin-left:5px;}
.kui-toolbar > .ant-toolbar > button,
.kui-toolbar > .ant-toolbar > div > button {margin-left:3px;}
.ant-layout .kui-query {padding-bottom:0;}
.kui-query .ant-form-item {margin-bottom:10px;}
.ant-query-more .ant-form-item-label {width:100px;text-align:right;}
.kui-table .ant-table-wrapper {padding:0 10px 10px 10px;}
.kui-table.form-list > .ant-table-wrapper {padding:0 0 10px 0;}
.kui-table .ant-tabs-nav {margin:0;margin-bottom:10px;}
.ant-table-thead > tr > th.kui-table-check {position:sticky;left:0;z-index:101;}
.ant-table-tbody > tr > td.kui-table-check, .ant-table tfoot > tr > td.kui-table-check {
    position:sticky;left:0;z-index:101;background-color:var(--kui-bgcolor);
}
.ant-table-thead > tr > th.kui-table-action {position:sticky;right:0;z-index:101;}
.ant-table-tbody > tr > td.kui-table-action {position:sticky;right:0;z-index:101;background-color:var(--kui-bgcolor);}
.ant-tabs-extra-content .kui-title {padding-right:30px;color:var(--kui-color);}
.kui-form .ant-form-item-label {width:var(--kui-form-label-width);}
.kui-small .ant-form-item-label {width:85px;}
.kui-form-caption {font-weight:bold;font-size:1rem;padding:0 0 10px 35px;}
.kui-form-toolbar button {margin-left:5px;}
.kui-step-form .ant-modal-body {padding:10px 20px;}
.kui-tab-form .ant-modal-body {padding:0 20px 20px 20px;}
.kui-tab-form .ant-tabs-extra-content .ant-tag {font-size:1rem;padding:5px 10px;}
.kui-detail .ant-modal-body {padding:0;}
.ant-modal {top:50px;}
.ant-modal-body > .ant-steps {padding:15px 0 10px 0;}
.kui-nocaptcha {margin-top:20px;}

/*Layout*/
.kui-header, .kui-logo, .ant-layout-tabs > .ant-tabs-nav {position:fixed;z-index:101;transition:all 0.2s;}
.kui-header {top:0;right:0;left:200px;z-index:102;}
.kui-header .ant-breadcrumb {padding-top:5px;}
.kui-logo {top:0;left:0;width:200px;height:64px;background-color:var(--kui-bgcolor);padding-top:5px;padding-left:10px;}
.kui-scroll {position:fixed;top:64px;left:0;bottom:48px;width:200px;overflow-y:auto;overflow-x:hidden;scrollbar-width:none;}
.kui-scroll .ant-menu {width:200px;}
.kui-page {padding-top:64px;}
.kui-tabs {padding-top:104px;}
.ant-layout-header {background-color:#f0f2f5;}
.ant-layout-sider, .ant-layout-sider-trigger, .ant-layout-tabs > .ant-tabs-nav {
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}
.ant-layout-tabs > .ant-tabs-nav {top:64px;left:210px;right:10px;margin-bottom:0;border-radius:5px;}
.ant-layout-tabs.ant-tabs-top > .ant-tabs-nav::before {border-bottom:none;}
.ant-layout-tabs > .ant-tabs-content-holder {margin:10px 10px 0 10px;}
.ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list {padding:4px 0;}
.ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {
    padding:4px 15px;margin-right:5px;border-radius:5px;
}
.ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab-active {
    background-color:#f0f2f5;border-bottom-color:#f0f2f5;
}
.ant-layout-sider-collapsed .kui-logo {width:60px;padding-left:5px;}
.ant-layout-sider-collapsed + section .kui-header {left:60px;}
.ant-layout-sider-collapsed + section > .kui-tabs > .ant-tabs > .ant-tabs-nav {left:70px;}
.ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {width:60px;}

/*Ant*/
:root {--rz-sidebar-width: 200px;}
.ant-btn {padding:4px 10px;}
.ant-btn > .anticon + span, .ant-btn > span + .anticon {margin-left:2px;}
.ant-modal-content {border-radius:5px;}
.ant-modal-header {border-radius:5px 5px 0 0;}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {padding:8px 0 8px 10px;}
.ant-tabs-nav {padding:0 10px;}
.ant-tabs-tab .anticon {margin-right:5px;}
.ant-tabs-tab-remove {margin-left:0;}
.ant-table-thead > tr > th {font-weight:bold;}
.ant-table-cell .ant-tag {cursor:pointer;}
.ant-table .ant-table-container::after {width:20px;}
/*.anticon .icon {width:1rem;height:1rem;}
.ant-table-column-sorter .anticon .icon {width:11px;height:11px;}*/
.ant-dropdown-link {color:#1890ff;}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {border-right:none;}
.ant-layout-footer {margin-top:10px;}
.ant-spin-nested-loading, .ant-spin-nested-loading > div, .ant-spin-container {height:100%;}
.ant-spin-nested-loading > div > .ant-spin .ant-spin-text {padding-top:20px;}

@media screen and (max-width:768px) {
    .kui-header .ant-breadcrumb, .kui-nav-full, .kui-nav-setting {display:none;}
    .ant-layout-header {line-height:normal;}
    .ant-modal {top:10px;margin-top:10px;margin-left:8px;}
    .ant-row {flex-direction:column;}
    .ant-col-20, .ant-col-18, .ant-col-16, .ant-col-14, .ant-col-12, 
    .ant-col-10, .ant-col-8, .ant-col-6, .ant-col-4 {max-width:100%;}
    .ant-toolbar {padding-top:0;}
    .ant-query-btn, .ant-toolbar button {margin-top:10px;}
    .ant-form-inline {flex-direction:column;}
    .ant-form-item .ant-form-item-label {padding-bottom:0;}
    .ant-query input {width:100px;}
    .ant-input-search-icon {font-size:20px;}
}

/*Profile*/
.kui-user-info li .anticon {color:#2d8cf0;}

/*Role*/
.kui-role .ant-checkbox-group {display:flex;flex-direction:column;padding:5px;}

/*Setting*/
.kui-form-setting .ant-form-item-label {text-align:left;padding-left:10px;}
.kui-form-setting .ant-form-item-control {text-align:right;padding-right:10px;}

/*Color*/
.ant-input[disabled], .ant-input-number-disabled, .ant-picker-input > input[disabled],
.ant-radio-disabled + span, .ant-checkbox-disabled + span, 
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-tree .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
    color:rgba(0, 0, 0, 0.80);
}

/*Dark*/
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {background-color:#333;}
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab {
    color:var(--kui-color);border-color:var(--kui-border-color);
}
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab > .ant-tabs-tab-remove {
    color:var(--kui-color);
}
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab-active,
:root[theme=dark] .ant-layout-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab-active > .ant-tabs-tab-remove {
    background-color:#f1f1f1;color:#333;
}

:root[theme=dark] .ant-segmented-group {background-color:#000;}
:root[theme=dark] .ant-layout,
:root[theme=dark] .ant-layout-header,
:root[theme=dark] .ant-layout-footer {
    background-color:rgb(45, 46, 46);color:var(--kui-color);
}
:root[theme=dark] .ant-tree,
:root[theme=dark] .ant-table,
:root[theme=dark] .ant-table-thead > tr > th,
:root[theme=dark] .ant-table .ant-table-container::after,
:root[theme=dark] .ant-menu,
:root[theme=dark] .ant-card,
:root[theme=dark] .ant-card-head,
:root[theme=dark] .ant-form,
:root[theme=dark] .ant-form-item,
:root[theme=dark] .ant-select:not(.ant-select-customize-input) .ant-select-selector,
:root[theme=dark] .ant-picker,
:root[theme=dark] .ant-pagination-item,
:root[theme=dark] .ant-pagination-options-quick-jumper input,
:root[theme=dark] .ant-pagination-prev .ant-pagination-item-link,
:root[theme=dark] .ant-pagination-next .ant-pagination-item-link,
:root[theme=dark] .ant-segmented,
:root[theme=dark] .ant-drawer-content,
:root[theme=dark] .ant-input,
:root[theme=dark] .ant-input-number,
:root[theme=dark] .ant-input-number-handler-wrap,
:root[theme=dark] .ant-input-affix-wrapper,
:root[theme=dark] .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
:root[theme=dark] .ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover,
:root[theme=dark] .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
:root[theme=dark] .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
:root[theme=dark] .ant-modal-header,
:root[theme=dark] .ant-modal-content {
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}
:root[theme=dark] .ant-segmented-item-selected,
:root[theme=dark] .ant-segmented-item:hover {
    background-color:#333;color:var(--kui-color);
}
:root[theme=dark] .ant-result-title,
:root[theme=dark] .ant-result-subtitle,
:root[theme=dark] .ant-tabs,
:root[theme=dark] .ant-form-item-label > label, 
:root[theme=dark] .ant-drawer-title,
:root[theme=dark] .ant-drawer-close,
:root[theme=dark] .ant-select-arrow,
:root[theme=dark] .ant-modal-title,
:root[theme=dark] .ant-modal-max-btn,
:root[theme=dark] .ant-modal-close,
:root[theme=dark] .ant-modal-confirm-body .ant-modal-confirm-title,
:root[theme=dark] .ant-modal-confirm-body .ant-modal-confirm-content, 
:root[theme=dark] .ant-breadcrumb,
:root[theme=dark] .ant-breadcrumb-separator,
:root[theme=dark] .ant-breadcrumb li:last-child,
:root[theme=dark] .ant-menu-submenu-expand-icon,
:root[theme=dark] .ant-menu-submenu-arrow,
:root[theme=dark] .ant-pagination,
:root[theme=dark] .ant-empty-normal,
:root[theme=dark] .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, 
:root[theme=dark] .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
:root[theme=dark] .ant-input-password-icon.anticon,
:root[theme=dark] .ant-input-number-handler-up-inner,
:root[theme=dark] .ant-input-number-handler-down-inner,
:root[theme=dark] .ant-picker-separator,
:root[theme=dark] .ant-picker-suffix,
:root[theme=dark] .ant-checkbox-disabled + span,
:root[theme=dark] .ant-radio-disabled + span,
:root[theme=dark] .ant-radio-wrapper,
:root[theme=dark] .ant-checkbox-wrapper,
:root[theme=dark] .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
:root[theme=dark] .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
:root[theme=dark] .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
:root[theme=dark] .ant-tree .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
    color:var(--kui-color);
}
:root[theme=dark] .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {color:#596172;}
:root[theme=dark] .ant-card-bordered,
:root[theme=dark] .ant-card-head,
:root[theme=dark] .ant-input-affix-wrapper,
:root[theme=dark] .ant-drawer-header,
:root[theme=dark] .ant-input,
:root[theme=dark] .ant-input-number,
:root[theme=dark] .ant-input-number-handler,
:root[theme=dark] .ant-input-number:hover:not(.ant-input-number-borderless) .ant-input-number-handler-down,
:root[theme=dark] .ant-input-number-focused:not(.ant-input-number-borderless) .ant-input-number-handler-down,
:root[theme=dark] .ant-select:not(.ant-select-customize-input) .ant-select-selector,
:root[theme=dark] .ant-picker,
:root[theme=dark] .ant-pagination-item:not(.ant-pagination-item-active),
:root[theme=dark] .ant-pagination-options-quick-jumper input,
:root[theme=dark] .ant-pagination-prev .ant-pagination-item-link,
:root[theme=dark] .ant-pagination-next .ant-pagination-item-link,
:root[theme=dark] .ant-modal-header,
:root[theme=dark] .ant-modal-footer,
:root[theme=dark] .ant-table-thead > tr > th,
:root[theme=dark] .ant-table-tbody > tr > td,
:root[theme=dark] .ant-tabs-top > .ant-tabs-nav::before, 
:root[theme=dark] .ant-tabs-bottom > .ant-tabs-nav::before, 
:root[theme=dark] .ant-tabs-top > div > .ant-tabs-nav::before, 
:root[theme=dark] .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-color:var(--kui-border-color);
}
:root[theme=dark] td.ant-table-column-sort,
:root[theme=dark] .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
:root[theme=dark] .ant-input[disabled],
:root[theme=dark] .ant-input-number-disabled,
:root[theme=dark] .ant-pagination-disabled .ant-pagination-item-link,
:root[theme=dark] .ant-pagination-disabled:hover .ant-pagination-item-link,
:root[theme=dark] .ant-table-tbody > tr.ant-table-placeholder:hover > td,
:root[theme=dark] .ant-table-tbody > tr.ant-table-row:hover > td,
:root[theme=dark] .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color:rgba(255, 255, 255, 0.08);
}

/*App*/
.kui-app {
    position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;
    background-color:var(--kui-bgcolor);color:var(--kui-color);
}

.kui-app-nav {
    position:fixed;top:0;left:0;right:0;padding:0 1rem;font-weight:bold;font-size:1rem;text-align:center;
    border-bottom:1px solid #ccc;height:40px;line-height:40px;background-color:#1890ff;color:#fff;
}
.kui-app-nav .back {cursor:pointer;position:absolute;top:0;left:0;bottom:0;width:80px;}
.kui-app-page {position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto;}
.kui-app-page.nav {top:40px;}
.kui-app-page.tab {bottom:50px;}

.kui-app-tab {
    position:fixed;left:0;right:0;bottom:0;height:50px;
    display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));list-style:none;
    border-top:1px solid #ccc;margin:0;padding:0;
}
.kui-app-tab li {cursor:pointer;display:flex;flex-direction:column;text-align:center;padding-top:5px;}
.kui-app-tab .anticon {font-size:18px;}
.kui-app-tab .active {color:#1890ff;}

.kui-app-menu {list-style:none;margin:0;padding:0;}
.kui-app-menu li {display:inline-block;text-align:center;cursor:pointer;margin-bottom:20px;}
.kui-app-menu-icon {color:#fff;border-radius:50%;width:60px;height:60px;margin:0 auto 5px auto;}
.kui-app-menu .anticon {font-size:40px;margin-top:10px;}

.kui-app-row {display:flex;height:56px;}
.kui-app-row > label, .kui-app-row > span {padding-top:5px;}
.kui-app-row > label {padding-right:10px;}

.kui-app-fixed > .ant-tabs-nav {position:fixed;top:40px;left:0;right:0;z-index:101;background-color:var(--kui-bgcolor);}
.kui-app-fixed > .ant-tabs-content-holder {padding-top:60px;}

.kui-app-search, .kui-app-search-info {position:absolute;background-color:var(--kui-bgcolor);}
.kui-app-search {left:0;right:0;z-index:101;}
.kui-app-search-info {left:0;right:0;bottom:0;z-index:101;}
.kui-app-search-result {padding:40px 0;}
.kui-app .kui-app-search {position:fixed;top:40px;padding:20px;}
.kui-app .kui-app-search-result {padding:60px 20px;}
.kui-app .kui-app-search-info {position:fixed;padding:10px;}

.kui-app-rc2 {display:flex;justify-content:space-between;align-items:center;}

.kui-app-upload {
    position:relative;width:60px;height:60px;line-height:60px;text-align:center;
    border:1px dashed #ccc;border-radius:5px;background-color:#f1f1f1;display:inline-block;
}
.kui-app-upload img {width:100%;height:100%;}
.kui-app-upload .anticon {font-size:1.5rem;}
.kui-app-upload input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;outline:0;}

.kui-app .form-user, .kui-app .form-password {padding:30px;}
.kui-app .form-password .kui-form-button {margin-left:0;}
.kui-app .form-user .ant-form-item-label {width:80px;}
.kui-app .form-user .kui-form-button {margin-left:80px;}
.kui-app .form-user .ant-row {flex-direction:row;}
.kui-app .form-user .ant-form .ant-form-item .ant-form-item-label {flex:0 1 auto;width:25%;}
.kui-app .form-user .ant-form .ant-form-item .ant-form-item-control {flex:0 1 auto;width:75%;}

.carousel {background-color:#1890ff;}
.carousel img {width:100%;height:200px;}

/*Home*/
.ws-space, .ws-todo {background-color:var(--kui-bgcolor);color:var(--kui-color);}
.ws-space, .ws-todo, .ws-chart .ant-card, .ws-func .ant-card {border-radius:5px;}
.ws-chart, .ws-func {height:400px;}

.known, .ws-space {display:flex;justify-content:space-between;}
.known {padding:20px;border-left:5px solid #4188c8;}
.known-desc {text-align:justify;}

.ws-space {display:flex;justify-content:space-between;margin:0 0 10px 0;padding:20px;}
.ws-welcome {display:flex;padding:10px;}

.ws-avatar {width:80px;height:80px;}
.ws-info {padding:10px;}
.ws-info span {display:block;}
.ws-name {font-size:1.4rem;}
.ws-tips {margin-top:10px;color:#888;}

.ws-todo {padding:10px;}
.ws-todo-name {padding-left:10px;}
.ws-todo-count {display:grid;grid-template-columns:repeat(auto-fit,minmax(0%,1fr));}
.ws-todo-count .ant-statistic {text-align:center;}

.ws-chart .ant-card-body {padding:5px;}
.ws-chart .chart {height:330px;}

.ws-func-menu {display:inline-block;width:90px;height:80px;padding:8px;text-align:center;font-size:1rem;cursor:pointer;color:#4188c8;}
.ws-func-menu:hover {color:#1c66b9;}
.ws-func-menu .anticon {display:block;font-size:2.2rem;margin:8px auto;}
.ws-func-menu .anticon .icon {width:2.2rem;height:2.2rem;}
.ws-func-menu .name {display:block;width:100%;height:25px;overflow:hidden;}
.ws-func .ant-card-body {padding:20px 10px;}

.count {display:flex;justify-content:end;list-style:none;margin:0;padding:0;}
.count li {
    width:140px;height:110px;margin:0 10px;
    background-color:#f5f5f5;position:relative;text-align:left;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.count li .name {display:block;border-bottom:1px solid #e8eaec;padding:5px 10px;}
.count li .month {
    position:absolute;top:5px;right:5px;font-size:14px;padding:0 5px;
    background-color:#e6f7ff;border:1px solid #91d5ff;color:#1890ff;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.count li .amount {
    position:absolute;top:45px;left:5px;right:5px;text-align:center;
    font-size:1.8rem;height:50px;line-height:50px;
}

@media screen and (max-width:768px) {
    .ws-space, .ws-welcome {flex-direction:column;}
    .ws-space {justify-content:stretch;}
    .ws-space .count {flex-direction:column;}
    .ws-space .count li {width:100%;margin:0;margin-top:15px;}
    .ws-func {margin-left:0;margin-top:10px;height:auto;}
}