@inherits BaseComponent

<AntDesign.ProLayout.BasicLayout Logo="@("img/logo.png")" MenuData="userMenus">
    <RightContentRender>
    </RightContentRender>
    <ChildContent>
        <AdminBody />
    </ChildContent>
    <FooterRender>
    </FooterRender>
</AntDesign.ProLayout.BasicLayout>
<SettingDrawer />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private MenuDataItem[] userMenus;
    private bool isInitialized;
    private AdminInfo info;

    protected override async Task OnInitializedAsync()
    {
        info = await Platform.GetAdminAsync();
        Setting.UserSetting = info?.UserSetting;
        Setting.Info = info?.UserSetting?.Info ?? SettingInfo.Default;

        userMenus = info?.UserMenus.ToAntMenus().ToArray();
        if (Config.IsWebApi)
            Cache.AttachCodes(info?.Codes);

        // PageAction.RefreshTheme = () =>
        // {
        //     UI.CurDialog = UI.TopDialog;
        //     StateChanged();
        // };
        isInitialized = true;
    }
}