@inherits BaseComponent

<KLayout>
    <div class="kui-app">
        @if (!IsHome)
        {
            <div class="kui-app-nav">
                @if (!string.IsNullOrWhiteSpace(Context.Current?.BackUrl))
                {
                    <span class="back" @onclick="e=>Context.Back()">
                        <Icon Type="left" Theme="IconThemeType.Outline" />
                        <span>@Language[Language.Back]</span>
                    </span>
                }
                @Context.Current?.Name
            </div>
        }
        <div class="@PageClass">
            @ChildContent
        </div>
        @if (IsTab)
        {
            <AppTab Items="TabItems" />
        }
    </div>
</KLayout>