@inherits BaseComponent

<KLayout OnReloadPage="OnReloadPage">
    <div style="height:100%;">
        @if (!IsHome)
        {
            <AppNavbar Name="@Context.Current?.Name" 
                       ShowBack="!string.IsNullOrWhiteSpace(Context.Current?.BackUrl)" 
                       OnBack="OnBack" />
        }
        <div class="@PageClass">
            <ReloadContainer @ref="reload">
                @ChildContent
            </ReloadContainer>
        </div>
        @if (IsTab)
        {
            <AppTab Items="TabItems" />
        }
    </div>
</KLayout>