@inherits BaseComponent

@if (Context.UserSetting.MultiTab)
{
    <ReuseTabs Class="@TabsClass" TabPaneClass="kui-body" Body="ChildContent" />
}
else
{
    <div class="kui-body">
        <ReloadContainer @ref="reload">
            @ChildContent
        </ReloadContainer>
    </div>
}