@inherits BaseNav
@attribute [NavPlugin("用户", "user", Category = "组件", Sort = 6)]

<AntDropdown Context="Context" Model="model">
    <div style="display:flex;align-items:center;margin-top:3px;">
        <Avatar Src="@AvatarUrl" />
        <span>@CurrentUser?.Name</span>
    </div>
</AntDropdown>