@inherits BaseComponent

<div class="kui-user-avatar">
    <img src="@user?.AvatarUrl" />
    <div class="kui-upload-button">
        <Icon Type="edit" />
        <span>@Language[Language.Edit]</span>
        <InputFile OnChange="OnFileChangedAsync" />
    </div>
    <ul class="kui-user-info">
        <li><Icon Type="user" /><span>@($"{user?.Name}({user?.UserName})")</span></li>
        <li><Icon Type="phone" /><span>@user?.Phone</span></li>
        <li><Icon Type="mobile" /><span>@user?.Mobile</span></li>
        <li><Icon Type="inbox" /><span>@user?.Email</span></li>
        <li><Icon Type="team" /><span>@user?.Role</span></li>
        <li><Icon Type="comment" /><span>@user?.Note</span></li>
    </ul>
</div>