@inherits BaseComponent

<div class="kui-user-avatar">
    <img src="@user?.AvatarUrl" />
    <div class="kui-upload-button ant-btn-link">
        <Icon Type="edit" />
        <span>@Language[Language.Edit]</span>
        <InputFile OnChange="OnFileChangedAsync" />
    </div>
    <ul class="kui-user-info">
        <li><KIcon IsTheme Icon="user" /><span>@($"{user?.Name}({user?.UserName})")</span></li>
        <li><KIcon IsTheme Icon="phone" /><span>@user?.Phone</span></li>
        <li><KIcon IsTheme Icon="mobile" /><span>@user?.Mobile</span></li>
        <li><KIcon IsTheme Icon="inbox" /><span>@user?.Email</span></li>
        <li><KIcon IsTheme Icon="team" /><span>@user?.Role</span></li>
        <li><KIcon IsTheme Icon="comment" /><span>@user?.Note</span></li>
    </ul>
</div>