<KContext Value="Context">
    <Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="Config.Assemblies">
        <Found Context="routeData">
            <KRouteData Value="routeData">
                <RouteView RouteData="routeData" DefaultLayout="typeof(AdminLayout)" />
            </KRouteData>
        </Found>
        <NotFound>
            <Result Status="ResultStatus.Http404" />
        </NotFound>
    </Router>
    <KContainer />
    <a href="https://pro.known.org.cn" target="_blank">专业版体验</a>
</KContext>

@code {
    [Parameter] public UIContext Context { get; set; }
}