<div class="layui-fit">
    <div class="fit-col-3">
        <div id="tree"></div>
    </div>
    <div class="fit-col-7">
        <table id="gridDictionary" class="layui-hide" lay-filter="gridDictionary"></table>
    </div>
</div>
<div class="form-card" id="formDictionary">
    <div class="form-card-header"></div>
    <div class="form-card-body">
        <div class="layui-form" lay-filter="formDictionary">
            <input type="hidden" name="Id">
            <input type="hidden" name="Category">
            <input type="hidden" name="CategoryName">
            <div class="layui-form-item">
                <label class="layui-form-label required">代码</label>
                <div class="layui-input-inline">
                    <input type="text" name="Code" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">状态</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="Enabled" lay-skin="switch" lay-text="启用|停用" value="1">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">顺序</label>
                <div class="layui-input-inline">
                    <input type="text" name="Sort" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">备注</label>
                <div class="layui-input-block">
                    <textarea name="Note" placeholder="" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-card-footer"></div>
</div>

<script>
    layui.use('frame', function () {
        var url = {
            GetCategories: '/Dictionary/GetCategories',
            QueryDictionarys: '/Dictionary/QueryDictionarys',
            DeleteDictionarys: '/Dictionary/DeleteDictionarys',
            GetDictionary: '/Dictionary/GetDictionary',
            SaveDictionary: '/Dictionary/SaveDictionary'
        };

        var $ = layui.jquery,
            layer = layui.layer,
            tree = layui.tree,
            frame = layui.frame;

        var form = frame.form({
            name: 'formDictionary',
            defData: { Id: '', Enabled: 1 },
            toolbar: [{
                text: '保存', handler: function (e) {
                    e.save(url.SaveDictionary, function () {
                        grid.reload();
                    });
                }
            }]
        });

        var category = null;
        var grid = frame.grid({
            name: 'gridDictionary',
            config: {
                url: url.QueryDictionarys, height: 'full-25',
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { type: 'checkbox', fixed: 'left' },
                    { sort: true, title: '代码', field: 'Code', width: 150 },
                    { sort: true, title: '名称', field: 'Name', width: 150 },
                    {
                        sort: true, title: '状态', field: 'Enabled', width: 100, templet: function (d) {
                            var checked = d.Enabled ? ' checked' : '';
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|停用" disabled' + checked + '>';
                        }
                    },
                    { sort: true, title: '顺序', field: 'Sort', width: 100, align: 'center' },
                    { sort: true, title: '备注', field: 'Note' }
                ]]
            },
            toolbar: {
                addCat: function (e) { showForm(); },
                add: function (e) {
                    if (!category) {
                        layer.msg('请选择字典类别！');
                        return;
                    }
                    showForm(category);
                },
                edit: function (e) {
                    var title = getCategoryInfo(e.row.Category, e.row.CategoryName);
                    e.editRow(form, { title: title });
                },
                remove: function (e) { e.deleteRows(url.DeleteDictionarys); },
                imports: function (e) { }
            }
        });

        function getCategoryInfo(code, name) {
            return '- ' + code + '|' + name;
        }

        function showForm(category) {
            var title = category ? getCategoryInfo(category.Code, category.Name) : '';
            category = category || {};
            form.show({
                Id: '', Enabled: 1,
                Category: category.Code, CategoryName: category.Name
            }, { title: title });
        }

        $.get(url.GetCategories, function (result) {
            var data = frame.common.list2Tree(result, '');
            tree.render({
                elem: '#tree', data: data, onlyIconControl: true,
                click: function (obj) {
                    category = obj.data.data;
                    grid.reload({
                        Category: category.Code
                    })
                }
            });
        });
    });
</script>