<div class="layui-fit">
    <div class="fit-col">
        <table id="gridLog" class="layui-hide" lay-filter="gridLog"></table>
    </div>
</div>

<script>
    layui.use('frame', function () {
        var url = {
            QueryLogs: '/System/QueryLogs'
        };

        var frame = layui.frame;

        var grid = frame.grid({
            name: 'gridLog', showSearch: true,
            config: {
                url: url.QueryLogs,
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { sort: true, title: '操作人', field: 'CreateBy', width: 100 },
                    { sort: true, title: '操作时间', field: 'CreateTime', width: 200 },
                    { sort: true, title: '日志类型', field: 'Type', width: 150 },
                    { sort: true, title: '日志对象', field: 'Target', width: 150 },
                    { sort: true, title: '日志内容', field: 'Content', width: 450 }
                ]]
            },
            toolbar: []
        });
    });
</script>