<div class="layui-fit">
    <div class="fit-col" style="width:250px;">
        <div class="layui-card">
            <div id="tree" class="demo-tree demo-tree-box"></div>
        </div>
    </div>
    <div class="fit-col" style="left:260px;">
        <div class="layui-card">
            <div class="layui-btn-group">
                <button id="addRes" class="layui-btn layui-btn-small">添加资源</button>
                <button id="module" class="layui-btn layui-btn-small">子模块管理</button>
            </div>
            <table id="gridModule"></table>
        </div>
    </div>
</div>