<div class="layui-fit">
    <div class="fit-col" style="width:250px;">
        <div class="layui-card">
            <div id="tree" class="demo-tree demo-tree-box"></div>
        </div>
    </div>
    <div class="fit-col" style="left:260px;">
        <div class="layui-card">
            <div class="layui-btn-group">
                <button type="button" class="layui-btn layui-btn-sm">
                    <i class="layui-icon layui-icon-addition">添加系统</i>
                </button>
                <button type="button" class="layui-btn layui-btn-sm">
                    <i class="layui-icon layui-icon-addition">添加模块</i>
                </button>
                <button type="button" class="layui-btn layui-btn-sm">
                    <i class="layui-icon layui-icon-delete">删除</i>
                </button>
            </div>
            <table id="gridModule"></table>
        </div>
    </div>
</div>