<div class="layui-fit">
    <div class="fit-col">
        <table id="gridRole" class="layui-hide" lay-filter="gridRole"></table>
    </div>
</div>
<script type="text/html" id="dialogRole">
    <table class="layui-form form" lay-filter="formRole">
        <tr>
            <th style="width:80px;">名称</th>
            <td>
                <input type="hidden" name="Id">
                <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </td>
        </tr>
        <tr>
            <th>状态</th>
            <td>
                <input type="checkbox" name="Enabled" lay-skin="switch" lay-text="启用|停用" value="1">
            </td>
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="3">
                <textarea name="Note" placeholder="" class="layui-textarea"></textarea>
            </td>
        </tr>
    </table>
</script>

<script>
    layui.use('helper', function () {
        var url = {
            QueryRoles: '/System/QueryRoles',
            DeleteRoles: '/System/DeleteRoles',
            GetRole: '/System/GetRole',
            SaveRole: '/System/SaveRole',
            RightForm: '/System/RightForm'
        };

        var $ = layui.jquery,
            layer = layui.layer,
            helper = layui.helper;

        var form = helper.form({
            name: 'formRole',
            defData: { Id: '', Enabled: 1 },
            config: {
                area: ['450px', '255px'],
                content: $('#dialogRole').html()
            },
            toolbar: [{
                text: '保存', handler: function (e) {
                    e.save(url.SaveRole, function () {
                        grid.reload();
                    });
                }
            }]
        });

        var grid = helper.grid({
            name: 'gridRole',
            config: {
                url: url.QueryRoles, height: 'full-25',
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { type: 'checkbox', fixed: 'left' },
                    { sort: true, title: '名称', field: 'Name', width: 150 },
                    {
                        sort: true, title: '状态', field: 'Enabled', width: 100, templet: function (d) {
                            var checked = d.Enabled ? ' checked' : '';
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|停用" disabled' + checked + '>';
                        }
                    },
                    { sort: true, title: '备注', field: 'Note' }
                ]]
            },
            toolbar: {
                add: function (e) { form.show(); },
                edit: function (e) { e.editRow(form); },
                remove: function (e) { e.deleteRows(url.DeleteRoles); },
                right: function (e) {
                    e.selectRow(function (e) {
                        selectRight(e.row);
                    });
                }
            }
        });

        function selectRight(data, callback) {
            var transfer = layui.transfer;
            helper.open({
                title: '设置权限 - ' + data.Name,
                area: ['450px', '300px'],
                content: '<div id="transUserRole"></div>',
                btn: ['确定', '关闭'],
                yes: function () {
                    layer.close(layer.index);
                    var data = transfer.getData('transUserRole');
                    callback && callback(data);
                },
                btn2: function () {
                    layer.close(layer.index);
                },
                success: function () {
                    transfer.render({
                        id: 'transUserRole',
                        elem: '#transUserRole',
                        title: ['未选角色', '已选角色'],
                        data: data.roles,
                        value: data.value,
                        width: 180, height: 205
                    })
                }
            });
        }
    });
</script>