<template>
    <table id="gridRoleView"></table>
    <div id="dialogRoleView" style="display:none;">
        <div style="float:left;width:200px;">
            <table id="ff" class="form">
                <tr>
                    <th>名称</th>
                    <td>
                        <input name="Name" class="easyui-textbox" required="true" />
                    </td>
                </tr>
                <tr>
                    <th>选项</th>
                    <td>
                        <input name="Enabled" type="checkbox" /><label>有效</label>
                    </td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td>
                        <input name="Note" class="easyui-textbox" multiline="true" style="height:50px;" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="float:left;">
            <div style="float:left;width:200px;">

            </div>
            <div>

            </div>
        </div>
    </div>
</template>

<template id="script">
    <script>
        var RoleView = {

            name: 'RoleView',
            grid: null,

            // public
            show: function () {
                this.grid = new Grid(this, {
                    url: '/Role/QueryRoles',
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { sortable: true, field: 'Name', title: '名称' },
                        { sortable: true, field: 'Description', title: '描述' },
                        { sortable: true, field: 'ModifyBy', title: '修改人' },
                        { sortable: true, field: 'ModifyTime', title: '修改时间', align: 'center' },
                        { sortable: true, field: 'CreateBy', title: '创建人' },
                        { sortable: true, field: 'CreateTime', title: '创建时间', align: 'center' }
                    ]]
                });
            },

            // toolbar
            add: function () {
                this.showForm({ Oid: '' });
            },

            edit: function () {
                this.grid.checkSelect(function (e) {
                    Message.alert(JSON.stringify(e.row));
                });
            },

            remove: function (url) {
                this.grid.deleteRows(url, function (e) {
                    Message.alert(JSON.stringify(e.data));
                });
            },

            // private
            showForm: function (data) {
                Dialog.form({
                    id: 'dialogRoleView', width: 800, height: 400,
                    data: data,
                    toolbar: [{
                        text: '保存',
                        iconCls: 'fa-save',
                        handler: function () {
                            Message.alert('Save');
                        }
                    }, {
                        text: '关闭',
                        iconCls: 'fa-close',
                        handler: function () {
                            Dialog.close('dialogRoleView');
                        }
                    }]
                });
            }

        };
        RoleView.show();
    </script>
</template>