<div class="layui-fit">
    <div class="fit-col">
        <table id="gridRole" class="layui-hide" lay-filter="gridRole"></table>
    </div>
</div>
<div class="form-card" id="formRole">
    <div class="form-card-header"></div>
    <div class="form-card-body">
        <div class="layui-form" lay-filter="formRole">
            <input type="hidden" name="Id">
            <div class="layui-form-item">
                <label class="layui-form-label required">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">状态</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="Enabled" lay-skin="switch" lay-text="启用|停用" value="1">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">备注</label>
                <div class="layui-input-block">
                    <textarea name="Note" placeholder="" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-card-footer"></div>
</div>

<script>
    layui.use('frame', function () {
        var url = {
            QueryRoles: '/Role/QueryRoles',
            DeleteRoles: '/Role/DeleteRoles',
            GetRole: '/Role/GetRole',
            SaveRole: '/Role/SaveRole',
            GetRoleModules: '/Role/GetRoleModules',
            SaveRoleModules: '/Role/SaveRoleModules'
        };

        var $ = layui.jquery,
            layer = layui.layer,
            frame = layui.frame;

        var form = frame.form({
            name: 'formRole',
            defData: { Id: '', Enabled: 1 },
            toolbar: [{
                text: '保存', handler: function (e) {
                    e.save(url.SaveRole, function () {
                        grid.reload();
                    });
                }
            }]
        });

        var grid = frame.grid({
            name: 'gridRole',
            config: {
                url: url.QueryRoles, height: 'full-25',
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { type: 'checkbox', fixed: 'left' },
                    { sort: true, title: '名称', field: 'Name', width: 150 },
                    {
                        sort: true, title: '状态', field: 'Enabled', width: 100, templet: function (d) {
                            var checked = d.Enabled ? ' checked' : '';
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|停用" disabled' + checked + '>';
                        }
                    },
                    { sort: true, title: '备注', field: 'Note' }
                ]]
            },
            toolbar: {
                add: function (e) { form.show(); },
                edit: function (e) { e.editRow(form); },
                remove: function (e) { e.deleteRows(url.DeleteRoles); },
                right: function (e) {
                    e.selectRow(function (e) {
                        selectRight(e.row, function (data) {
                            var ids = data.map(d => d.id);
                            frame.post(url.SaveRoleModules, {
                                roleId: e.row.Id,
                                data: JSON.stringify(ids)
                            });
                        });
                    });
                }
            }
        });

        function tree2List(data, pid) {
            return data.reduce((arr, { id, title, children = [] }) =>
                arr.concat([{ id, title, pid }], tree2List(children, id)), []);
        }

        function selectRight(data, callback) {
            var tree = layui.tree;
            frame.open({
                title: '设置权限 - ' + data.Name,
                area: ['450px', '300px'],
                content: '<div id="treeRoleRight"></div>',
                btn: ['确定', '关闭'],
                yes: function () {
                    layer.close(layer.index);
                    var data = tree.getChecked('treeRoleRight');
                    callback && callback(tree2List(data, ''));
                },
                btn2: function () {
                    layer.close(layer.index);
                },
                success: function () {
                    $.get(url.GetRoleModules, {
                        roleId: data.Id
                    }, function (result) {
                        var treeData = frame.common.list2Tree(result, '');
                        tree.render({
                            id: 'treeRoleRight', elem: '#treeRoleRight',
                            data: treeData, showCheckbox: true
                        });
                    });
                }
            });
        }
    });
</script>