<div class="layui-fit">
    <div class="fit-col">
        <table id="gridRole" class="layui-hide" lay-filter="gridRole"></table>
    </div>
</div>

<script type="text/html" id="tbRole">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addSys">
            <i class="layui-icon layui-icon-addition"></i>添加
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="remove">
            <i class="layui-icon layui-icon-delete"></i>删除
        </button>
    </div>
</script>
<script type="text/html" id="tbrRole">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="dialogRole">
    <table class="layui-form form" lay-filter="formRole">
        <tr>
            <th style="width:80px;">编码</th>
            <td>
                <input type="hidden" name="Id">
                <input type="hidden" name="ParentId">
                <input type="hidden" name="Icon">
                <input type="text" name="Code" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </td>
            <th style="width:80px;">
                <span id="dvIcon" style="margin-right:5px;"></span>
                <span>名称</span>
            </th>
            <td>
                <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </td>
        </tr>
        <tr>
            <th>URL</th>
            <td colspan="3">
                <input type="text" name="Url" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </td>
        </tr>
        <tr>
            <th>选项</th>
            <td>
                <input type="checkbox" name="Enabled" lay-skin="switch" lay-text="启用|禁用" value="1">
            </td>
            <th>顺序</th>
            <td>
                <input type="text" name="Sort" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </td>
        </tr>
        <tr>
            <th>备注</th>
            <td colspan="3">
                <textarea name="Note" placeholder="" class="layui-textarea"></textarea>
            </td>
        </tr>
    </table>
</script>