<template>
    <table id="gridUserView"></table>
    <div id="dialogUserView" style="display:none;">
        <table id="ff" class="form">
            <tr>
                <th>名称</th>
                <td>
                    <input name="Name" class="easyui-textbox" required="true" />
                </td>
            </tr>
            <tr>
                <th>选项</th>
                <td>
                    <input name="Enabled" type="checkbox" /><label>有效</label>
                </td>
            </tr>
            <tr>
                <th>备注</th>
                <td>
                    <input name="Note" class="easyui-textbox" multiline="true" style="height:50px;" />
                </td>
            </tr>
        </table>
    </div>
</template>

<template id="script">
    <script>
        var UserView = {

            name: 'UserView',
            grid: null,

            // public
            show: function () {
                this.grid = new Grid(this, {
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { sortable: true, field: 'UserName', title: '账号' },
                        { sortable: true, field: 'Name', title: '姓名' },
                        { sortable: true, field: 'Gender', title: '性别' },
                        { sortable: true, field: 'Phone', title: '座机' },
                        { sortable: true, field: 'Mobile', title: '手机' },
                        { sortable: true, field: 'Email', title: '邮箱' },
                        { sortable: true, field: 'ModifyBy', title: '修改人' },
                        { sortable: true, field: 'ModifyTime', title: '修改时间', align: 'center' },
                        { sortable: true, field: 'CreateBy', title: '创建人' },
                        { sortable: true, field: 'CreateTime', title: '创建时间', align: 'center' }
                    ]]
                });
            },

            // toolbar
            add: function () {
                this.showForm({ Oid: '' });
            },

            edit: function () {
                this.grid.checkSelect(function (e) {
                    Message.alert(JSON.stringify(e.row));
                });
            },

            remove: function (url) {
                this.grid.deleteRows(url, function (e) {
                    Message.alert(JSON.stringify(e.data));
                });
            },

            // private
            showForm: function (data) {
                Dialog.form({
                    id: 'dialogUserView', width: 800, height: 400,
                    data: data,
                    toolbar: [{
                        text: '保存',
                        iconCls: 'fa-save',
                        handler: function () {
                            Message.alert('Save');
                        }
                    }, {
                        text: '关闭',
                        iconCls: 'fa-close',
                        handler: function () {
                            Dialog.close('dialogUserView');
                        }
                    }]
                });
            }

        };
        UserView.show();
    </script>
</template>