<div class="layui-fit">
    <div class="fit-col">
        <table id="gridUser" class="layui-hide" lay-filter="gridUser"></table>
    </div>
</div>
<div class="form-card" id="formUser">
    <div class="form-card-header"></div>
    <div class="form-card-body">
        <div class="form">
            <input type="hidden" name="Id">
            <div class="layui-form-item form-first-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="UserName" placeholder="" readonly autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" placeholder="" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">英文名</label>
                <div class="layui-input-inline">
                    <input type="text" name="EnglishName" placeholder="" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">座机</label>
                <div class="layui-input-inline">
                    <input type="text" name="Phone" placeholder="" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                    <input type="text" name="Mobile" placeholder="" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="Email" placeholder="" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <label class="form-radio">
                        <input type="radio" name="Gender" value="男">
                        <span>男</span>
                    </label>
                    <label class="form-radio">
                        <input type="radio" name="Gender" value="女" checked>
                        <span>女</span>
                    </label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">状态</label>
                <div class="layui-input-inline">
                    <label class="form-radio">
                        <input type="checkbox" name="Enabled" value="1">
                        <span>启用</span>
                    </label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="Note" placeholder=""></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-card-footer"></div>
</div>

<script>
    layui.use('frame', function () {
        var url = {
            QueryUsers: '/User/QueryUsers',
            DeleteUsers: '/User/DeleteUsers',
            ImportUsers: '/User/ImportUsers',
            SetUserPwds: '/User/SetUserPwds',
            EnableUsers: '/User/EnableUsers',
            GetUser: '/User/GetUser',
            SaveUser: '/User/SaveUser',
            GetUserRoles: '/User/GetUserRoles',
            SaveUserRoles: '/User/SaveUserRoles',
        };

        var $ = layui.jquery,
            layer = layui.layer,
            frame = layui.frame;

        var form = frame.form({
            name: 'formUser',
            defData: { Id: '', Enabled: 1 },
            config: {
                init: function (e) {
                    e.form.UserName.setReadonly(e.data.Id !== '');
                }
            },
            toolbar: [{
                text: '保存', handler: function (e) {
                    e.save(url.SaveUser, function () {
                        grid.reload();
                    });
                }
            }]
        });

        var grid = frame.grid({
            name: 'gridUser',
            config: {
                url: url.QueryUsers,
                cols: [[
                    { type: 'numbers', fixed: 'left' },
                    { type: 'checkbox', fixed: 'left' },
                    { sort: true, title: '用户名', field: 'UserName', width: 100 },
                    { sort: true, title: '姓名', field: 'Name', width: 100 },
                    { sort: true, title: '英文名', field: 'EnglishName', width: 100 },
                    {
                        sort: true, title: '性别', field: 'Gender', width: 80, align: 'center', templet: function (d) {
                            if (d.Gender === '男') return '男';
                            return '<span style="color: #F581B1;">女</span>';
                        }
                    },
                    { sort: true, title: '座机', field: 'Phone', width: 120 },
                    { sort: true, title: '手机', field: 'Mobile', width: 120, align: 'center' },
                    { sort: true, title: '邮箱', field: 'Email', width: 150 },
                    {
                        sort: true, title: '状态', field: 'Enabled', width: 100, templet: function (d) {
                            var checked = d.Enabled ? ' checked' : '';
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|停用" disabled' + checked + '>';
                        }
                    },
                    { sort: true, title: '首次登录时间', field: 'FirstLoginTime', width: 150, align: 'center' },
                    { sort: true, title: '首次登录IP', field: 'FirstLoginIP', width: 100, align: 'center' },
                    { sort: true, title: '上次登录时间', field: 'LastLoginTime', width: 150, align: 'center' },
                    { sort: true, title: '上次登录IP', field: 'LastLoginIP', width: 100, align: 'center' }
                ]]
            },
            toolbar: {
                add: function (e) { form.show(); },
                edit: function (e) { e.editRow(form); },
                remove: function (e) { e.deleteRows(url.DeleteUsers); },
                imports: function (e) { },
                role: function (e) {
                    e.selectRow(function (e) {
                        $.get(url.GetUserRoles, {
                            userId: e.row.Id
                        }, function (res) {
                            selectRole({
                                user: e.row, roles: res.roles, value: res.value
                            }, function (data) {
                                frame.post(url.SaveUserRoles, {
                                    userId: e.row.Id,
                                    data: JSON.stringify(data)
                                });
                            });
                        });
                    });
                },
                setPwd: function (e) {
                    e.selectRows(function (e) {
                        frame.confirm('确定要将所选用户密码重置为默认密码？', function () {
                            frame.post(url.SetUserPwds, {
                                data: JSON.stringify(e.ids)
                            });
                        });
                    });
                },
                enable: function (e) { enableUsers(e, 1); },
                disable: function (e) { enableUsers(e, 0); }
            }
        });

        function selectRole(data, callback) {
            var transfer = layui.transfer;
            var userInfo = data.user.Name + '(' + data.user.UserName + ')';
            frame.open({
                title: '设置角色 - ' + userInfo,
                area: ['450px', '300px'],
                content: '<div id="transUserRole"></div>',
                btn: ['确定', '关闭'],
                yes: function () {
                    layer.close(layer.index);
                    var data = transfer.getData('transUserRole');
                    callback && callback(data);
                },
                btn2: function () {
                    layer.close(layer.index);
                },
                success: function () {
                    transfer.render({
                        id: 'transUserRole',
                        elem: '#transUserRole',
                        title: ['未选角色', '已选角色'],
                        data: data.roles,
                        value: data.value,
                        width: 180, height: 205
                    })
                }
            });
        }

        function enableUsers(e, enable) {
            var msg = enable === 1 ? '启用' : '停用';
            e.selectRows(function (e) {
                frame.confirm('确定要' + msg + '所选用户？', function () {
                    frame.post(url.EnableUsers, {
                        data: JSON.stringify(e.ids), enable: enable
                    }, function () {
                        e.grid.reload();
                    });
                });
            });
        }
    });
</script>