@page "/demo"
@attribute [Menu(AppConstant.Demo, "首页", "home", 1)]

<PageTitle>Home</PageTitle>

<div class="kui-card" style="padding:20px">
    <h1 style="font-size:2rem;font-weight:bold">Hello, world!</h1>

    Welcome to your new app.
</div>