<div class="layui-fit">
    <div class="fit-col-3">
        <div id="tree"></div>
    </div>
    <div class="fit-col-7">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">领域模型</li>
                <li>视图代码</li>
                <li>实体代码</li>
                <li>控制器代码</li>
                <li>业务逻辑层</li>
                <li>数据访问层</li>
                <li>数据库脚本</li>
            </ul>
            <div class="layui-tab-content content">
                <div class="layui-tab-item layui-show">
                    <div style="margin-bottom:5px;">
                        <button type="button" id="btnCreate" class="layui-btn layui-btn-sm layui-btn-normal">新建</button>
                        <button type="button" id="btnSave" class="layui-btn layui-btn-sm layui-btn-normal">保存</button>
                        <button type="button" id="btnDelete" class="layui-btn layui-btn-sm layui-btn-danger">删除</button>
                    </div>
                    <div id="formDomain" class="form">
                        <table>
                            <tr>
                                <th style="width:100px;" class="required">类别</th>
                                <td>
                                    <input type="text" name="Category" placeholder="" autocomplete="off" required>
                                </td>
                                <th style="width:100px;" class="required">代码</th>
                                <td>
                                    <input type="text" name="Code" placeholder="" autocomplete="off" required>
                                </td>
                                <th style="width:100px;" class="required">名称</th>
                                <td>
                                    <input type="text" name="Name" placeholder="" autocomplete="off" required>
                                </td>
                            </tr>
                            <tr>
                                <th class="required">字段</th>
                                <td colspan="3">
                                    <textarea name="Fields" placeholder="" style="width:97%;height:300px;" required></textarea>
                                </td>
                                <td colspan="2" valign="top" style="color:#00f;">
                                    <div>规则：名称;编码;数据类型;长度;必填;控件</div>
                                    <div style="margin-bottom:10px;">示例：代码;Code;string;50;0;text</div>
                                    <div>类型：string;int;decimal;date</div>
                                    <div>长度：填string的最大长度</div>
                                    <div>必填：0-可空，1-非空</div>
                                    <div>控件：hidden;text;textarea;radio;checkbox;select;date</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <pre id="codeView" class="layui-code" style="margin:0;"></pre>
                </div>
                <div class="layui-tab-item">
                    <pre id="codeEntity" class="layui-code" style="margin:0;"></pre>
                </div>
                <div class="layui-tab-item">
                    <pre id="codeController" class="layui-code" style="margin:0;"></pre>
                </div>
                <div class="layui-tab-item">
                    <pre id="codeService" class="layui-code" style="margin:0;"></pre>
                </div>
                <div class="layui-tab-item">
                    <pre id="codeRepository" class="layui-code" style="margin:0;"></pre>
                </div>
                <div class="layui-tab-item">
                    <pre id="codeSql" class="layui-code" style="margin:0;"></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('frame', function () {
        var url = {
            GetModels: '/Develop/GetModels',
            GetModel: '/Develop/GetModel',
            SaveModel: '/Develop/SaveModel',
            DeleteModel: '/Develop/DeleteModel'
        };

        var $ = layui.jquery,
            tree = layui.tree,
            layer = layui.layer,
            frame = layui.frame;

        var form = frame.form({ name: 'formDomain' });

        function setModel(code) {
            frame.common.get(url.GetModel, { code: code }, function (data) {
                form.setData(data.Model);
                for (var p in data) {
                    var elem = $('#code' + p);
                    if (elem.length) {
                        elem.html(data[p]);
                    }
                }
            });
        }

        function renderTree() {
            $.get(url.GetModels, function (result) {
                var treeData = Utils.list2Tree(result, 'pid', '');
                tree.render({
                    elem: '#tree', data: treeData, onlyIconControl: true,
                    click: function (obj) {
                        if (!obj.data.children)
                            setModel(obj.data.id);
                    }
                });
            });
        }

        $('#btnCreate').click(function () {
            form.clear();
            $('pre').html('');
        });

        $('#btnSave').click(function () {
            form.save(url.SaveModel, function (d) {
                renderTree();
                setModel(d.Id);
            });
        });

        $('#btnDelete').click(function () {
            frame.common.confirm('确定要删除该模型吗？', function () {
                var code = form.Code.getValue();
                frame.common.post(url.DeleteModel, { code: code }, function (data) {
                    renderTree();
                });
            });
        });

        renderTree();
    });
</script>