<div class="layui-fit">
    <div class="fit-col-3">
        <div id="tree"></div>
    </div>
    <div class="fit-col-7">
        <table id="gridModule" class="layui-hide" lay-filter="gridModule"></table>
    </div>
</div>
<div class="form-card" id="formModule" style="width:60%;">
    <div class="form-card-header"></div>
    <div class="form-card-body">
        <div class="form">
            <input type="hidden" name="Id">
            <input type="hidden" name="ParentId">
            <input type="hidden" name="Icon">
            <div class="layui-form-item form-first-item">
                <label class="layui-form-label required">编码</label>
                <div class="layui-input-inline">
                    <input type="text" name="Code" placeholder="" autocomplete="off" required>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" placeholder="" autocomplete="off" required>
                </div>
                <div id="dvIcon"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">类型</label>
                <div class="layui-input-inline">
                    <label class="form-radio">
                        <input type="radio" name="Type" value="菜单" required>
                        <span>菜单</span>
                    </label>
                    <label class="form-radio">
                        <input type="radio" name="Type" value="按钮" required>
                        <span>按钮</span>
                    </label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">目标</label>
                <div class="layui-input-inline">
                    <label class="form-radio">
                        <input type="radio" name="Target" value="tab" required>
                        <span>Tab</span>
                    </label>
                    <label class="form-radio">
                        <input type="radio" name="Target" value="_blank" required>
                        <span>Blank</span>
                    </label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">URL</label>
                <div class="layui-input-block">
                    <input type="text" name="Url" placeholder="" autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">状态</label>
                <div class="layui-input-inline">
                    <label class="form-radio">
                        <input type="checkbox" name="Enabled" value="1" required>
                        <span>启用</span>
                    </label>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">顺序</label>
                <div class="layui-input-inline">
                    <input type="text" name="Sort" placeholder="" autocomplete="off" required>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="Note" placeholder=""></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="form-card-footer"></div>
</div>

<script type="text/html" id="tbModule">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addSys">
            <i class="layui-icon layui-icon-addition"></i>添加系统
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="addMod">
            <i class="layui-icon layui-icon-addition"></i>新增
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="copy">
            <i class="layui-icon layui-icon-template-1"></i>复制
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="remove">
            <i class="layui-icon layui-icon-delete"></i>删除
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="sql">
            <i class="layui-icon layui-icon-fonts-code"></i>导出SQL
        </button>
    </div>
</script>
<script type="text/html" id="tbrModule">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use('frame', function () {
        var url = {
            GetModuleTree: '/Develop/GetModuleTree',
            CopyModules: '/Develop/CopyModules',
            DeleteModules: '/Develop/DeleteModules',
            ExportModules: '/Develop/ExportModules',
            SaveModule: '/Develop/SaveModule'
        };

        var $ = layui.jquery,
            tree = layui.tree,
            layer = layui.layer,
            frame = layui.frame;

        var form = frame.form({
            name: 'formModule',
            config: {
                setData: function (e) {
                    $('#dvIcon').attr('icon', e.data.Icon)
                        .html('<i class="layui-icon ' + e.data.Icon + '"></i>');
                }
            },
            toolbar: [{
                text: '保存', handler: function (e) {
                    e.save(url.SaveModule, function () {
                        renderTree();
                    });
                }
            }]
        });

        $('#dvIcon').click(function () {
            var icon1 = $(this).attr('icon');
            frame.selectIcon(icon1, function (icon) {
                var data = form.getData();
                data.Icon = icon;
                form.setData(data);
            });
        });

        var node = null;
        var grid = frame.grid({
            name: 'gridModule',
            config: {
                toolbar: '#tbModule',
                initSort: { field: 'Sort', type: 'asc' },
                cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { sort: true, title: '顺序', field: 'Sort', width: 80, align: 'center' },
                    { sort: true, title: '编码', field: 'Code', width: 100 },
                    {
                        sort: true, title: '名称', field: 'Name', width: 150, templet: function (d) {
                            return '<i class="layui-icon ' + d.Icon + '"></i>' + d.Name;
                        }
                    },
                    { sort: true, title: '类型', field: 'Type', width: 80 },
                    { sort: true, title: 'URL', field: 'Url', width: 200 },
                    {
                        sort: true, title: '状态', field: 'Enabled', width: 100, templet: function (d) {
                            var checked = d.Enabled ? ' checked' : '';
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|停用" disabled' + checked + '>';
                        }
                    },
                    { fixed: 'right', title: '操作', toolbar: '#tbrModule', width: 120, align: 'center' }
                ]]
            },
            toolbar: {
                addSys: function (e) { showForm(''); },
                addMod: function (e) {
                    if (!node) {
                        layer.msg('请选择上级模块！');
                        return;
                    }
                    showForm(node.Id);
                    var title = $('#formModule .form-card-header');
                    title.html(title.html() + ' - ' + node.Name);
                },
                copy: function (e) {
                    e.selectRows(function (e) {
                        copyToModule(function (data) {
                            frame.post(url.CopyModules, {
                                data: JSON.stringify(e.ids), mid: data.Id
                            }, function () {
                                renderTree();
                            });
                        });
                    });
                },
                remove: function (e) { deleteModules(e); },
                edit: function (e) { e.editRow(form); },
                del: function (e) { deleteModules(e); },
                sql: function (e) {
                    selectModule(function (list) {
                        var data = list.map(function (d) { return d.id; });
                        frame.common.download(url.ExportModules, {
                            data: JSON.stringify(data)
                        });
                    });
                }
            }
        });

        function showForm(pid) {
            form.show({ Id: '', ParentId: pid, Icon: 'layui-icon-file', Enabled: 1 });
        }

        var copyNode = null;
        function copyToModule(callback) {
            frame.open({
                title: '复制到',
                area: ['250px', '200px'],
                content: '<div id="treeModule"></div>',
                btn: ['确定', '关闭'],
                yes: function (index) {
                    layer.close(index);
                    callback && callback(copyNode);
                },
                btn2: function (index) {
                    layer.close(index);
                },
                success: function (layero) {
                    tree.render({
                        id: 'treeModule', elem: '#treeModule',
                        data: treeData, click: function (obj) {
                            copyNode = obj.data.module;
                            var title = '复制到 - ' + copyNode.Name;
                            $(layero).find('.layui-layer-title').html(title);
                        }
                    });
                }
            });
        }

        function deleteModules(e) {
            e.deleteRows(url.DeleteModules, function () {
                renderTree();
            });
        }

        function selectModule(callback) {
            var treeObj;
            frame.open({
                title: '导出SQL',
                area: ['450px', '300px'],
                content: '<ul id="treeSql" class="ztree"></ul>',
                btn: ['确定', '关闭'],
                yes: function () {
                    layer.close(layer.index);
                    var data = treeObj.getCheckedNodes(true);
                    callback && callback(data);
                },
                btn2: function () {
                    layer.close(layer.index);
                },
                success: function () {
                    treeObj = $.fn.zTree.init($('#treeSql'), {
                        check: { enable: true },
                        data: {
                            key: { url: '' }
                        }
                    }, treeData);
                }
            });
        }

        var treeData;
        function renderTree() {
            $.get(url.GetModuleTree, function (result) {
                treeData = Utils.list2Tree(result, 'pid', '');
                grid.setData(getGridData(treeData));
                tree.render({
                    elem: '#tree', data: treeData, onlyIconControl: true,
                    click: function (obj) {
                        node = obj.data.module;
                        var gridData = getGridData(obj.data.children);
                        grid.setData(gridData);
                    }
                });
            });
        }

        function getGridData(data) {
            if (!data) return [];
            return data.map(function (d) { return d.module; });
        }

        //tree
        renderTree();
    });
</script>