html, body {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;width:100%;height:100%;}
#blazor-error-ui {
    background: lightyellow;bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);display: none;left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;width: 100%;z-index: 1000;
}
#blazor-error-ui .dismiss {cursor:pointer;position:absolute;right:0.75rem;top:0.5rem;}

.login, .login-form-body, .known, .ws-space {background-color:var(--kui-bgcolor);color:var(--kui-color);}
.known, .ws-space, .ws-chart .ant-card, .ws-func .ant-card {border-radius:5px;}

/*Login*/
.login {position:absolute;left:0;right:0;top:0;bottom:0;overflow:auto;}
.login-head {display:flex;justify-content:space-between;padding:20px 200px;font-size:1.2rem;}
.login-logo {display:flex;}
.login-logo img {width:180px;height:50px;}
.login-logo div, .login-head ul {margin:0;padding:0;padding-top:13px;}
.login-body {background:linear-gradient(135deg, #6da0f5, #c0e9fc);height:500px;padding:0 200px;display:grid;grid-template-columns:auto 430px;}
.login-left {padding:60px 100px;}
.login-left ul {padding:40px 10px 10px 50px;display:flex;}
.login-left ul li {margin-right:33px;}
.login-left ul li:first-child {list-style:none;}
.login-left {color:#fff;font-size:1.5rem;font-weight:bold;}
.login-left img {width:350px;}
.login-form {padding:70px 0 50px 50px;}
.login-form h1 {font-size:1.2rem;margin-top:1rem;margin-bottom:1rem;}
.login-form .ant-input-affix-wrapper > .ant-input:not(textarea) {padding-left:10px;}
.login-form-body {position:relative;border-radius:5px;padding:20px 30px;height:370px;box-shadow:0 0 10px 3px rgba(0,0,0,.3);}
.login-copyright {text-align:center;width:100%;font-size:1rem;margin-top:30px;}
.login-copyright span {margin:0 5px;}

@media screen and (max-width:768px) {
    .login {top:50%;margin-top:-320px;}
    .login-head {padding:0;flex-direction:column;}
    .login-logo {padding:20px;flex-direction:column;}
    .login-logo div {padding-left:10px;}
    .login-body {padding:20px 30px;grid-template-columns:100%;height:auto;}
    .login-left, .login-head ul {display:none;}
    .login-form {padding-left:0;padding:0;}
    .login-copyright {margin-top:20px;}
}

/*BaseData*/
.form-company {padding:0 50px 20px 0;}
.form-company button {margin-right:10px;}

@media screen and (max-width:768px) {
    .form-company {padding:0 10px 20px 10px;}
}

/*BizApply*/
.apply-form {position:relative;}
.apply-form canvas {position:absolute;top:-68px;right:0;width:180px;height:40px;}

/*Dark*/
:root[theme=dark] .login-body, :root[theme=dark] .count li {background:linear-gradient(135deg, rgb(45, 46, 46), rgb(40, 41, 41));}