html, body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
#blazor-error-ui {
    background: lightyellow;bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);display: none;left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;width: 100%;z-index: 1000;
}
#blazor-error-ui .dismiss {cursor:pointer;position:absolute;right:0.75rem;top:0.5rem;}

/*Login*/
.login {position:absolute;left:0;right:0;}
.login-logo {display:flex;font-size:1.2rem;padding:20px 200px;}
.login-logo img {width:180px;height:50px;}
.login-logo div {padding-top:13px;}
.login-body {background:linear-gradient(135deg, #6da0f5, #c0e9fc);height:500px;padding:0 200px;display:grid;grid-template-columns:auto 430px;}
.login-left {padding:60px 100px;}
.login-left ul {padding:40px 10px 10px 50px;display:flex;}
.login-left ul li {margin-right:33px;}
.login-left ul li:first-child {list-style:none;}
.login-left {color:#fff;font-size:1.5rem;font-weight:bold;}
.login-left img {width:350px;}
.login-form {position:relative;padding:80px 0 50px 50px;}
.login-form h1 {font-size:1.2rem;margin-bottom:1rem;}
.login-form .ant-input-affix-wrapper > .ant-input:not(textarea) {padding-left:10px;}
.login-form .boot-row .fa {padding-top:10px;width:38px;}
.login-form-body {background-color:#fff;border-radius:5px;padding:20px 30px;height:360px;box-shadow:0 0 10px 3px rgba(0,0,0,.3);}
.login-copyright {text-align:center;width:100%;font-size:1.1rem;margin-top:30px;}
.login-copyright span {margin:0 5px;}

@media screen and (max-width:1500px) {
    .login-left {padding-left:50px;padding-right:50px;}
}
@media screen and (max-width:1200px) {
    .login-logo, .login-body {padding-left:100px;padding-right:100px;}
    .login-left {padding-left:50px;padding-right:50px;}
}
@media screen and (max-width:768px) {
    .login {top:50%;margin-top:-320px;}
    .login-logo {padding:20px;flex-direction:column;}
    .login-logo div {padding-left:10px;}
    .login-body {padding:0 30px;grid-template-columns:100%;height:auto;}
    .login-left {display:none;}
    .login-form {padding-left:0;padding-bottom:30px;}
    .login-form-body {background-color:transparent;padding:0;height:auto;box-shadow:none;}
    .login-copyright {margin-top:20px;}
}

/*Home*/
.known, .ws-space {display:flex;justify-content:space-between;}
.known {margin-top:10px;background-color:#fff;padding:20px;border-left:5px solid #4188c8;}
.known-desc {text-align:justify;}

.ws-space {margin:10px 0;background-color:#fff;padding:20px;}
.ws-welcome {display:flex;padding:10px;}

.ws-avatar {width:80px;height:80px;}
.ws-info {padding:10px;}
.ws-info span {display:block;}
.ws-name {font-size:1.4rem;}
.ws-tips {margin-top:10px;color:#888;}

.ws-chart {height:400px;}

.ws-func {height:400px;margin-left:10px;}
.ws-func-menu {display:inline-block;width:90px;height:80px;padding:8px;text-align:center;font-size:1rem;cursor:pointer;color:#4188c8;}
.ws-func-menu:hover {color:#1c66b9;}
.ws-func-menu .anticon {display:block;font-size:2.2rem;margin:8px auto;}
.ws-func-menu .anticon .icon {width:2.2rem;height:2.2rem;}
.ws-func-menu .name {display:block;width:100%;height:25px;overflow:hidden;}

.ws-chart .ant-card-body, .ws-func .ant-card-body {padding:20px 10px;}

.count {display:flex;justify-content:end;list-style:none;margin:0;padding:0;}
.count li {
    width:140px;height:110px;margin:0 10px;
    background-color:#f5f5f5;position:relative;text-align:left;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.count li .name {display:block;border-bottom:1px solid #e8eaec;padding:5px 10px;}
.count li .month {
    position:absolute;top:5px;right:5px;font-size:14px;padding:0 5px;
    background-color:#e6f7ff;border:1px solid #91d5ff;color:#1890ff;
    -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.count li .amount {
    position:absolute;top:45px;left:5px;right:5px;text-align:center;
    font-size:1.8rem;height:50px;line-height:50px;
}

@media screen and (max-width:768px) {
    .known, .ws-space, .ws-welcome {flex-direction:column;}
    .known {padding:15px;}
    .known-url {margin-top:10px;}
    .ws-space {justify-content:stretch;}
    .ws-func {margin-left:0;margin-top:10px;height:auto;}
}

/*BaseData*/
.form-company {padding:0 50px 20px 0;}
.form-company button {margin-right:10px;}

@media screen and (max-width:768px) {
    .form-company {padding:0 10px 20px 10px;}
}