html, body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
#blazor-error-ui {
    background: lightyellow;bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);display: none;left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;width: 100%;z-index: 1000;
}
#blazor-error-ui .dismiss {cursor:pointer;position:absolute;right:0.75rem;top:0.5rem;}

/*Login*/
.login {position:absolute;left:0;right:0;}
.login-logo {display:flex;font-size:1.2rem;padding:50px 300px;padding-bottom:20px;}
.login-logo img {width:180px;height:50px;}
.login-logo div {padding-top:13px;}
.login-body {background:linear-gradient(135deg, #a1c4fd, #c2e9fb);height:450px;padding:0 300px;display:grid;grid-template-columns:auto 330px;}
.login-left {padding:50px 100px;}
.login-left ul {padding:10px 10px 10px 50px;display:flex;}
.login-left ul li {margin-right:33px;}
.login-left ul li:first-child {list-style:none;}
.login-left {color:#fff;font-size:1.5rem;font-weight:bold;}
.login-left img {width:350px;}
.login-form {position:relative;padding:70px 0 50px 50px;}
.login-form h1 {font-size:1.2rem;margin-bottom:1rem;}
.login-form .ant-input-affix-wrapper > .ant-input:not(textarea) {padding-left:10px;}
.login-form .boot-row .fa {padding-top:10px;width:38px;}
.login-copyright {text-align:center;width:100%;font-size:1.1rem;margin-top:60px;}
.login-copyright span {margin:0 5px;}

@media screen and (max-width:768px) {
    .login {top:50%;margin-top:-320px;}
    .login-logo {padding:20px;flex-direction:column;}
    .login-logo div {padding-left:10px;}
    .login-body {padding:0 30px;grid-template-columns:100%;height:auto;}
    .login-left {display:none;}
    .login-form {padding-left:0;padding-bottom:30px;}
    .login-copyright {margin-top:20px;}
}

/*BaseData*/
.form-company {padding:0 50px 20px 0;}
.form-company button {margin-right:10px;}

@media screen and (max-width:768px) {
    .form-company {padding:0 10px 20px 10px;}
}