<?xml version="1.0" encoding="utf-8"?>
<rewrite>
    <item lookfor="login" sendto="default.aspx?pagetype=login"/>
    <item lookfor="register" sendto="default.aspx?pagetype=register"/>
    <item lookfor="submitorder" sendto="default.aspx?pagetype=submitorder"/>
    <item lookfor="myorder" sendto="default.aspx?pagetype=myorder"/>
    <item lookfor="about" sendto="default.aspx?pagetype=about"/>
    <item lookfor="contact" sendto="default.aspx?pagetype=about&amp;anchor=contact"/>
    <item lookfor="clause" sendto="default.aspx?pagetype=about&amp;anchor=clause"/>
    <item lookfor="agreement" sendto="default.aspx?pagetype=blank&amp;anchor=agreement"/>
</rewrite>
