<table class="layui-form form" lay-filter="formRight">
    <tr>
        <th style="width:80px;">名称</th>
        <td>
            <input type="hidden" name="Id">
            <input type="text" name="Name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </td>
    </tr>
</table>
<script>
    layui.use('helper', function () {
        var url = {
            GetRight: '~/System/GetRight',
            SaveRight: '~/System/SaveRight'
        };

        var $ = layui.jquery,
            layer = layui.layer,
            helper = layui.helper;
    });
</script>