@page "/"
@inherits BasePage

@if (CurrentUser != null)
{
    <CrsSlider />
    <div class="login-entry" @onclick="OnLogin">登录</div>
}
else
{
    <PageLayout Option="option">
        <CrsSlider />
        <Menu Style="menu" Column="2" TextIcon="true" Items="menus" OnChanged="OnMenuChanged" />
    </PageLayout>
}

@code {
    private LayoutOption option = LayoutOption.Main("", "", false);
    private MenuItem[] menus;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        menus = Client.GetMenus(CurrentUser);
    }

    private void OnMenuChanged(MenuItem menu)
    {
        if (string.IsNullOrWhiteSpace(menu.Id))
            return;

        Navigation.NavigateTo(menu.Id);
    }

    private void OnLogin()
    {
        Navigation.NavigateTo("login");
    }
}
