@inherits AdminPage

<div class="bulma-layout">
    <div class="bulma-header">
        <div class="kui-header">
            <div class="app-name">@CurrentUser?.AppName</div>
            <NavTopRight OnMenuClick="OnMenuClick" />
        </div>
    </div>
    <div class="bulma-side">
        <div class="bulma-banner">
            <div class="logo" />
        </div>
        <Menu></Menu>
    </div>
    <div class="bulma-main">
        @if (Context.UserSetting.MultiTab)
        {
            <PageTabs Menu="CurrentMenu" Items="TabMenus" />
        }
        else
        {
            <PageSingle Menu="CurrentMenu" OnHome="OnHome" />
        }
        @if (BulmaConfig.Option.Footer != null)
        {
            <div style="text-align:center;padding:10px;">@BulmaConfig.Option.Footer</div>
        }
    </div>
</div>

@code{
    private void OnHome() => OnMenuClick("home");

    private void OnMenuClick(string id)
    {
        switch (id)
        {
            case "home":
                Context.NavigateToHome();
                break;
            case "profile":
                Context.NavigateToUserProfile();
                break;
            case "logout":
                UI.Confirm("确定要退出系统？", async () =>
                {
                    var result = await SignOutAsync();
                    if (result.IsValid)
                    {
                        OnLogout?.Invoke();
                    }
                });
                break;
        }
    }

    private Task OnSideMenuClick(BulmaRazor.Components.MenuItem item)
    {
        foreach (var menu in UserMenus)
        {
            foreach (var sub in menu.Children)
            {
                // if (item.Id == sub.Id)
                // {
                //     Context.Navigate(sub);
                //     break;
                // }
            }
        }
        return Task.CompletedTask;
    }
}