@page "/install"
@layout EmptyLayout
@inherits BasePage

<InstallForm OnInstall="OnInstall">
    <TopMenu>
        <ul class="kui-menu">
            <li style="text-align:center;"><AntLanguage /></li>
            <li style="margin-left:15px;"><AntTheme /></li>
        </ul>
    </TopMenu>
</InstallForm>

@code {
    private void OnInstall(InstallInfo info)
    {
        App?.NavigateTo("/login");
    }
}