<table class="easyui-datagrid"
       data-options="
            url:'/static/data/products.json',
            method:'get',
            rownumbers: true,
            pagination:true,
            fit:true,
            fitColumns:true,
            remoteSort:false,
			multiSort:true,
            toolbar:'#tb'
        ">
    <thead>
        <tr>
            <th data-options="sortable:true,field:'ck',checkbox:true"></th>
            <th data-options="sortable:true,field:'itemid'" width="80">ID</th>
            <th data-options="sortable:true,field:'productid'" width="100">商品编码</th>
            <th data-options="sortable:true,field:'listprice',align:'right'" width="80">数量</th>
            <th data-options="sortable:true,field:'unitcost',align:'right'" width="80">单价</th>
            <th data-options="sortable:true,field:'attr1'" width="30%">型号</th>
            <th data-options="sortable:true,field:'status',align:'center'" width="60">状态</th>
        </tr>
    </thead>
</table>
<div id="tb" style="padding:2px;height:auto">
    <div style="padding-bottom:2px;border-bottom:1px solid #dfdfdf;">
        <a href="#" class="easyui-linkbutton" iconCls="fa-refresh" plain="true">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-plus" plain="true">新增</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-pencil" plain="true">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-check" plain="true">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-minus" plain="true">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-sign-in" plain="true">导入</a>
        <a href="#" class="easyui-splitbutton" iconCls="fa-sign-out" plain="true" menu="#mExport">导出</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-upload" plain="true">上载</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-download" plain="true">下载</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-exchange" plain="true">同步</a>
        <a href="#" class="easyui-linkbutton" iconCls="fa-remove" plain="true">关闭</a>
    </div>
    <div id="mExport" style="width:100px;">
        <div data-options="iconCls:'fa-file-excel-o'">Excel</div>
        <div data-options="iconCls:'fa-file-pdf-o'">Pdf</div>
    </div>
    <div>
        创建日期: <input class="easyui-datebox" style="width:80px">
        To: <input class="easyui-datebox" style="width:80px">
        Language:
        <select class="easyui-combobox" panelHeight="auto" style="width:100px">
            <option value="java">Java</option>
            <option value="c">C</option>
            <option value="basic">Basic</option>
            <option value="perl">Perl</option>
            <option value="python">Python</option>
        </select>
        <a href="#" class="easyui-linkbutton" iconCls="fa-search">搜索</a>
    </div>
</div>