@typeparam TItem

<Form @ref="_form" TModel="TItem" Model="@Model.Data" OnFinish="OnFinish">
    @if (Model.Fields != null && Model.Fields.Any())
    {
        foreach (var field in Model.Fields)
        {
            var column = field.Column;
            <GridRow>
                <GridCol Span="24">
                    <FormItem LabelColSpan="4" Label="@column.Description" Required="@column.Required">
                        @field.InputTemplate
                    </FormItem>
                </GridCol>
            </GridRow>
        }
    }
</Form>

@code {
    AntDesign.Internal.IForm _form;

    [Parameter] public FormModel<TItem> Model { get; set; }

    private void OnFinish(EditContext editContext)
    {
        
    }
}