@if (Menu.Page != null && Menu.Page.NoBreadcrumb)
{
    <DynamicComponent Type="Menu.ComType" Parameters="Menu.ComParameters" />
}
else
{
    <NavBreadcrumb CurrentMenu="Menu" OnHome="OnHome" />
    <div class="site-layout-background" style="min-height:360px">
        <DynamicComponent Type="Menu.ComType" Parameters="Menu.ComParameters" />
    </div>
}

@code {
    [Parameter] public Known.MenuItem Menu { get; set; }
    [Parameter] public Action OnHome { get; set; }
}