/*home*/
.sys-title{text-align:center;margin:40px 0 15px 0;font-size:24px;}
/*mine*/
.avatar {margin-top:20px;}
.info {background-color:#fff;margin-top:15px;padding:20px;}

/*iot*/
.param {font-size:20px;padding:20px;text-align:center;}
.param-name {
    height:50px;line-height:50px;font-weight:bold;font-size:20px;text-align:left;
    margin-bottom:20px;
}
.param-value {
    width:200px;height:200px;line-height:200px;
    background-color:#1abc9c;margin:0 auto;
    -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;
}
.param-value .value {font-weight:bold;font-size:60px;color:#fff;}
.param-value .unit {color:#8e44ad;}
.param-time {text-align:center;color:#808080;margin-top:20px;}

.setting {padding:20px;font-size:16px;}
.setting .form-title {font-size:18px;}
.setting input {font-size:16px;padding:5px 10px;}
.setting button {font-size:16px;padding:5px 20px;}