@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.SystemName</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/static/login/login.css">
</head>
<body>

    <div class="login">
        <div class="message">@ViewBag.SystemName</div>
        <div id="darkbannerwrap"></div>

        <form method="post">
            <input name="action" value="login" type="hidden">
            <input name="username" placeholder="用户名" required="" type="text" autocomplete="off">
            <hr class="hr15">
            <input name="password" placeholder="密码" required="" type="password">
            <hr class="hr15">
            <input value="登录" style="width:100%;" type="submit">
            <hr class="hr20">
            <a onClick="alert('请联系管理员！')">忘记密码</a>
        </form>

    </div>
    <div class="copyright">© 2017 KNOWN</div>

</body>
</html>