@inherits IndexPage
@inject INotificationService _notice

<PageTitle>@AppConfig.Branch - @Language["App.SubTitle"]</PageTitle>

<KError OnError="OnError">
    <CascadingValue Value="this">
        @if (IsLoaded)
        {
            @if (!Context.Install.IsInstalled)
            {
                <InstallPage OnInstall="OnInstall">
                    <TopMenu>
                        <ul class="kui-menu">
                            <li style="text-align:center;"><AntLanguage OnChanged="StateChanged" /></li>
                            <li style="margin-left:15px;"><AntTheme Theme="@Theme" OnChanged="SetTheme" /></li>
                        </ul>
                    </TopMenu>
                </InstallPage>
            }
            else if (!IsLogin)
            {
                <Known.Shared.Login OnLogin="OnLogin" />
            }
            else
            {
                <Known.AntBlazor.Admin OnLogout="OnLogout" />
            }
        }
    </CascadingValue>
</KError>

@code {
    private Task OnError(Exception ex)
    {
        var config = new NotificationConfig
        {
            Message = Language["Title.Error"],
            Description = ex.Message,
            Placement = NotificationPlacement.BottomRight,
            Duration = null
        };
        if (Config.App.IsDevelopment)
            config.Description = ex.ToString();
        return _notice.Error(config);
    }

    // //第三方登录设置当前用户
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //    if (firstRender)
    //        await SetCurrentUserAsync(CurrentUser);
    //    await base.OnAfterRenderAsync(firstRender);
    // }

    // //第三方登录获取当前用户
    // protected override async Task<UserInfo> GetThirdUserAsync()
    // {
    //    //var third = ThirdApi.GetUser();
    //    var third = new { UserName = "admin" };
    //    var user = await Platform.GetUserAsync(third.UserName);
    //    return user;
    // }
}