@inherits LoginPage

<div class="login">
    <div class="login-head">
        <div class="login-logo">
            <img src="img/logo1.png" />
            <div>@AppConfig.SubTitle</div>
        </div>
        <ul>
            <li><a href="http://known.pumantech.com/doc" target="_blank">文档</a></li>
        </ul>
    </div>
    <div class="login-body">
        <div class="login-left">
            <ul>
                <li>开源</li>
                <li>低代码</li>
                <li>现代UI</li>
            </ul>
            <img src="_content/Known.Shared/img/login.png" />
        </div>
        <div class="login-form">
            <div class="login-form-body">
                <Tooltip Title="在此处切换界面类型" Style="position:absolute;top:0;right:0;">
                    <Segmented TValue="string" Value="Index.UIType.ToString()" Labels="uiTypes" OnChange="OnUIChanged" />
                </Tooltip>
                @if (Index.UIType == UIType.AntDesign)
                {
                    <Known.AntBlazor.LoginForm Model="Model" OnLogin="OnUserLogin" />
                }
                else if (Index.UIType == UIType.Bootstrap)
                {
                    <Known.BootBlazor.LoginForm Model="Model" OnLogin="OnUserLogin" />
                }
            </div>
        </div>
    </div>
    <div class="login-copyright"><PageFooter /></div>
</div>

@code {
    private string[] uiTypes = [
        UIType.AntDesign.ToString(),
        UIType.Bootstrap.ToString()
    ];

    [CascadingParameter] private Index Index { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.UserName = "Admin";
        Model.Password = "888888";
    }

    private void OnUIChanged(string item)
    {
        var type = Utils.ConvertTo<UIType>(item);
        Index.SetUIType(type);
    }
}