@inherits LoginPage

<div class="login">
    <Tooltip Title="在此处切换界面类型" Style="margin:5px;">
        <Segmented TValue="string" Value="Index.UIType.ToString()" Labels="uiTypes" OnChange="OnUIChanged" />
    </Tooltip>
    <div class="login-form">
        <div class="login-left">
            <div class="slogan">@Config.App.Name</div>
            <div class="image"><img src="_content/Known.Demo/img/login.jpg" /></div>
        </div>
        <div class="login-right">
            <h1>用户登录</h1>
            @if (Index.UIType == UIType.AntDesign)
            {
                <Known.AntBlazor.LoginForm Model="Model" OnLogin="OnUserLogin" />
            }
            else if (Index.UIType == UIType.Bootstrap)
            {
                <Known.BootBlazor.LoginForm Model="Model" OnLogin="OnUserLogin" />
            }
        </div>
    </div>
</div>
<div class="copyright">
    <span>©2020-@DateTime.Now.ToString("yyyy")</span>
    <span>Powered By</span>
    <a href="http://known.pumantech.com" target="_blank">Known</a>
</div>

@code {
    private string[] uiTypes = [
        UIType.AntDesign.ToString(),
        UIType.Bootstrap.ToString()
    ];

    [CascadingParameter] private Index Index { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.UserName = "Admin";
        Model.Password = "888888";
    }

    private void OnUIChanged(string item)
    {
        var type = Utils.ConvertTo<UIType>(item);
        Index.SetUIType(type);
    }
}