@inherits LoginPage

<div class="login">
    <div class="login-logo">
        <img src="img/logo1.png" />
        <div>@AppConfig.SubTitle</div>
    </div>
    <div class="login-body">
        <div class="login-left">
            <ul>
                <li>开源</li>
                <li>低代码</li>
                <li>现代UI</li>
            </ul>
            <img src="_content/Known.Shared/img/login.png" />
        </div>
        <div class="login-form">
            <Tooltip Title="在此处切换界面类型" Style="position:absolute;top:0;right:0;">
                <Segmented TValue="string" Value="Index.UIType.ToString()" Labels="uiTypes" OnChange="OnUIChanged" />
            </Tooltip>
            <div class="login-form-body">
                <h1>用户登录</h1>
                @if (Index.UIType == UIType.AntDesign)
                {
                    <Known.AntBlazor.LoginForm Model="Model" OnLogin="OnUserLogin" />
                }
                else if (Index.UIType == UIType.Bootstrap)
                {
                    <Known.BootBlazor.LoginForm Model="Model" OnLogin="OnUserLogin" />
                }
            </div>
        </div>
    </div>
    <div class="login-copyright">
        <div>
            <span>&copy;2020-@DateTime.Now.ToString("yyyy")</span>
            <span>Powered By</span>
            <a href="http://known.pumantech.com" target="_blank">Known</a>
        </div>
        <div style="margin-top:10px;">
            <a href="https://gitee.com/known/Known" target="_blank">GITEE</a>
            <span>&sdot;</span>
            <a href="https://github.com/known/Known" target="_blank">GITHUB</a>
        </div>
    </div>
</div>

@code {
    private string[] uiTypes = [
        UIType.AntDesign.ToString(),
        UIType.Bootstrap.ToString()
    ];

    [CascadingParameter] private Index Index { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.UserName = "Admin";
        Model.Password = "888888";
    }

    private void OnUIChanged(string item)
    {
        var type = Utils.ConvertTo<UIType>(item);
        Index.SetUIType(type);
    }
}