@inherits LoginPage

<div class="login">
    <Tooltip Title="在此处切换界面类型" Style="margin:5px;">
        <Segmented TValue="string" Labels="uis" OnChange="OnUIChanged" />
    </Tooltip>
    <div class="login-form">
        <div class="login-left">
            <div class="slogan">@Config.App.Name</div>
            <div class="image"><img src="_content/Known.Demo/img/login.jpg" /></div>
        </div>
        <div class="login-right">
            <h1>用户登录</h1>
            <Known.AntBlazor.LoginForm Model="Model" OnLogin="OnUserLogin" />
        </div>
    </div>
</div>
<div class="copyright">
    <span>©2020-@DateTime.Now.ToString("yyyy")</span>
    <span>Powered By</span>
    <a href="http://known.pumantech.com" target="_blank">Known</a>
</div>

@code {
    string[] uis = ["AntDesign", "Bootstrap", "KBlazor"];
    [CascadingParameter] private Index Index { get; set; }
    [Inject] private Known.AntBlazor.UIService AntUI { get; set; }
    //[Inject] private Known.BootBlazor.UIService BootUI { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model.UserName = "Admin";
        Model.Password = "888888";
    }

    private void OnUIChanged(string item)
    {
        Index.SetUIType(item);
        if (item == "AntDesign")
            Context.UI = AntUI;
        else if (item == "Bootstrap")
            Context.UI = AntUI;
        else
            Context.UI = AntUI;
    }
}