@page "/weather"
@inherits BaseComponent
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<div class="kui-card" style="padding:20px">
    <h1>Weather</h1>

    <p>This component demonstrates fetching data from the server.</p>

    <KTable Model="model" />
</div>

@code {
    private TableModel<WeatherForecast> model;

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        model = new TableModel<WeatherForecast>(this, TableColumnMode.Property);
        model.ShowPager = true;
        model.OnQuery = OnQueryWeatherForecastsAsync;
    }

    private async Task<PagingResult<WeatherForecast>> OnQueryWeatherForecastsAsync(PagingCriteria criteria)
    {
        await Task.Delay(500);

        // var startDate = DateOnly.FromDateTime(DateTime.Now);
        // var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        // var forecasts = Enumerable.Range(1, criteria.PageSize).Select(index => new WeatherForecast
        // {
        //     Date = startDate.AddDays(index),
        //     TemperatureC = Random.Shared.Next(-20, 55),
        //     Summary = summaries[Random.Shared.Next(summaries.Length)]
        // }).ToList();

        var forecasts = await Http.GetFromJsonAsync<List<WeatherForecast>>("sample-data/weather.json");
        return new PagingResult<WeatherForecast>(100, forecasts);
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}