<div class="mini-splitter" style="width:100%;height:100%;">

    <div id="splitLeft" tooltip="关闭/显示菜单" size="150px" 
         showCollapseButton="true" style="padding:5px;">
        <ul id="leftTree" class="mini-tree" url="/static/data/demo/menu.txt"
            style="width:100%;height:100%;" resultAsTree="false">
        </ul>
    </div>

    <div id="splitRight"></div>

</div>

<script>
    var DevelopView = {

        show: function () {
            mini.get('leftTree').on('nodeselect', this.onTreeNodeSelect);
        },

        close: function () {
            window.CloseOwnerWindow();
        },

        onTreeNodeSelect: function (e) {
            $('#splitRight').loadHtml('/Develop/Partial', {
                name: e.node.view
            }, function () {
                mini.parse();
                if (e.node.id === 'code') {
                    DevCodeGen.show();
                } else if (e.node.id === 'data') {
                    DevDatabase.show();
                } else if (e.node.id === 'grid') {
                    DemoGrid.show();
                } else if (e.node.id === 'tab') {
                    DemoTab.show();
                } else if (e.node.id === 'form') {
                    DemoForm.show();
                } else if (e.node.id === 'report') {
                    DemoReport.show();
                }
            });
        }

    };

    mini.parse();
    DevelopView.show();
</script>