.form {
    width: 100%;
    border-collapse: collapse;
}

.form th {
    font-weight: normal;
    background: #f1f1f1;
    border: 1px solid #ccc;
    text-align: right;
}

.form td {
    border: 1px solid #ccc;
}

input, select, textarea {
    border: 0;
    padding: 4px;
}

input:focus {
    border: 0;
}

/*easyui
.datagrid-wrap {
    border: 0;
}

.textbox-label {
    width: auto;
}

.window {
    background: #3c8dbc;
    border: 0;
}

.window .panel-header {
    border: 0;
}

.window .panel-title {
    color: #fff;
    padding-left: 10px;
}

.window .window-body {
    border: 0;
}

.window .dialog-button {
    border: 0;
    border-top: 1px solid #ddd;
    padding: 2px;
}
*/