.dashboard {
    width: 100%;
    table-layout: fixed;
}

.dashboard td {
    vertical-align: top;
    padding: 10px;
}

.box {
    border: 1px solid #aed0ea;
}

.box-header {
    padding: 10px;
    clear: both;
    height: 40px;
}

.box-header .title {
    float: left;
    font-size: 15px;
    font-weight: bold;
}

.box-header .title i {
    margin-right: 5px;
}

.box-body {
    display: none;
    padding: 10px;
}

.box .active {
    display: block;
}

.box .chart {
    width: 100%;
    height: 100%;
}

.small-box {
    border-radius: 5px;
    position: relative;
    display: block;
    margin-bottom: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.small-box > .inner {
    padding: 25px 10px;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
    padding-left: 10px;
}

.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}

.small-box h3,
.small-box p {
    z-index: 5;
}

.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.small-box:hover .icon {
    font-size: 95px;
}

@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }

    .small-box .icon {
        display: none;
    }

    .small-box p {
        font-size: 12px;
    }
}