.gridLink {
    color: #00f;
    cursor: pointer;
}

.query {
    padding: 2px;
    border: none;
}

.form {
    width: 100%;
    border-collapse: collapse;
}

.form th {
    font-weight: normal;
    border: 1px solid #aed0ea;
    padding: 2px;
    text-align: right;
}

.form td {
    border: 1px solid #aed0ea;
    padding: 2px;
}

.noborder th, .noborder td,
.mini-checkboxlist td {
    border: 0;
}

input, select, textarea {
    padding: 2px;
    outline: none;
    background: transparent;
    border: none;
    outline: medium;
}

.text-primary,
.mini-button .fa-save,
.mini-button .fa-pencil,
.mini-button .fa-file-excel-o,
.mini-button .fa-download,
.mini-menu .fa-save,
.mini-menu .fa-pencil,
.mini-menu .fa-file-excel-o,
.mini-menu .fa-download {
    color: #337ab7;
}

.text-success,
.mini-button .fa-plus,
.mini-button .fa-upload,
.mini-menu .fa-plus,
.mini-menu .fa-upload {
    color: #5cb85c;
}

.text-info,
.mini-button .fa-copy,
.mini-button .fa-sign-in,
.mini-button .fa-sign-out,
.mini-menu .fa-copy,
.mini-menu .fa-sign-in,
.mini-menu .fa-sign-out {
    color: #5bc0de;
}

.text-warning {
    color: #f0ad4e;
}

.text-danger,
.mini-button .fa-remove,
.mini-button .fa-minus,
.mini-button .fa-file-pdf-o,
.mini-menu .fa-remove,
.mini-menu .fa-minus,
.mini-menu .fa-file-pdf-o {
    color: #d9534f;
}