.header {
    height: 60px;
    background: #3c8dbc;
    color: #fff;
}

.header h1 {
    margin: 0;
    padding: 0;
    line-height: 60px;
}

.footer {
    height: 30px;
}

.footer .copyright {
    text-align: right;
    line-height: 30px;
    margin-right: 10px;
}
