@inherits AdminPage

<Layout Style="min-height:100vh;">
    @if (IsLoaded)
    {
        <Sider Breakpoint="@BreakpointType.Lg" CollapsedWidth="60" Collapsible Theme="ThemeSider">
            <div class="kui-logo" />
            <AntMenu Theme="ThemeMenu" Accordion="Context.UserSetting.Accordion" Items="UserMenus" OnClick="e=>Context.Navigate(e)" />
        </Sider>
        <Layout>
            <Header Class="kui-background kui-header">
                <div class="kui-app-name">@CurrentUser?.AppName</div>
                <NavTopRight OnMenuClick="OnMenuClick" />
            </Header>
            <Content>
                @if (Context.UserSetting.MultiTab)
                {
                    <PageTabs Menu="CurrentMenu" Items="TabMenus" />
                }
                else
                {
                    <PageSingle Menu="CurrentMenu" OnHome="OnHome" />
                }
            </Content>
            @if (AntConfig.Option.Footer != null)
            {
                <Footer Style="text-align:center">@AntConfig.Option.Footer</Footer>
            }
            else
            {
                <Footer Style="text-align:center"><PageFooter /></Footer>
            }
        </Layout>
    }
</Layout>

@code{
    private SiderTheme ThemeSider => Context.UserSetting.IsLight ? SiderTheme.Light : SiderTheme.Dark;
    private MenuTheme ThemeMenu => Context.UserSetting.IsLight ? MenuTheme.Light : MenuTheme.Dark;

    private void OnHome() => OnMenuClick("home");

    private void OnMenuClick(string id)
    {
        switch (id)
        {
            case "home":
                Context.NavigateToHome();
                break;
            case "profile":
                Context.NavigateToUserProfile();
                break;
            case "logout":
                UI.Confirm("确定要退出系统？", SignOutAsync);
                break;
        }
    }
}