<Reconnector>
    <Show>
        <div class="text">系统正在更新，请稍候...</div>
    </Show>
    <Failed>
        <div class="text">系统连接失败，请确认网络，尝试重新连接！</div>
        <a href="javascript:window.Blazor.reconnect()" class="ant-btn ant-btn-primary">重新连接</a>
    </Failed>
    <Rejected>
        <div class="text">系统更新成功，请重新加载！</div>
        <a href="javascript:location.reload()" class="ant-btn ant-btn-primary">重新加载</a>
    </Rejected>
    <Error>
        <div class="text">抱歉，系统出错了，请重新加载！</div>
        <a href="javascript:location.reload()" class="ant-btn ant-btn-primary">重新加载</a>
    </Error>
</Reconnector>