<ul class="kui-menu">
    @ChildContent
    @if (Config.App.IsLanguage)
    {
        <li style="text-align:center;"><KLanguage /></li>
    }
    @if (Config.App.IsTheme)
    {
        <li style="margin-left:15px;"><AntTheme /></li>
    }
</ul>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}